{% extends "layout.html" %}

{% block pageTitle %}
	Employer account setup complete
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  <div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
			  Employer account created
			</h1>
		  </div>
		  
		


				<p class="govuk-body">
					We've sent you a confirmation email.
				</p>

				<h2 class="govuk-heading-m">Within the Service you can:</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li>add new team members</li>
					<li>manage and control permissions of team members</li>
					<li>select your notification settings</li>
					<li>manage apprentices</li>
					<li>give or change permissions to your training provider</li>
				</ul>
				<p>You, or your training provider if you've given them permission, will be able to:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>create your own adverts to advertise on Find an apprentice</li>
					<li>reserve funding for apprenticeship training</li>
					<li>request and receive transfer funds</li>
				</ul>

				<p>If you have given permission for your training provider to do some tasks on your behalf, you will still need to log into the Service to check and approve their actions.</p>

				{{ govukButton({
					text: "Go to your account homepage"
				}) }}
	 


  




		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

{% endblock %}
