{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Add apprentice request sent to training provider" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v2/training-provider-adds/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Apprentice cohort approved
          </h1>
        </div>
        <div class="govuk-!-padding-bottom-5"></div>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cohort reference
            </dt>
            <dd class="govuk-summary-list__value">
              N6JNL8
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Training provider
            </dt>
            <dd class="govuk-summary-list__value">
              EDUC8 TRAINING
            </dd>
          </div>
        </dl>

        <p class="govuk-body">
          We will inform your training provider that the cohort has been approved.
        </p>


        <h2 class="govuk-heading-m">What happens next?</h2>


        <p class="govuk-body">
          Your apprentice(s) have been approved and can be found under <a href="#" class="govuk-link">manage your
            apprentices</a> section of the homepage.
        </p>

        <div class="govuk-!-padding-bottom-5"></div>

        <a href="/employer/v2/training-provider-adds/index-2" role="button" draggable="false"
          class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Return to dashboard
        </a>



      </div>
    </div>


</div>
</div>

</main>
</div>

{% endblock %}

{% endblock %}