{% extends "layout.html" %}

{% block pageTitle %}
  Terms and conditions
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		<a href="#" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}


		{% set html %}
		<p class="govuk-notification-banner__heading">
			We've updated our terms of use.
			<a class="govuk-notification-banner__link" href="updated-terms-and-conditions">Read our updated terms and conditions</a>.
		</p>
		{% endset %}

		{{ govukNotificationBanner({
		html: html,
		titleText: 'Action required'
		}) }}

		<form action="terms-of-use-branch" method="post">
		{{ govukRadios({
			idPrefix: "terms-of-use",
			name: "terms-of-use",
			fieldset: {
			  legend: {
				text: "Do you want to read the new terms of use now?",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--l"
			  }
			},
			hint: {
			  text: "You will need to read these before [X date] to ensure continued access to the apprenticeship service."
			},
			items: [
			  {
				value: "read-now",
				text: "Read the new terms of use"
				
			  },
			  {
				value: "read-later",
				text: "Read later",
				hint: {
				  text: "You will be required to read and accept the new terms of use prior to the [X date] to ensure continued access to this service."
				}
			  }
			]
		  }) }}
		
		<button class="govuk-button" data-module="govuk-button">Continue</button>
      
		  </form>
    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
