{% extends "layouts/main.html" %}

{% block pageTitle %}
Rename your apprenticeship service account
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}



<div class="govuk-width-container">
	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

	
	
<div class="govuk-grid-column-two-thirds govuk-!-padding-top-6 govuk-!-padding-bottom-6">
				


	
	<form method="post" action="account-name-confirm">
    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "account-name-confirm-check",
        name: "account-name-confirm-check",
        fieldset: {
            legend: {
                text: "Are you sure you want to change your account name to  " + data["as-account-name"] + "?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl "
            }
        },
        hint: {
            text: "Your new account name will be visible to training providers. You can change your account name at any time."
        },
        items: [
            {
                value: "yes",
                text: "Yes, change my account name"
            },
            {
                value: "no",
                text: "No, do not change my account name"
            }
        ]
    }) }} 

    <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>

  
</form>

	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
