{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}



<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
			<h1 class="govuk-panel__title">
			  Apprenticeship service account name saved
			</h1>
			<div class="govuk-panel__body">
				{{ data['as-account-name'] }}
			</div>
		  </div>
		  
    <!--
  
		  <p class="govuk-body govuk-!-margin-top-9 govuk-!-margin-bottom-6">
			<b>Apprenticeship service account name</b><br>
			{{ data['as-account-name'] }}
		</p>	
	  
-->
		
			

		 {{ govukButton({
				text: "Continue creating your account",
				href: "task-list-3"
			}) }}

		</div>
	  </div>
	</main>
  </div>

{% endblock %}

{% endblock %}
