{% extends "layouts/main.html" %}

{% block pageTitle %}
	Confirm your identity
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

	<h1 class="govuk-heading-xl">Confirm your identity</h1>


		<h2 class="govuk-heading-l">We've sent you an email</h2>
		<p>To confirm your identity, we've sent a code to name@emailaddress.com</p>

			
	
	

	<div class="govuk-form-group">
		<label class="govuk-label" for="three-quarters">
		  <b>Enter code</b>
		</label>
		<input class="govuk-input govuk-input--width-10" id="three-quarters" name="three-quarters" type="text"></div>



{{ govukButton({
	text: "Continue",
	href: "task-list-2"
}) }}


<h3 class="govuk-heading-s">Not received an email?</h3>
<p class="govuk-body">
	<a href="another-email">You can request another email</a>
</p>


	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
