{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			
	<h1 class="govuk-heading-xl">Check your details</h1>
	
	
	

	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
		  Organisation
		</dt>
		<dd class="govuk-summary-list__value">
		  {{ data['as-account-name'] }}
		</dd>
		<dd class="govuk-summary-list__actions">
			<td class="govuk-table__cell"><a href="account-name">Change</a></td>
		</dd>
	  </div>
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
		  Address
		</dt>
		<dd class="govuk-summary-list__value">
		  112-114<br>
		  Witton<br>
		  Northwich<br>
		  Cheshire<br>
		  CW8 4RF
		</dd>
		<dd class="govuk-summary-list__actions">
		  <!--<a class="govuk-link" href="#">
			Change<span class="govuk-visually-hidden"> Address</span>
		  </a>-->
		</dd>
	  </div>
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
		  Companies House number
		</dt>
		<dd class="govuk-summary-list__value">
		 06041682
		</dd>
		<dd class="govuk-summary-list__actions">
		  <a class="govuk-link" href="#">
			Change<span class="govuk-visually-hidden"> Companies House number</span>
		  </a>
		</dd>
	  </div>
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
		  PAYE scheme
		</dt>
		<dd class="govuk-summary-list__value">
		  102/LE85668
		</dd>
		<dd class="govuk-summary-list__actions">
		  <a class="govuk-link" href="#">
			Change<span class="govuk-visually-hidden"> contact details</span>
		  </a>
		</dd>
	  </div>
	</dl>



		{{ govukButton({
		  text: "These details are corect",
		  href: "task-list-3"
		}) }}

		

	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
