{% extends "layout.html" %}

{% block pageTitle %}
	Create an account to manage apprenticeships
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			
	<h1 class="govuk-heading-xl">Create an account to manage apprenticeships</h1>
	
	<p class="govuk-body">
		You need to create or <a href="#">sign in </a>to an apprenticeship account, then you'll be able to get funding to pay for apprenticeship training and assessment costs.
	</p>		

	<p class="govuk-body">
		You’ll use your account to:
	</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>get apprenticeship funding</li>
			<li>find and save apprenticeships</li>
			<li>find, save and manage training providers</li>
			<li>recruit apprentices</li>
			<li>add and manage apprenticeships</li>
		</ul>
      
		<h2 class="govuk-heading-m">Before you start</h2>

		<p class="govuk-body">
		<b>	All employers will need:</b>
		</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>an email address you have access to	</li>
				<li>authority to add PAYE schemes to the account</li>
				<li>authority to accept the employer agreement on behalf of your organisation</li>

			</ul>



			<p class="govuk-body">
				<b>If you have a pay bill of more than £3 million (levy paying employer):</b>
			</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>the Government Gateway login for your organisation	</li>	
				</ul>
	


				<p class="govuk-body">
					<b>If you have a pay bill of less than £3 million (non-levy paying employer):</b>
				</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>accounts office reference number (AORN) and employer PAYE scheme reference number  (you may need to ask your accountant for this) or</li>	
						
						<li>the Government Gateway login for your organisation</li>	
				</ul>




		{{ govukButton({
		  text: "Create account",
		  href: "task-list",
		  isStartButton: true
		}) }}

		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

		<h2 class="govuk-heading-m">Already have an account?</h2>

		<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
			Sign in
		  </button>

		  <!-- <p class="govuk-body govuk-link--no-visited-state">
			  <a href="#">Sign in</a>
		  <p> -->



	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
