{% extends "layout.html" %}

{% block pageTitle %}
Create your employer account
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		 
		  
  
		  <h1 class="govuk-heading-xl">
				Create your employer account
			  </h1>
  
		  

		  <ol class="app-task-list">
			<li>
			  
			  <ul class="app-task-list__items" style="padding-left:0">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="set-up-as-a-user" aria-describedby="eligibility-status">
								Add employer details and confirm identity
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="add-paye-scheme" aria-describedby="eligibility-status">
								Add PAYE scheme
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="enter-ukprn" aria-describedby="eligibility-status">
								Add training provider
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="select-permissions" aria-describedby="eligibility-status">
								Set training provider permissions
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="employer-agreement" aria-describedby="eligibility-status">
								View and accept the employer agreement
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
					</li>
				
		
  
			  </ul>
			</li>

	
		<!--	<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

			<p class="govuk-body">
			<a href="#">I want to finish setting up my account later</a>	
			</p>-->




		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

{% endblock %}
