{% extends "layouts/main.html" %}

{% block pageTitle %}
  Contact the National Apprenticeship Helpdesk to get help
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}




<div class="govuk-width-container">
	{% include "includes/back-link-save-return.html" %}
	
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			


	<h1 class="govuk-heading-xl">Contact the National Apprenticeship Helpdesk to get help</h1>
	
	<p class="govuk-body">
		Our opening times are 8am to 8pm Monday to Friday.
	</p>	

            <h2 class="govuk-heading-m">Webchat</h2>
            <p class="govuk-body">
              <a href="">Speak to an adviser now</a>
            </p>
  
            <h2 class="govuk-heading-m">Send a message</h2>
            <p class="govuk-body">
              You can <a href="">send a message</a>. During our opening times, we'll reply within 4 hours.
            </p>

            <h2 class="govuk-heading-m">Email</h2>
            <p class="govuk-body">
              Send an email to
            </p>
            <p class="govuk-body">
              <a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a>
            </p>
            <p class="govuk-body">
              During our opening times, we'll reply within 4 hours.
            </p>

            <h2 class="govuk-heading-m">Phone</h2>
            <p class="govuk-body">
              Call us on 08000 150 600.
            </p>
            <p class="govuk-body">
              Text us on <a href="#">07588 690018</a>.
            </p>
            <p class="govuk-body">
              You cannot send us photos or videos via text.
            </p>
            <p class="govuk-body">
              Your phone company may charge you separately, standard SMS rates apply.
            </p>

            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
            </p>

	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
