//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 
@import "components/_card"; // icon font styles
@import "components/_das-card"; // icon font styles
@import "components/_tabs_boxes"; // icon font styles

@import "components/_gov-header"; // icon font styles

@import "digital-cerificates.scss"; // Digital Certificates styles

// Add extra styles here



.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden;
}

//DAS Nav and header


.app-apprentice-service-header {
  margin-bottom: 0;
  border-bottom: 0;
}


//DAS Account header
.das-account-header {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #fff;
  padding: 5px 0;
}

@media print {
  .das-account-header {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .das-account-header {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579
  }
}

@media print {
  .das-account-header {
    font-size: 14pt;
    line-height: 1.15
  }
}

@media (min-width: 40.0625em) {
  .das-account-header {
    padding: 0
  }
}

.das-account-header>.govuk-width-container:after {
  content: "";
  display: block;
  clear: both
}

.das-account-header--provider {
  background: #f47738
}

.das-account-header--employer {
  background: #6f72af
}

.das-account-header__title {
  margin: 0 -15px;
  padding: 10px 15px;
  font-weight: 700;
  color: #FFFFFF
}

@media (min-width: 40.0625em) {
  .das-account-header__title {
    float: left;
    padding: 8px 15px
  }
}

.das-user-navigation {
  margin: 0 -15px
}

//DAS - User navigation

@media (min-width: 40.0625em) {
  .das-user-navigation {
    float: right
  }
}

.das-user-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0
}

@media (min-width: 40.0625em) {
  .das-user-navigation__list-item {
    float: left;
    position: relative
  }
}

a.das-user-navigation__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid transparent
}

a.das-user-navigation__link:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0
}

a.das-user-navigation__link:hover {
  text-decoration: underline
}

.das-user-navigation__list-item--has-sub-menu a.das-user-navigation__link {
  padding-right: 32px;
  position: relative
}

.das-user-navigation__list-item--has-sub-menu a.das-user-navigation__link:after {
  position: absolute;
  right: 15px;
  top: 17px;
  border-color: transparent;
  border-width: 8px;
  border-style: solid;
  width: 0;
  height: 0;
  content: "";
  border-width: 8px 4.61894px 0 4.61894px;
  border-color: #fff transparent transparent transparent
}

@media (min-width: 40.0625em) {
  .govuk-header .das-user-navigation__list-item--has-sub-menu a.das-user-navigation__link:after {
    top: 20px
  }
}

.das-user-navigation__sub-menu--open a.das-user-navigation__link:after {
  top: 15px;
  border-color: transparent;
  border-width: 8px;
  border-style: solid;
  width: 0;
  height: 0;
  content: "";
  border-width: 0 4.61894px 8px 4.61894px;
  border-color: transparent transparent #005ea5 transparent
}

@media (min-width: 40.0625em) {
  .govuk-header .das-user-navigation__sub-menu--open a.das-user-navigation__link:after {
    top: 18px
  }
}

@media (min-width: 40.0625em) {
  .govuk-header a.das-user-navigation__link {
    position: relative;
    margin-top: -10px;
    padding-top: 15px;
    padding-bottom: 15px
  }
}

.das-user-navigation__sub-menu {
  background: #6f777b;
  list-style: none;
  padding: 10px;
  margin: 0;
  z-index: 1
}

@media (min-width: 48.0625em) {
  .das-user-navigation__sub-menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 20px;
    background: #fff;
    margin-top: -1px;
    border: 1px solid #bfc1c3
  }
}

@media (min-width: 48.0625em) {
  .das-user-navigation__sub-menu-list-item {
    border-bottom: 1px solid #bfc1c3
  }

  .das-user-navigation__sub-menu-list-item:last-child {
    border-bottom: none
  }
}

.das-user-navigation__sub-menu-link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
  font-size: 15px
}

.das-user-navigation__sub-menu-link:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0
}

.das-user-navigation__sub-menu-link:hover {
  text-decoration: underline
}

@media (min-width: 48.0625em) {
  .das-user-navigation__sub-menu-link {
    color: #005ea5;
    text-decoration: underline;
    white-space: nowrap;
    font-size: inherit;
    margin: 0 -15px;
    padding: 10px 15px
  }
}

.das-user-navigation__sub-menu--open>a {
  background: #fff;
  color: #005ea5;
  position: relative;
  z-index: 2;
  border: 1px solid #bfc1c3;
  border-bottom: 1px solid #fff
}

// DAS Navigation links
.das-navigation {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  border-bottom: 1px solid #6f777b
}

@media print {
  .das-navigation {
    color: #000
  }
}

@media print {
  .das-navigation {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .das-navigation {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579
  }
}

@media print {
  .das-navigation {
    font-size: 14pt;
    line-height: 1.15
  }
}

.das-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
  position: relative
}

.das-navigation__list:after {
  content: "";
  display: block;
  clear: both
}

.das-navigation__list-item {
  float: left
}

a.das-navigation__link {
  display: block;
  padding: 10px 15px 8px;
  color: #005ea5;
  display: block
}

a.das-navigation__link:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0
}

@media (min-width: 40.0625em) {
  a.das-navigation__link {
    display: inline-block
  }
}

a.das-navigation__link--current {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  color: #0b0c0c
}

a.das-navigation__link--current:after {
  background: #005ea5;
  bottom: -1px;
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 5px;
  position: absolute;
  z-index: 0
}

@media (min-width: 40.0625em) {
  a.das-navigation__link--current:after {
    top: auto;
    bottom: 0;
    left: 15px;
    right: 15px;
    width: auto;
    height: 5px
  }
}

.das-navigation__priority-list {
  background: #ccc;
  list-style: none;
  padding-left: 0;
  clear: both
}

.das-navigation__priority-list>.das-navigation__list-item {
  width: 100%;
  border-top: 1px solid #ccc
}

a.das-navigation__priority-button {
  display: block;
  padding: 10px 15px 8px;
  padding-right: 35px;
  color: #005ea5;
  position: absolute;
  top: 0;
  right: 0
}

.das-navigation__priority-button:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0
}

.das-navigation__priority-button:after {
  position: absolute;
  right: 15px;
  top: 17px;
  border-color: transparent;
  border-width: 10px;
  border-style: solid;
  width: 0;
  height: 0;
  content: "";
  border-width: 10px 5.77367px 0 5.77367px;
  border-color: #005ea5 transparent transparent transparent
}

.das-navigation__priority-button.open:after {
  top: 15px;
  border-color: transparent;
  border-width: 10px;
  border-style: solid;
  width: 0;
  height: 0;
  content: "";
  border-width: 0 5.77367px 10px 5.77367px;
  border-color: transparent transparent #005ea5 transparent
}

.govuk-inset-text {
  &.demo-version {

    h2,
    p {
      margin-bottom: 0.5em;
    }
  }
}

.das-notification {
  color: #0b0c0c;
  padding: 15px;
  margin-bottom: 30px;
  border: 5px solid #4c2c92;
}

.das-notification--success {
  border-color: #28a197;
}

hr.dashboard-heading-separator {
  border-bottom: 5px solid #bfc1c3;
  margin: 10px 0;
}

.govuk-notification-banner__content> :last-child {
  margin-bottom: 0;
  max-width: 100% !important;
}

.govuk-notification-banner__content>* {
  box-sizing: border-box;
  max-width: 100%;
}

.eighteen {
  width: 18%;
}

.twentyFive {
  width: 27%;
}

.finance-figure {
  border: 1px solid #bfc1c3;
  border-left-color: #0b0c0c;
  border-left-width: 10px;
  line-height: 1;
  padding: 17px 10px 13px;
  font-size: 30px;
}

.finance_funds .finance-figure {
  font-size: 24px;
}

.related {
  border-top: 10px solid #005ea5;
  padding-top: 10px;
}

.success-summary {
  border-color: #28a197;
  border-width: 5px;
  margin-top: 0x;
  margin-bottom: 50px;
  padding: 20px 15px 15px;
  border: 5px solid #28a197;
}


.das-govuk-list-forms li {
  margin-bottom: 25px;
  padding-top: 10px;
  border-top: 1px solid #b1b4b6;
  list-style: none;
}

.das-govuk-list-forms button {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
  color: #1d70b8;
  background-color: #fff;
  border: none;
}

dl.das-inline-def-list dt {
  display: block;
  font-weight: bold;
}

dl.das-inline-def-list dd {
  display: block;
  margin-inline-start: 80px;
  margin-top: -25px;
}

@media (min-width: 641px) {
  .boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .box {
    margin: 15px;
    padding-bottom: 15px;
    width: calc(50% - 30px);
  }
}

.box {
  box-sizing: border-box;
  border-bottom: 1px solid #bfc1c3;
}

.das-definition-list {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-top: 0;
  margin-bottom: 15px;
}

@media print {
  .das-definition-list {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .das-definition-list {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .das-definition-list {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media print {
  .das-definition-list {
    color: #000;
  }
}

@media (min-width: 40.0625em) {
  .das-definition-list {
    margin-bottom: 20px;
  }
}

.das-definition-list__title {
  font-weight: 700;
}

.das-definition-list__definition {
  margin: 0;
}

.das-definition-list--inline {
  overflow: hidden;
}

.das-definition-list--inline .das-definition-list__title {
  clear: both;
  float: left;
  margin-right: 10px;
}

.das-definition-list--inline .das-definition-list__title:after {
  content: ":";
}

.das-definition-list--inline .das-definition-list__definition {
  float: left;
}

.das-definition-list--meta {
  overflow: hidden;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
}

@media print {
  .das-definition-list--meta {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .das-definition-list--meta {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .das-definition-list--meta {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.das-definition-list--meta .das-definition-list__title {
  clear: both;
  float: left;
  font-weight: normal;
  color: #505a5f;
  margin-right: 0.3em;
}

.das-definition-list--meta .das-definition-list__title:after {
  content: ":";
}

.das-definition-list--meta .das-definition-list__definition {
  float: left;
}

@media (min-width: 40.0625em) {
  .das-definition-list--table {
    display: flex;
    flex-flow: row wrap;
  }
}

.das-definition-list--table .das-definition-list__title {
  font-weight: 700;
  flex-basis: 35%;
  padding-right: 5%;
}

@media (min-width: 40.0625em) {
  .das-definition-list--table .das-definition-list__title {
    margin-bottom: 5px;
  }

  .das-definition-list--table .das-definition-list__title.das-definition-list__title--spacer {
    margin-bottom: 10px;
  }
}

.das-definition-list--table .das-definition-list__title:after {
  content: ":";
}

.das-definition-list--table .das-definition-list__definition {
  flex-basis: 60%;
  flex-grow: 1;
  margin-bottom: 5px;
}

.das-definition-list--table .das-definition-list__definition.das-definition-list__definition--spacer {
  margin-bottom: 10px;
}

.das-definition-list--muted {
  color: #505a5f;
}

.das-definition-list--muted .das-definition-list__title {
  font-weight: normal;
}

@media (min-width: 40.0625em) {
  .das-definition-list__title--spacer {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
  }
}

.das-definition-list__definition--spacer {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
}

.das-section-break--s {
  margin-bottom: 10px;
}

.das-section-break--m {
  margin-bottom: 20px;
}

.das-section-break--l {
  margin-bottom: 30px;
}

.das-section-break--heavy-grey {
  border-top: 5px solid #b1b4b6;
}

@media (min-width: 40.0625em) {
  .das-table--condensed .govuk-table__body tr th,
  .das-table--condensed .govuk-table__body tr td,
  .das-table--condensed .govuk-table__header,
  .das-table--condensed .govuk-table__cell {
    padding: 7px 15px 7px 0;
    font-size: 15px;
  }
}
.das-table--condensed .govuk-link, .das-table--condensed .das-table__sort {
  margin-bottom: 5px;
  display: inline-block;
}