{% extends "layouts/main.html" %}

{% block pageTitle %}
  Saved standards - Employer
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
	<a href="choose-standard.html" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Choose a training provider
      </h1>
      
      
      <form>
      
      <div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
		      	
		    <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		       <h2 class="govuk-heading-m">
			      Search for a training provider
		      </h2>
		    </legend> -->
	    		      
		      			
			
			<div class="govuk-form-group">
			 <label class="govuk-label" for="event-name">
			      Enter a name or UK provider reference number (UKPRN)
			    </label>
			  <input class="govuk-input" id="event-name" name="event-name" type="text">
			  
			  
			  <br><br>
					
					<details class="govuk-details" data-module="govuk-details">
						  <summary class="govuk-details__summary">
						    <span class="govuk-details__summary-text">
						      What is a UKPRN?
						    </span>
						  </summary>
						  <div class="govuk-details__text">
						    A UKPRN is an 8-digit number from the UK Register of Learning Providers (UKRLP) that identifies a training provider.
						  </div>
						</details>
			  
			</div>
		      
		
		  </fieldset>
		</div>
      
      
      <button class="govuk-button" data-module="govuk-button">
		  Save and continue
		</button>
		
      </form>
      
      <br><br>

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
