{% extends "layouts/main.html" %}

{% block pageTitle %}
  Saved standards - Employer
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		<a href="#" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Choose a training provider
      </h1>
      
     
      
      
      
      <div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
		    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		       <h2 class="govuk-heading-m">
			      Your saved training providers
		      </h2>
		    </legend>
		    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
		      <div class="govuk-radios__item">
		        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
		        <label class="govuk-label govuk-radios__label" for="contact">
		          Provider name, UKPRN 01234567
		        </label>
		      </div>
		      
		      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
		      <div class="govuk-radios__item">
		        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
		        <label class="govuk-label govuk-radios__label" for="contact">
		          Provider name, UKPRN 01234567
		        </label>
		      </div>
		      
		      
		      <!-- or -->
		      <div class="govuk-radios__divider">or</div>
		      
		      <div class="govuk-radios__item">
		        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
		        <label class="govuk-label govuk-radios__label" for="contact-2">
		          Search for a training provider 
		        </label>
		      </div>
		      
		      
		      
		      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
		        <div class="govuk-form-group">
		          <!-- <label class="govuk-label" for="contact-by-phone">
		            Search by course name
		          </label>
		          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel"></div> -->
		          					
					
			 <label class="govuk-label" for="event-name">
			      Enter a name or UK provider reference number (UKPRN)
			    </label>
			  <input class="govuk-input" id="event-name" name="event-name" type="text">
					
					<br><br>
					
					<details class="govuk-details" data-module="govuk-details">
						  <summary class="govuk-details__summary">
						    <span class="govuk-details__summary-text">
						      What is a UKPRN?
						    </span>
						  </summary>
						  <div class="govuk-details__text">
						    A UKPRN is an 8-digit number from the UK Register of Learning Providers (UKRLP) that identifies a training provider.
						  </div>
						</details>
		
		      </div>
		      
		    </div>
		
		  </fieldset>
		</div>
      
      
      <a href="choose-standard-confirm.html" class="govuk-button" data-module="govuk-button">
		  Save and continue
		</a>

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
