{% extends "layout.html" %}

{% block pageTitle %}
  Saved standards - Employer
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		<a href="choose-standard.html.html" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Is this the correct course?
      </h1>
      
     
      
      <dl class="govuk-summary-list">
		  <div class="govuk-summary-list__row">
		    <dt class="govuk-summary-list__key">
		      Course name
		    </dt>
		    <dd class="govuk-summary-list__value">
		      Name of training provider
		    </dd>
		  </div>
		  <div class="govuk-summary-list__row">
		    <dt class="govuk-summary-list__key">
		      UKPRN
		    </dt>
		    <dd class="govuk-summary-list__value">
		      01234567
		    </dd>
		  </div>
		  <div class="govuk-summary-list__row">
		    <dt class="govuk-summary-list__key">
		      Address
		    </dt>
		    <dd class="govuk-summary-list__value">
		      72 Guild Street<br>London<br>SE23 6FH
		    </dd>
		  </div>
		  <div class="govuk-summary-list__row">
		    <dt class="govuk-summary-list__key">
		      Contact details
		    </dt>
		    <dd class="govuk-summary-list__value">
		      <p class="govuk-body">07700 900457</p>
		      <p class="govuk-body"><a href="mailto:sarah.phillips@example.com" class="gov-link">sarah.phillips@example.com</a></p>
		    </dd>
		  </div>
		</dl>
      
		
		<div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
		    <div class="govuk-radios govuk-radios--inline">
		      <div class="govuk-radios__item">
		        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
		        <label class="govuk-label govuk-radios__label" for="changed-name">
		          Yes
		        </label>
		      </div>
		      <div class="govuk-radios__item">
		        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
		        <label class="govuk-label govuk-radios__label" for="changed-name-2">
		          No
		        </label>
		      </div>
		    </div>
		
		  </fieldset>
		</div>
		
		<button class="govuk-button" data-module="govuk-button">Continue</button>
      

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
