{% extends "layout.html" %}

{% block pageTitle %}
  Saved standards - Employer
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		<a href="#" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Select a training course
      </h1>
      
     
      
      
      
      <div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
		    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		       <h2 class="govuk-heading-m">
			      Saved Apprenticeship training course
		      </h2>
		    </legend>
		    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
		      <div class="govuk-radios__item">
		        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
		        <label class="govuk-label govuk-radios__label" for="contact">
		          Course name 
		        </label>
		        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
		          (level 2)
		        </div>
		      </div>
		      
		      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
		      <div class="govuk-radios__item">
		        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
		        <label class="govuk-label govuk-radios__label" for="contact">
		          Course name 
		        </label>
		        <div id="sign-in-item-hint2" class="govuk-hint govuk-radios__hint">
		          (level 1)
		        </div>
		      </div>
		      
		      
		      <!-- or -->
		      <div class="govuk-radios__divider">or</div>
		      
		      <div class="govuk-radios__item">
		        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
		        <label class="govuk-label govuk-radios__label" for="contact-2">
		          Search for a course
		        </label>
		      </div>
		      
		      
		      
		      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
		        <div class="govuk-form-group">
		          <!-- <label class="govuk-label" for="contact-by-phone">
		            Search by course name
		          </label>
		          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel"></div> -->
		          
					
				<label class="govuk-label" for="event-name">
			      Search by course name
			    </label>
			  <input class="govuk-input" id="event-name" name="event-name" type="text">
		
		      </div>
		      
		    </div>
		
		  </fieldset>
		</div>
      
      
      <a href="#" class="govuk-button" data-module="govuk-button">
		  Save and continue
		</a>

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
