{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Add apprentice(s)" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v3/taskversion/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body">Complete the steps below for your training provider to review.</p>

        <p class="govuk-body">You can complete ‘Add training details’, or ask your training provider to complete it for
          you to review.</p>

        <div class="govuk-!-padding-bottom-5"></div>

        <ul class="govuk-task-list">

          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#"
                aria-describedby="company-details-3-hint company-details-3-status">
                Add or recruit an apprentice
              </a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                Create an advert or add apprentice details
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-3-status">
              <strong class="govuk-tag govuk-tag--blue">
                Not yet started
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#"
                aria-describedby="company-details-3-hint company-details-3-status">
                Add or confirm your training provider
              </a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                Training provider name or UKPRN
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-3-status">
              <strong class="govuk-tag govuk-tag--blue">
                Not yet started
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#"
                aria-describedby="company-details-3-hint company-details-3-status">
                Choose funding
              </a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                Use or apply for available funding for apprenticeship training
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-3-status">
              <strong class="govuk-tag govuk-tag--blue">
                Not yet started
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="#"
                aria-describedby="company-details-3-hint company-details-3-status">
                Add training details
              </a>
              <div id="company-details-3-hint" class="govuk-task-list__hint">
                Apprenticeship training course, planned training start date, and total agreed price
              </div>
            </div>
            <div class="govuk-task-list__status" id="company-details-3-status">
              <strong class="govuk-tag govuk-tag--grey">
                Optional
              </strong>
            </div>
          </li>
        </ul>

        <div class="govuk-button-group">
          <button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button">
            Send to training provider
          </button>
          <a href="#" class="govuk-link">Save and finish later</a>
        </div>


      </div>
    </div>



  </main>
</div>

{% endblock %}

{% endblock %}