{% extends "layout.html" %}

{% block pageTitle %}
Is your company pay bill more than £3 million?
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">
	
	{% include "includes/back-link-save-return.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
		


<form action="add-paye-knockout" method="post">
		{{ govukRadios({
			idPrefix: "pay-bill-check",
			name: "pay-bill-check",
			fieldset: {
				legend: {
					text: "Is your company pay bill more than £3 million?",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--xl"
				}
			},
			hint: {
				html: "If your company pay bill is over £3 million you will be able to spend your levy on apprenticeship training without having to reserve funds."
			},
			items: [
				{
					value: "yes",
					text: "Yes, my pay bill is more than £3 million "
				},
        {
					value: "not-yet",
					text: "It is close to £3 million",
					hint: {
						text: "Choose this option if your pay bill is likely to exceed £3 million in the near future"
					}
				},
				{
					value: "no",
					text: "No, my company pay bill is less than £3 million"
				}
			]
		}) }}

		<!--{{ govukDetails({
			summaryText: "Why are we asking this?",
			text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
		}) }}-->


		<!--hint: {
			html: "If you think your pay bill may exceed £3 million in the near future, choose 'It is close to £3 million'. You will then be able to spend your levy on apprenticeship training without having to reserve funds.</p>"
		},-->

		{{ govukButton({
			text: "Continue"
		  }) }}
</form>


	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
