{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm training provider
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

<div class="govuk-width-container">
	
	{% include "includes/back-link-save-return.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Confirm training provider</h1>

      <p>The details you entered are for EDUC8 TRAINING (ENGLAND) LIMITED. (10005310)</p>

      <form action="confirm-training-provider" method="post">
		 
      {{ govukRadios({
        idPrefix: "confirm-training-provider-check",
        name: "confirm-training-provider-check",
        fieldset: {
          legend: {
            text: "Do you want to add this training provider?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes, add EDUC8 TRAINING (ENGLAND) LIMITED"
          },
          {
            value: "no",
            text: "No, change training provider"
          }
        ]
      }) }}
  
		  
      {{ govukButton({
        text: "Continue"
      }) }}
		  
    </form>


		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}


