{% extends "layout.html" %}

{% block pageTitle %}
Employer agreement accepted
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">

  {% include "includes/save-return.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

  {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  {% set html %}
    <p class="govuk-notification-banner__heading">
      Employer agreement accepted
    </p>
  {% endset %}
  
  {{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}

	<h1 class="govuk-heading-xl">You've accepted your employer agreement</h1>  

  <p>You can continue creating your account now or at a later date.</p>





{{ govukButton({
	text: "Continue",
	href: "task-list-5"
}) }}

<p><a href="/progress-saved">I'll finish creating my account later</a></p>


	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
