{% extends "layout.html" %}

{% block pageTitle %}
Something went wrong
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}




<div class="govuk-width-container">
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>
	
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			


	
  <h1 class="govuk-heading-xl">Something went wrong</h1>
	
  <p>Your organisation did not appear in the list, this could be because:</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
    <li>you have used an incorrect PAYE reference</li>
    <li>you have used an incorrect accounts office reference number</li>
    <li>you have not submitted your first PAYE return</li>
  </ul>




{{ govukRadios({
  idPrefix: "paye-uhp-what-next",
  name: "paye-uhp-what-next",
  fieldset: {
    legend: {
      text: "What do you want to do?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "paye",
      text: "Enter your PAYE scheme details again"
    },
    {
      value: "search",
      text: "Search for your organisation within the Pensions Regulator database"
    },
    {
      value: "helpdesk",
      text: "Contact the Apprenticeship service helpdesk"
    }
  ]
}) }}


{{ govukButton({
  text: "Continue"
}) }}
	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
