{% extends "layouts/main.html" %}

{% block pageTitle %}
  Contact the National Apprenticeship Helpdesk to get help
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}




<div class="govuk-width-container">
	{% include "includes/back-link-save-return.html" %}
	
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			


	<h1 class="govuk-heading-xl">Contact the National Apprenticeship Helpdesk to get help</h1>
	
	<p class="govuk-body">
		Contact the helpdesk...
	</p>	
	
	<h2 class="govuk-heading-m">National Apprenticeship Helpdesk</h2>
            <p class="govuk-body"><a class="govuk-link" href="mailto:helpdesk@manage-apprenticeships.service.gov.uk">helpdesk@manage-apprenticeships.service.gov.uk</a></p>
            <p class="govuk-body govuk-!-margin-bottom-1">
                Telephone: 08000 150 600
            </p>
            <p class="govuk-body">
                <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
            </p>

	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
