{% extends "layout.html" %}

{% block pageTitle %}
Training provider permissions
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}




<div class="govuk-width-container">
	{% include "includes/back-link-save-return.html" %}
	
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			

	<h1 class="govuk-heading-xl">Training provider permissions</h1>
	
	<p class="govuk-body">
    EDUC8 TRAINING (ENGLAND) LIMITED can do the following on your behalf:
	</p>	
	
	<ul class="govuk-list govuk-list--bullet">
		<li>create and manange adverts</li>
		<li>recruit apprentices</li>
    <li>add apprentices to your account, including reserving funds</li>
    
    
  </ul>

  <p>You can adjust your training provider permissions at any time.</p>


  <form action="training-provider-permissions" method="post">
		{{ govukRadios({
			idPrefix: "training-provider-access",
			name: "training-provider-access",
			fieldset: {
				legend: {
					text: "Do you want to give your training provider permission to act on your behalf?",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--m"
				}
			},
			items: [
				{
					value: "yes",
					text: "Yes, I want to let my training provider to act on my behalf"
				},
				{
					value: "no",
					html: "No, I want to do this myself"
				}
			]
		}) }}



		{{ govukButton({
			text: "Continue"
		  }) }}
  </form>



	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
