{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Check your application before sending" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v3/taskversion/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>


        <dl class="das-definition-list das-definition-list--inline">
          <dt class="das-definition-list__title">Cohort reference</dt>
          <dd class="das-definition-list__definition govuk-!-margin-bottom-4">N6JNL8</dd>
        </dl>
        </dl>
      </div>
    </div>

    <!-- Add the link with the print icon -->

    <head>
      <title>Print Icon with Link</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>

      <a href="#" class="print-link">
        <i class="fas fa-print" style="color:   #1d70b8"></i> Print your application
      </a>

    </body>
    <!-- End the link with the print icon -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <!-- Training provider -->

    <h2 class="govuk-heading-m">Training provider</h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Training provider details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Training provider
            </dt>
            <dd class="govuk-summary-list__value">
              EDUC8 TRAINING
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> training provider</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UK Provider reference (UKPRN)
            </dt>
            <dd class="govuk-summary-list__value">
              10005760
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> UK provider reference number
                  (UKPRN)</span></a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-!-padding-bottom-3"></div>

    <!-- Apprentice personal details -->

    <h2 class="govuk-heading-m">Apprentice personal details</h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Personal details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['first-name'] or 'Jim' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> First name(apprentice
                  1)</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['last-name'] or 'Dolan' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> last name (apprentice
                  1)</span></a>
            </dd>
          </div>
        </dl>
      </div>
    </div>


    <div class="govuk-!-padding-bottom-5"></div>

    <!-- Appretnice training details -->

    <h2 class="govuk-heading-m">Apprentice training details</h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Training details
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> apprentice 1</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Funding
            </dt>
            <dd class="govuk-summary-list__value">
              New reservation
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Apprenticeship training course
            </dt>
            <dd class="govuk-summary-list__value">
              Business administrator, Level: 3
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead
                  tenant)</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Training start date
            </dt>
            <dd class="govuk-summary-list__value">
              Dec 2024
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead
                  tenant)</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total agreed apprenticeship price
            </dt>
            <dd class="govuk-summary-list__value">
              Training provider to add
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead
                  tenant)</span></a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-!-padding-bottom-5"></div>

    <!-- Appretnice training details -->

    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="with-hint">
          Message for your training provider
        </label>
      </h1>
      <div id="with-hint-hint" class="govuk-hint">
        Give details to EDUC8 TRAINING
      </div>
      <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5"
        aria-describedby="with-hint-info with-hint-hint"></textarea>
      <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
        You can enter up to 200 characters
      </div>
    </div>





    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Submit your application
              </h1>
            </legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  I understand I won't be able to make any changes after my application has been submitted
                </label>
              </div>

            </div>

          </fieldset>
        </div>
        <a id="continue-button" role="button" draggable="false" class="govuk-button"
          href="/employer/v4/taskversion/apprentice-details-sent-to-training-provider-3">
          Submit
        </a>
  </main>

</div>

{% endblock %}

{% endblock %}