{% extends "layouts/main.html" %}
{% set version = "v1" %}

{% block pageTitle %}
Successful candidates
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v3/taskversion/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Successful candidates from your adverts</h1>
          </div>


          <div class="govuk-grid-column-one-third" style="text-align: right;">
            <div class="govuk-button-group" style="float: right;">
              <a href="/employer/v4/taskversion/apprentice-personal-details" class="govuk-button"
                data-module="govuk-button">
                Add new apprentice
              </a>
            </div>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">You can choose to add a successful candidate from your recent apprentice adverts on
              Recruit an Apprentice or you can add
              a new apprentice.</p>

            <p class="govuk-body">You can add more apprentices to the same application reference, but you must add them
              one at a time.</p>
          </div>
        </div>

        <div class="govuk-!-padding-bottom-5"></div>

        <!-- Table headings -->

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Apprentice</th>
              <th scope="col" class="govuk-table__header app-custom-class">Application reference</th>
              <th scope="col" class="govuk-table__header app-custom-class"
                style="text-align: right; padding-right: 20px;">Action</th>
            </tr>
          </thead>

          <!-- Table rows -->

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Bernard McKelly</td>
              <td class="govuk-table__cell">678CFR0</td>
              <td class="govuk-table__cell">
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">View application<span class="govuk-visually-hidden"> contact
                          details</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">Select<span class="govuk-visually-hidden"> contact
                          details</span></a>
                    </li>
                  </ul>
                </dd>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rumman Amad</td>
              <td class="govuk-table__cell">667VEE0</td>
              <td class="govuk-table__cell">
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">View application<span class="govuk-visually-hidden"> contact
                          details</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">Select<span class="govuk-visually-hidden"> contact
                          details</span></a>
                    </li>
                  </ul>
                </dd>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Nirmal Kaur</td>
              <td class="govuk-table__cell">20076SR</td>
              <td class="govuk-table__cell">
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">View application<span class="govuk-visually-hidden"> contact
                          details</span></a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="#">Select<span class="govuk-visually-hidden"> contact
                          details</span></a>
                    </li>
                  </ul>
                </dd>
              </td>
            </tr>

          </tbody>
        </table>


    </div>
  </div>



  </main>
</div>
</div>
</div>
</div>
{% endblock %}

{% endblock %}