{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		<a href="#" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>
	<div class="govuk-grid-row">
		
	
	<div class="govuk-grid-column-two-thirds">
		
	


<h1 class="govuk-heading-xl">
	Transfers
</h1>
	<p class="govuk-body">
		Employers who pay the apprenticeship levy can connect with other employers and transfer up to 25% of their previous year's annual funds.
	<p>	
		<p class="govuk-body">
			Before starting a connection, both sending and receiving employers need to read and understand the <a href="#" class="govuk-link">rules for sending and receiving transfers</a>.
		<p>
			{{ govukInsetText({
				text: "Only the sending employer can start a connection."
			}) }}


	{{ govukButton({
		text: "Connect to a receiving employer"
	}) }}





<h3 class="govuk-heading-l govuk-!-margin-top-9">
	Connection requests
</h3>

{{ govukTable({
	caption: "Employers you are connecting with to send funds to",
	firstCellIsHeader: false,
	head: [
		{
			text: "Employer"
		},

		{
			text: "Status"
		},
		
		{
			text: ""
		}
	],
	rows: [
		
		
		[
			{
				text: "Coventry Council"
			},

			
			
			{
				text: "Approved"
			},
			
			{
				html: 
				"
				<a href='#' class='govuk-link'>Details</a>
				"
			}
		]
	]
}) }}



{{ govukTable({
	caption: "Employers you are connecting with to receive funds from",
	firstCellIsHeader: false,
	head: [
		{
			text: "Employer"
		},

		
		
		{
			text: "Status"
		},
		
		{
			text: ""
		}
	],
	rows: [
		
		[
			{
				text: "ONA Consulting"
			},

			
			
			{
				text: "Pending"
			},
			
			{
				html: 
				"
				<a href='#' class='govuk-link'>Details</a>
				"
			}
		]
		
	]
}) }}


<h3 class="govuk-heading-l govuk-!-margin-top-9">
	Transfer requests
</h3>
{{ govukTable({
	caption: "Transfer funds you are sending to other employers",
	firstCellIsHeader: false,
	head: [
		{
			text: "Employer"
		},
		
		{
			text: "Status"
		},
		{
			html: "Total<br>cost"
		},
		{
			text: ""
		}
	],
	rows: [
		[
			{
				text: "ONA Consulting"
			},
			
			{
				text: "Pending"
			},
			{
				text: "£2100"
			},
			{
				html: 
				"
				<a href='#' class='govuk-link'>Details</a>
				"
			}
		]
	]
}) }}

      
{{ govukTable({
	caption: "Transfer funds you are receiving from other employers",
	firstCellIsHeader: false,
	head: [
		{
			text: "Employer"
		},
		
		{
			text: "Status"
		},
		{
			html: "Total<br>cost"
		},
		{
			text: ""
		}
	],
	rows: [
		[
			{
				text: "Coventry Council"
			},
			
			{
				text: "Pending"
			},
			{
				text: "£2100"
			},
			{
				html: 
				"
				<a href='#' class='govuk-link'>Details</a>
				"
			}
		]
	]
}) }}


	</div>
</div>
    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
