{% extends "layout.html" %}

{% block pageTitle %}
Live index page
{% endblock %}


{% block main %}

{% include "includes/account-header+nav-apprentices.html" %}

{% block content %}


<div class="govuk-width-container">

    {% include "includes/back-link.html" %}

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
                    data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Action required
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            You have an outstanding request that needs to be reviewed.
                            <a class="govuk-notification-banner__link"
                                href="/employer/v1/live/has-apprenticeship-stopped">View changes</a>.
                        </p>
                    </div>
                </div>


                <h1 class="govuk-heading-xl">Faizal Dawood</h1>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--blue">
                                Live
                            </strong>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Edit status<span class="govuk-visually-hidden"> version</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Made redundant
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No</br>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Apprentice confirmation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            N/A
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Training provider
                        </dt>
                        <dd class="govuk-summary-list__value">
                            EDUC8 TRAINING (ENGLAND) LIMITED
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Cohort reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            VK6D68
                        </dd>
                    </div>
                </dl>
                <div class="govuk-!-padding-bottom-5"></div>

                <h2 class="govuk-heading-m">Apprentice details</h2>
                <div class="govuk-!-padding-bottom-5"></div>

                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Name</th>
                            <td class="govuk-table__cell">Faizal Dawood</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Email address</th>
                            <td class="govuk-table__cell">faizaldawood@gmail.com</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Unique learner number</th>
                            <td class="govuk-table__cell">8353543612</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Date of birth</th>
                            <td class="govuk-table__cell">1 Jan 1992</td>
                        </tr>
                    </tbody>
                </table>
                <div class="govuk-!-padding-bottom-5"></div>

                <h2 class="govuk-heading-m">Apprenticeship details</h2>
                <div class="govuk-!-padding-bottom-5"></div>

                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Apprenticeship training course</th>
                            <td class="govuk-table__cell">Able seafarer (deck), Level 2 (standard)</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Version</th>
                            <td class="govuk-table__cell">1.0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Planned training start date</th>
                            <td class="govuk-table__cell">December 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Planned training end date</th>
                            <td class="govuk-table__cell">December 2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
                            <td class="govuk-table__cell">£10,000</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Your reference</th>
                            <td class="govuk-table__cell"></td>
                        </tr>
                    </tbody>

                </table>
                <div class="govuk-!-padding-bottom-5"></div>


            </div>
        </div>
</div>

{% endblock %}

{% endblock %}