{% extends "layout.html" %}

{% block pageTitle %}
Live index page
{% endblock %}


{% block main %}

{% include "includes/account-header+nav-apprentices.html" %}

{% block content %}


<div class="govuk-width-container">

    {% include "includes/back-link.html" %}

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-xl">Confirm apprenticeship stop</h1>
                <p class="govuk-body">We have received notification of a new apprenticeship for a learner.
                </p>
                <p class="govuk-body">For their training to continue, you need to confirm the date when the
                    apprenticeship training stopped with you.</p>
                <p class="govuk-body">You need to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>check the unique learner number
                    </li>
                    <li>confirm the date when the apprenticeship training stopped</li>
                </ul>
                <div class="govuk-!-padding-bottom-5"></div>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Apprentice record status</th>
                            <th scope="col" class="govuk-table__header"><strong class="govuk-tag govuk-tag--blue">
                                    Live
                                </strong></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Unique learner number</th>
                            <td class="govuk-table__cell">8353543612</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Name</th>
                            <td class="govuk-table__cell">Faizal Dawood</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Apprenticeship training course</th>
                            <td class="govuk-table__cell">Digital engineering technician, Level: 3</td>
                        </tr>
                    </tbody>

                </table>
                <div class="govuk-!-padding-bottom-1"></div>

                <form class="form govuk-!-padding-top-5"
                    action="/employer/v1/live/action/has-apprenticeship-stopped/" method="post">
                
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Has this apprenticeship stopped?
                                </h1>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="stop-action" name="stop-action" type="radio"
                                        value="yes-apprenticeship-stopped" aria-describedby="stop-action-hint">
                                    <label class="govuk-label govuk-radios__label" for="stop-action">
                                        Yes, this apprenticesip has stopped
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="stop-action-2" name="stop-action" type="radio"
                                        value="no-apprenticeship-not-stopped" aria-describedby="stop-action-2-hint">
                                    <label class="govuk-label govuk-radios__label" for="stop-action-2">
                                        No, this apprenticeship has not stopped
                                    </label>
                                </div>
                            </div>
                
                        </fieldset>
                    </div>
                
                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                
                </form>


            </div>
        </div>
</div>

{% endblock %}

{% endblock %}