{% extends "layout.html" %}

{% block pageTitle %}
Live index page
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">

    {% include "includes/back-link.html" %}

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-xl">Confirm redundancy</h1>
                <div class="govuk-!-padding-bottom-1"></div>
                <p class="govuk-body">We need you to advise if Faizal Dawood has been made redundant.
                </p>

                <form class="form govuk-!-padding-top-5" action="/employer/v1/live/action/made-redundant" method="post">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Has this apprentice been made redundant?
                                </h1>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="redundant" name="redundant" type="radio"
                                        value="yes-redundant" aria-describedby="redundant-hint">
                                    <label class="govuk-label govuk-radios__label" for="redundant">
                                        Yes, this apprentice has been made redundant
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="redundant-2" name="redundant" type="radio"
                                        value="no-redundant" aria-describedby="redudant-2-hint">
                                    <label class="govuk-label govuk-radios__label" for="redundant-2">
                                        No, this apprentice has not been made redundant
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">Continue</button>

                </form>


            </div>
        </div>
</div>

{% endblock %}

{% endblock %}