{% extends "layout.html" %}

{% block pageTitle %}
Live index page
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">

    {% include "includes/back-link.html" %}

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">


                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        New stop date confirmed
                    </h1>
                </div>
                <div class="govuk-!-padding-bottom-5"></div>
                <p class="govuk-body">We will send an email to the training provider to confirm that the stop date has been added.
                </p>
                
                <div class="govuk-!-padding-bottom-5"></div>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Stop date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            October 2023
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/employer/v1/live/date-apprenticeship-stopped">
                                Change<span class="govuk-visually-hidden"> version</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--red">
                                Stopped
                            </strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Faizal Dawood
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Made redundant
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No</br>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Apprentice confirmation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            N/A
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Training provider
                        </dt>
                        <dd class="govuk-summary-list__value">
                            EDUC8 TRAINING (ENGLAND) LIMITED
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Cohort reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            VK6D68
                        </dd>
                    </div>
                </dl>
                <div class="govuk-!-padding-bottom-5"></div>

                <a href="/employer/v1/live/apprentice-page-no-request" role="button" draggable="false"
                    class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    View apprentice details
                </a>
                
                <p class="govuk-body">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Return to
                        dashboard</a>
                </p>



            </div>
        </div>
</div>

{% endblock %}

{% endblock %}