{% extends "layout.html" %}

{% block pageTitle %}
355 - Update UI after security update to employer sign in
{% endblock %}


{% block main %}

{% include "includes/login-head.html" %}


{% block content %}

<div class="govuk-width-container">
	
	<form action="invalid-code" method="post">

	
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
			  <div class="govuk-panel govuk-panel--confirmation">
				<h1 class="govuk-panel__title">
				  Request complete
				</h1>
				<div class="govuk-panel__body">
				  
				</div>
			  </div>
	  
			  <p class="govuk-body">We have sent you an email with a reset password link.</p>
	  
			  <h2 class="govuk-heading-m">What happens next</h2>
	  
			  <p class="govuk-body">
				You have 24 hours to use the link to reset your.
			  </p>
			 
	  
			  <p class="govuk-body">
				Not received your email? <a href="#" class="govuk-link">Request a new reset code</a> 
			  </p>
			</div>
		  </div>
  </form>
</div>

{% endblock %}

{% endblock %}
