{% extends "layout.html" %}

{% block pageTitle %}
355 - Update UI after security update to employer sign in
{% endblock %}


{% block main %}

{% include "includes/login-head-with-back.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		<h1 class="govuk-heading-l">Enter your registered email address</h1>

		<p class="govuk-body">
			You will receive an email if the address is registered for this service.
		<p>
			{{ govukInput({
				label: {
				  text: "Email",
				  classes: "govuk-label--s",
				  isPageHeading: false
				},
				id: "event-name",
				name: "event-name",
				type: "email",
				classes: "govuk-input--width-30"
			  }) }}

			  
		
			  {{ govukButton({
				text: "Get reset email",
				href: "confirmation-page"
			  }) }}   
			  <div class="govuk-grid-row govuk-!-margin-bottom-9">
				<div class="govuk-grid-column-two-thirds">
				
				</div>
			  </div>
			  
		
    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
