{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Confirm employer" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/v1/change-employer/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/approvals/apprentice-requests">Apprentice
          requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/training-provider/{{version}}/reserve-reservations-pro">Manage
          funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/training-provider/{{version}}/manage/index">Manage
          your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/training-provider/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/training-provider/{{version}}/#">Organisations and
              agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Confirm dates before sending your request</h1>
    <p class="govuk-body">Check you have entered the correct training dates and the correct
      apprentice details.</p>
    <div class="govuk-!-padding-bottom-4"></div>


    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Apprentice name</th>
          <td class="govuk-table__cell">Gwen Adams</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Unique learner number</th>
          <td class="govuk-table__cell">9900008102</td>
        </tr>
      </tbody>
    </table>
    <div class="govuk-!-padding-bottom-5"></div>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Current details</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Employer</th>
          <td class="govuk-table__cell">ROYAL LONDON GROUP</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training start date</th>
          <td class="govuk-table__cell">January 2022</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Training end date</th>
          <td class="govuk-table__cell">October 2023</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Stop dates applies from</th>
          <td class="govuk-table__cell">October 2023</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
          <td class="govuk-table__cell">£6,000</td>
        </tr>
      </tbody>
    </table>
    <div class="govuk-!-padding-bottom-5"></div>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Requested changes</caption>
    </table>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          New employer
        </dt>
        <dd class="govuk-summary-list__value">
          COVENTRY LTD
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          New training start date
        </dt>
        <dd class="govuk-summary-list__value">
          August 2023
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state"
            href="/training-provider/v1/change-employer/new-training-start-date-stopped">
            Change<span class="govuk-visually-hidden"> date</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          New training end date
        </dt>
        <dd class="govuk-summary-list__value">
          August 2026
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state"
            href="/training-provider/v1/change-employer/new-training-start-date-stopped">
            Change<span class="govuk-visually-hidden"> date</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          New agreed apprenticeship price
        </dt>
        <dd class="govuk-summary-list__value">
          £4,000
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state"
            href="/training-provider/v1/change-employer/new-apprenticeship-price-stopped">
            Change<span class="govuk-visually-hidden"> price</span>
          </a>
        </dd>
      </div>
    </dl>

    <a href="/training-provider/v1/change-employer/overlapping-training-stopped" role="button" draggable="false"
      class="govuk-button" data-module="govuk-button">
      Save and continue
    </a>

    <div class="govuk-!-padding-bottom-5"></div>


    </fieldset>
  </div>




  {% endblock %}