{% extends "layout.html" %}
{% set version = "v1" %}
{% set pageTitle = "Confirm employer" %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/approvals/apprentice-requests">Apprentice
          requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/training-provider/{{version}}/reserve-reservations-pro">Manage
          funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/training-provider/{{version}}/manage/index">Manage
          your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/training-provider/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/training-provider/{{version}}/#">Organisations and
              agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Add new training dates</h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Current stop date with previous employer</th>
          <td class="govuk-table__cell">October 2023</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Status with previous employer</th>
          <th scope="col" class="govuk-table__header"><strong class="govuk-tag govuk-tag--red">
              Stopped
            </strong></th>
        </tr>
        </thead>
    </table>
    <div class="govuk-inset-text">The date training started with the new employer must be on or after the stop date.
    </div>
    <div class="govuk-!-padding-bottom-3"></div>

    <form class="form" action="/training-provider/v1/change-employer/new-apprenticeship-price-stopped" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
              Enter the new start training date
            </h3>
          </legend>
          <div id="dob-hint" class="govuk-hint">
            For example, 10 2023
          </div>
          <div class="govuk-date-input" id="dob">

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month"
                  type="text" autocomplete="bday-month" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year"
                  type="text" autocomplete="bday-year" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
  </div>



  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
        Enter the new training end date
      </h3>
    </legend>
    <div id="dob-hint" class="govuk-hint">
      For example, 10 2023
    </div>
    <div class="govuk-date-input" id="dob">

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month"
            type="text" autocomplete="bday-month" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year"
            type="text" autocomplete="bday-year" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>



<div class="govuk-!-padding-bottom-5"></div>
<button class="govuk-button" data-module="govuk-button">Continue</button>

</form>


</div>
</div>

{% endblock %}