{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Apprentice details" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v2/employer-adds/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <p class="govuk-body">You can choose to add new apprentices or ask a training provider to add apprentices for
          you.</p>

        <hr class="govuk-section-break govuk-section-break--l">
        <form id="submitCohort" novalidate="" method="post" action="/employer/v3/enhanced/employer-add-or-TP-add">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">Do you want to add the apprentice details?</h3>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-approve" name="selection" type="radio" value="Approve"
                    aria-controls="conditional-approve">
                  <label class="govuk-label govuk-radios__label" for="radio-approve">
                    Yes, I will add apprentice details for my training provider to approve
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-send" name="selection" type="radio" value="Send"
                    aria-controls="conditional-send">
                  <label class="govuk-label govuk-radios__label" for="radio-send">
                    No, I would like my training provider to add apprentice details for me to approve
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-send">
                  <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="200">
                    <div class="govuk-form-group">
                      <p class="govuk-hint">Give details about the apprentice to EDUC8 TRAINING below. Include their
                        name(s)</p>
                      <textarea class="govuk-textarea govuk-js-character-count" id="apprentice-details"
                        name="apprentice-details" rows="5"
                        aria-describedby="apprentice-details-info">{{ data['apprentice-details'] or '' }}</textarea>
                    </div>
                    <div id="apprentice-details-info" class="govuk-hint govuk-character-count__message">
                      <p class="govuk-hint govuk-!-margin-bottom-0">200 words remaining</p>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" id="continue-button" class="govuk-button">Continue</button>

        </form>

      </div>
    </div>

</div>
</div>




</div>
</div>

</main>
</div>

{% endblock %}

{% endblock %}