{% extends "layouts/main.html" %}
{% set version = "v7" %}
{% set pageTitle = "Apprentice details" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        <p class="govuk-body-m">You can either add an apprentice’s details yourself or ask your training provider to add
          them for you.
        </p>
        <p class="govuk-body-m">You’ll need to review and approve any details your training provider adds.</p>

        <p class="govuk-body-m">You can also save apprentice details you have added as a draft, and return to make
          changes.</p>

        <div class="govuk-!-padding-bottom-5"></div>

        <form id="submitCohort" novalidate="" method="post" action="/employer/v9/add/action/start-adding-apprentices">
          <div class="govuk-form-group  ">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">Do you want to add apprentice details?</h3>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-yes" name="selection" type="radio" value="Yes"
                    aria-controls="conditional-approve">
                  <label class="govuk-label govuk-radios__label" for="radio-approve">
                    Yes, I will add apprentice details
                  </label>
                  <div id="tp-hint" class="govuk-hint govuk-radios__hint">
                    My training provider will review and approve these details
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-no" name="selection" type="radio" value="No"
                    aria-controls="conditional-send">
                  <label class="govuk-label govuk-radios__label" for="radio-send">
                    No, I would like my training provider to add apprentice details
                  </label>
                  <div id="tp-hint" class="govuk-hint govuk-radios__hint">
                    I will need to review and approve these details
                  </div>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-send">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="send-details">
                      Leave EDUC8 TRAINING a message (optional)
                    </label>
                    <textarea class="govuk-textarea" id="send-details" name="sendmessage" rows="5"></textarea>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <button type="submit" id="continue-button" class="govuk-button">Continue</button>

        </form>
      </div>

    </div>
  </main>
</div>

{% endblock %}

{% endblock %}