{% extends "layout.html" %}

{% block pageTitle %}
  Saved standards - Employer
{% endblock %}


{% block main %}

{% include "../../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
	<a href="#" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>
	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">Able Seafarer Apprenticeship</span>
        Have you found a training provider?
      </h1>
      
     
      <p class="govuk-body">You must use a training provider that offers <span class="govuk-!-font-weight-bold">"Able seafarer (deck), Level 2 (GCSE)"</span> training.</p>
      
      <form action="/saved-standards/choose-provider" method="post" class="form">
		  
		  
		  <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">


          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="found-provider-yes" name="foundProvider" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="found-provider-yes">
                Yes I have 
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="found-provider-yes" name="foundProvider" type="radio" value="false" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="found-provider-no">
               No I haven't
              </label>
            </div>
            
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
		          <p class="govuk-body">You need to add a training provider before submitting your advert. If you’re not sure,  <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/provider/search" class="govuk-link" target="_blank">​find a training provider (opens in a new tab or window)</a> based on apprenticeship training.</p>
		      </div> 
            
          </div>
          </fieldset>
        </div>
      
			
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        
        <p class="govuk-body"><a class="govuk-link" href="#" data-automation="cancel-link">Cancel</a></p>
        
        </form>
        
        
    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
