{% extends "layouts/main.html" %}

{% block pageTitle %}
  Saved standards - Employer
{% endblock %}


{% block main %}

{% include "../../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
	<a href="index.html" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>
	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
	    
      <h1 class="govuk-heading-xl">
        How many positions are there for this apprenticeship?
      </h1>
            
	<form novalidate="" action="/accounts/JKKBY6/vacancies/09238d28-39ac-452f-b733-20048d1a6b39/number-of-positions/?wizard=True" method="post">
            <div class="govuk-form-group">
                <span class="govuk-error-message field-validation-valid" id="error-message-NumberOfPositions" data-valmsg-for="NumberOfPositions" data-valmsg-replace="true"></span>
                <input class="govuk-input govuk-input--width-4" type="number" min="1" id="NumberOfPositions" name="NumberOfPositions" value="">
            </div>

            <button type="submit" class="govuk-button save-button">Save and continue</button>
            <div class="govuk-body">
                <a class="govuk-link" href="/accounts/JKKBY6/vacancies/">Cancel</a>
                
            </div>
            
	</form>
              
      
    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
