{% extends "layout.html" %}

{% block pageTitle %}
Reserve funding to train and assess an apprentice 
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}



<div class="govuk-width-container">
	
	{% include "includes/back-link.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
				

	<h1 class="govuk-heading-xl">Reserve funding to train and assess an apprentice  </h1>
	
	<p>...</p>


		
		


	


<form action="training-provider-choice" method="post">

	




	{{ govukRadios({
	  idPrefix: "training-provider-choice-check",
	  name: "training-provider-choice-check",
		fieldset: {
			legend: {
				text: "What do you want to do next?",
				classes: "govuk-fieldset__legend--m"
			}
		},
	  items: [
		{
		  value: "yes",
		  text: "Choose another course"
		},
		{
		  value: "no",
		  text: "Return to my account"
		}
	  ]
	}) }}

		{{ govukButton({
		  text: "Continue"
		}) }}

	</form> 



	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
