{% extends "layout.html" %}

{% block pageTitle %}
  Do you know which apprenticeship training your apprentice will take?
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}



<div class="govuk-width-container">
	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a> 

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">Apprenticeship training</h1>

  <form action="funding-not-available-combined" method="post">
  <h2 class="govuk-heading-m">Which apprenticeship training will the apprentice take?</h2>
  
    {{ govukInput({
      label: {
        text: "Search for a course"
      },
      hint: {
        text: "Start typing to search for an apprenticeship."
      },
      classes: "govuk-!-width-full",
      id: "full",
      name: "full"
    }) }}

    {{ govukDetails({
      summaryText: "Can I change the course?",
      text: "You can..."
    }) }}

				
	
    {{ govukRadios({
      idPrefix: "where-do-you-live",
      name: "where-do-you-live",
      fieldset: {
        legend: {
          text: "When will the apprenticeship training start?        ",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Select the month for the planned start date of the apprenticeship."
      },
      items: [
        {
          value: "england",
          text: "June 2022"
        },
        {
          value: "scotland",
          text: "July 2022"
        },
        {
          value: "scotland",
          text: "August 2022"
        }
      ]
    }) }}

  

		{{ govukButton({
		  text: "Save and continue"
		}) }}

  </form>


	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
