{% extends "layouts/main.html" %}
{% set version = "v3" %}

{% block pageTitle %}
Funding
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v6/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Select funding</h1>
      </div>
    </div>



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <p class="govuk-body">These are the funding options available to you at the moment.</p>

        <h2 class="govuk-heading-m">Current funding funding</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your current funds
            </dt>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> reservation</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              £370,500
            </dt>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/employer/v6/add/apprenticeship-training-course-al">Select<span
                      class="govuk-visually-hidden"> select</span></a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>

        <div class="govuk-!-padding-bottom-4"></div>

        <h2 class="govuk-heading-m">Existing funding</h2>

      </div>
    </div>

    <div class="govuk-!-padding-bottom-5"></div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h3 class="govuk-heading-s">Transfer funds</h3>

        <p class="govuk-body">You do not have any transfer funding.</p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How transfer funds work
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">You can <a href="https://transfers.manage-apprenticeships.service.gov.uk/"
                class="govuk-link">apply to receive funds</a> that levy-paying businesses offer to other businesses.</p>
            <p class="govuk-body">If your application is successful, this will cover 100% of your apprenticeship
              training and assessment costs (up to the
              funding band maximum).</p>
          </div>
        </details>

      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h3 class="govuk-heading-s">Direct transfer funds</h3>

        <p class="govuk-body">You do not have any direct transfer connections.</p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How direct transfer funds work
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">You can arrange for a levy-paying business that you know to <a
                href="/employer/v5/add/transfer-connections" class="govuk-link">transfer funds directly</a> to you, but
              they must invite you to do this from their employer account.</p>
            <p class="govuk-body">If your application is successful, this will cover 100% of your apprenticeship
              training
              and assessment costs (up to the
              funding band maximum).</p>
          </div>
        </details>

      </div>
    </div>


</div>




</div>



</main>
</div>


</div>



</main>
</div>
</div>
</div>
</div>
{% endblock %}

{% endblock %}