{% extends "layout.html" %}

{% block pageTitle %}
  Select permissions
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block beforeContent %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a class="govuk-back-link" onclick="history.back()" href="#">Back</a>
    </div>
    <div class="govuk-grid-column-one-half">
        
    </div>
  </div>
</div>
{% endblock %}
{% block content %}


<div class="govuk-width-container">
  
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
   
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Select permissions for EDUC8 TRAINING (ENGLAND) LIMITED</h1>

      <p>These permissions are on behalf of BARBERRY COVENTRY LIMITED</p>
		 
      {{ govukRadios({
        idPrefix: "add-apprentice-records",
        name: "add-apprentice-records",
        fieldset: {
          legend: {
            text: "Add apprentice records",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "This allows your training provider to add apprentice records. If you do not pay the levy, this permission allows your training provider to reserve funding."
        },
        items: [
          {
            value: "allow",
            text: "Allow"
          },
          {
            value: "do not allow",
            text: "Do not allow"
          }
        ]
      }) }}



      {{ govukRadios({
        idPrefix: "recruit-apprentices",
        name: "recruit-apprentices",
        fieldset: {
          legend: {
            text: "Recruit apprentices",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "This allows your training provider to create and manage job adverts. It also allows them to receive and manage applications."
        },
        items: [
          {
            value: "allow",
            text: "Allow"
          },
          {
            value: "allow but review",
            text: "Allow, but I want to review job adverts before they're advertised"
          },
          {
            value: "do not allow",
            text: "Do not allow"
          }
        ]
      }) }}


    
  
		  
      {{ govukButton({
        text: "Continue",
        href: "confirm-permissions"
      }) }}
		  



		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

{% endblock %}
