{% extends "layout.html" %}

{% block pageTitle %}
  Terms and conditions
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		<a href="#" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>


<h1 class="govuk-heading-xl">
	Funding projection tool
</h1>
		  	
<p class="govuk-body">
	This is an estimating tool and is based on the information we hold at a given time. This can changed depending on the information provided by you or your training provider.
<p>
	{{ govukInsetText({
		text: "This should be used for guidance only."
	}) }}

	<h2 class="govuk-heading-l">
		Before you start
	</h2>

<p class="govuk-body">
	The figures used to calculate future funding is base on:
<p>
	<ul class="govuk-list govuk-list--bullet">
		<li>
			your declared levy
		</li>
		<li>
			<a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/360009366840-English-percentage" class="govuk-link">English percentage</a>
		</li>
		<li>
			government top-up (10%)
		</li>
	</ul>

	<p class="govuk-body">
		less
	<p>

		<ul class="govuk-list govuk-list--bullet">
			<li>
				current apprenticeship costs
			</li>
			<li>
				transfers to other employers
			</li>
			<li>
				funds due to expire
			</li>
		</ul>

		


		<div class="govuk-button-group">
			{{ govukButton({
			  text: "Continue"
			}) }}
		  
			
		  </div>
		
      

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
