{% extends "layout.html" %}

{% block pageTitle %}
  Terms and conditions
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}
<style>
	.govuk-notification-banner__content > * {
    box-sizing: border-box;
    max-width: 100%;
}
</style>



<div class="govuk-width-container">
	
	
		<a href="#" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-whole">
		<div class="das-notification">
			<p class="govuk-notification-banner__heading">Coronavirus(COVID-19): to find out how we can support you, including changes we’re making to help your apprentices continue learning, <a href="#">read our updated guidance</a>.

			</p>
		</div>
		{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}


		{% set html %}
		<p class="govuk-notification-banner__heading">
			We've updated our  
			<a class="govuk-notification-banner__link" href="updated-terms-and-conditions">terms of use</a>. By continuing to use this service you are accepting the updated terms.
		</p>
		{% endset %}

		{{ govukNotificationBanner({
		html: html,
		titleText: 'Action required'
		}) }}

		<h1 class="govuk-heading-l">Your accounts</h1>
		<p class="govuk-body">
			Select an account or add a new one.
		<p>





			<table class="govuk-table">
				
				<thead class="govuk-table__head">
				  <tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Accont name</th>
					<th scope="col" class="govuk-table__header ">What you can do	</th>
					<th scope="col" class="govuk-table__header "> </th>
				  </tr>
				</thead>
				<tbody class="govuk-table__body">
				  <tr class="govuk-table__row">
					<td class="govuk-table__cell ">Coventry City Council_Levy Payer Account ID: JJNLKR	</td>
					<td class="govuk-table__cell ">Accept agreements, view information and manage PAYE schemes, organisations, apprentices and team members	</td>
					<td class="govuk-table__cell "><a href="dashboard-with-banner">Open Coventry City Council_Levy Payer account homepage</a></td>
				  </tr>
				  <tr class="govuk-table__row">
					<td class="govuk-table__cell ">COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE_Levy Receiver Account ID: PYJG68	</td>
					<td class="govuk-table__cell ">Accept agreements, view information and manage PAYE schemes, organisations, apprentices and team members	</td>
					<td class="govuk-table__cell "><a href="#">Open COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE_Levy Receiver account homepage</a></td>
				  </tr>
				  <tr class="govuk-table__row">
					<td class="govuk-table__cell ">BARBERRY COVENTRY LIMITED_Non-Levy Account ID: MMNL99		</td>
					<td class="govuk-table__cell ">Accept agreements, view information and manage PAYE schemes, organisations, apprentices and team members		</td>
					<td class="govuk-table__cell "><a href="#">Open BARBERRY COVENTRY LIMITED_Non-Levy account homepage</a></td>
				  </tr>
				</tbody>
			  </table>





		  	


		<div class="govuk-button-group">
			{{ govukButton({
			  text: "Add new account"
			}) }}
		  
			
		  </div>
		
      

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
