{% extends "layout.html" %}

{% block pageTitle %}
  Banner - stopped
{% endblock %}

{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			
			
        <h1 class="govuk-heading-l">Joe Bloggs</h1>
        		
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Status
		        </dt>
		        <dd class="govuk-summary-list__value">
		          <!-- <strong class="govuk-tag govuk-tag--grey">-->Stopped<!-- </strong> -->
		        </dd>
		          <dd class="govuk-summary-list__actions">

		          </dd>
		      </div>
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Stopped date
		        </dt>
		        <dd class="govuk-summary-list__value">
		          February 2020
		        </dd>
		          <dd class="govuk-summary-list__actions">
		              <a class="govuk-link" href="#">
		                Edit<span class="govuk-visually-hidden"> Stopped date</span>
		            </a>
		          </dd>
		      </div>
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Training provider
		        </dt>
		        <dd class="govuk-summary-list__value">
		          BARKING AND DAGENHAM COLLEGE
		        </dd>
		          <dd class="govuk-summary-list__actions">
		             <!-- <a class="govuk-link" href="#">
		                Change<span class="govuk-visually-hidden"> training provider</span>
		            </a> -->
		          </dd>
		      </div>
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Cohort reference
		        </dt>
		        <dd class="govuk-summary-list__value">
		          VDBNLX <!-- <p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p> -->
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		       <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Apprenticeship records
		        </dt>
		        <dd class="govuk-summary-list__value">
		           <p class="govuk-body">
			          <a href="#">TRAINING PROVIDER X</a><br>
			          <span class="govuk-body-s">Feb 2020 to [planned end date]</span>
		          </p>
		          <p class="govuk-body">
			          BARKING AND DAGENHAM COLLEGE</a><br>
			          <span class="govuk-body-s">Jan 2020 to Feb 2020</span>
		          </p>
		          <p class="govuk-body">
			          <a href="#">TRAINING PROVIDER Y</a><br>
			          <span class="govuk-body-s">Jan 2019 to Jan 2020</span>
		          </p>
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		</dl>
		
		
		<h2 class="govuk-heading-m">Apprentice details</h2>
		
		
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Name
		        </dt>
		        <dd class="govuk-summary-list__value">
		          Joe Bloggs
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Unique learner number
		        </dt>
		        <dd class="govuk-summary-list__value">
		          7542202625
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Date of birth	
		        </dt>
		        <dd class="govuk-summary-list__value">
		          	20 Oct 2000
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		</dl>
		
		
		
		<h2 class="govuk-heading-m">Apprenticeship details</h2>
		
		
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Apprenticeship training course
		        </dt>
		        <dd class="govuk-summary-list__value">
		          Police Community Support Officer, Level: 4 (Standard)
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Planned training start date
		        </dt>
		        <dd class="govuk-summary-list__value">
		          October 2019	
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Planned training finish date	
		        </dt>
		        <dd class="govuk-summary-list__value">
		          	October 2020
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		      
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Total agreed apprenticeship price		
		        </dt>
		        <dd class="govuk-summary-list__value">
		          	£1,000 excluding VAT	
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		      
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          Reference	
		        </dt>
		        <dd class="govuk-summary-list__value">
		          	
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		      
		      <div class="govuk-summary-list__row">
		        <dt class="govuk-summary-list__key">
		          End-point assessor		
		        </dt>
		        <dd class="govuk-summary-list__value">
		          	The end-point assessor has not been declared	
		        </dd>
		          <dd class="govuk-summary-list__actions">
		          </dd>
		      </div>
		</dl>
		
		

    </div>
</div>

</div>

{% endblock %}

{% endblock %}
