{% extends "layout.html" %}

{% block pageTitle %}
  Banner - training provider
{% endblock %}

{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}

<style>
	.das-account-header--employer {
	background: #f47738;
	}
</style>

<div class="govuk-width-container">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">



	    <!-- ACTION REQUIRED -->
	    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
		  <div class="govuk-notification-banner__header">
		    <h1 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
		      Action required
		    </h1>
		  </div>
		  <div class="govuk-notification-banner__content">
		    <p class="govuk-notification-banner__heading">
		      There are changes to this apprentice's details that you need to review.
		      <a class="govuk-notification-banner__link" href="#">Review changes</a>.
		    </p>
		  </div>
		</div>
		
		
		<!-- OTHER -->
		
		<h2 class="govuk-heading-m">Changes to the account</h2>
		
		{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

		<div class="govuk-inset-text">
		  <p>There are changes to this apprentice's details that are waiting for approval by the employer.</p>
		  <a href="#">View changes</a>
		</div>
		
		<br><br>

                                    
        <h1 class="govuk-heading-xl">Archie Testing</h1>

            <details id="change-of-employer-details" class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with changes in apprentice's circumstances
        </span>
    </summary>
    <div class="govuk-details__text">

        <p class="govuk-body">
            If an apprentice you're training needs to move to a new employer, you should:

            </p><ul class="govuk-list govuk-list--bullet">
                <li>contact their original employer and ask them to stop the apprentice record</li>
                <li>speak to the new employer to agree new training dates, price and request permission to move the apprentice to their apprenticeship service account</li>
            </ul>

            Once you've agreed these details, you can change the employer.<br><br>

            Non-levy employers will not need apprenticeship funding reserved when taking on an apprentice from another employer.
        <p></p>
    </div>
</details>

        <h2 class="govuk-heading-m">Apprentice status</h2>
        <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
        </div>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Status</th>
                    <td id="apprenticeship-status" class="govuk-table__cell das-table-cell-width-55">Stopped</td>
                </tr>

                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Stop applies from</th>
                        <td id="apprenticeship-stop-date" class="govuk-table__cell">Feb 2020</td>
                    </tr>


            </tbody>
        </table>

        <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Overview</h2>
            </div>
            <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
            </div>
        </div>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">

                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Employer</th>
                    <td id="apprenticeship-employer" class="govuk-table__cell das-table-cell-width-40">Coventry City Council</td>
                    <td class="govuk-table__cell das-table-cell-width-15 govuk-table__cell--numeric">
                           <!-- <a id="change-employer-link" class="govuk-link" href="/10005310/apprentices/YG98G4/change-employer">Change</a> -->
                    </td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Reference</th>
                    <td id="apprenticeship-reference" class="govuk-table__cell">VK6D68</td>
                    <td class="govuk-table__cell"></td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Agreement ID</th>
                    <td id="apprenticeship-agreement-id" class="govuk-table__cell">36Z825</td>
                    <td class="govuk-table__cell"></td>
                </tr>
                
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Employer history</th>
                    <td class="govuk-table__cell">
	                    <p class="govuk-body">
				          <a href="#">[Current employer name]</a><br>
				          <span class="govuk-body-s">Feb 2020 to [planned end date]</span>
			          </p>
			          <p class="govuk-body">
				          Coventry City Council<br>
				          <span class="govuk-body-s">Jan 2020 to Feb 2020</span>
			          </p>
			          <p class="govuk-body">
				          <a href="#">[Old employer name]</a><br>
				          <span class="govuk-body-s">Jan 2019 to Jan 2020</span>
			          </p>
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>
            </tbody>
        </table>

        <div class="govuk-grid-row govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Apprentice</h2>
            </div>
            <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
            </div>
        </div>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header das-table-cell-width-45">Name</th>
                    <td id="apprentice-name" class="govuk-table__cell das-table-cell-width-55">Archie Testing</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td id="apprentice-dob" class="govuk-table__cell">1 Jan 2000</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Unique learner number</th>
                    <td id="apprentice-uln" class="govuk-table__cell">8353543612</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Apprenticeship training course</th>
                    <td id="apprentice-course" class="govuk-table__cell">Able seafarer (deck), Level: 2 (Standard)</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Training start date</th>
                    <td id="apprentice-start-date" class="govuk-table__cell">Mar 2021</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Training end date</th>
                    <td id="apprentice-end-date" class="govuk-table__cell">Jan 2024</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
                    <td id="apprentice-price" class="govuk-table__cell">£4,568</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Your reference</th>
                    <td id="apprentice-reference" class="govuk-table__cell"></td>
                </tr>
                
            </tbody>
        </table>
    </div></div>

</div>

{% endblock %}

{% endblock %}
