{% extends "layouts/main.html" %}
{% set version = "v7" %}
{% set pageTitle = "Add apprentice details" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>


    <form id="addApprenticeship" action="/employer/v7/add/approve-details" method="post">
      <h2 class="govuk-heading-m">
        Apprentice personal details
      </h2>
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-label--s" for="FirstName">First name</label>
          <div id="name-hint" class="govuk-hint">
            This should be their legal name. You do not need to include any middle names
          </div>
          <input class="govuk-input" type="text" id="FirstName" name="FirstName" autocomplete="given-name"
            value="{{ data['FirstName'] or ''}}">
        </div>
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-label--s" for="LastName">Last name</label>
          <div id="lastname-hint" class="govuk-hint">
            This should be their legal name
          </div>
          <input class="govuk-input" type="text" id="LastName" name="LastName" autocomplete="family-name"
            value="{{ data['LastName'] or ''}}">
        </div>
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-label--s" for="Email">Email address</label>
          <div id="lastname-hint" class="govuk-hint">
            This should be the apprentice’s preferred email address
          </div>
          <input class="govuk-input" type="text" id="Email" name="Email" autocomplete="email"
            value="{{ data['Email'] or ''}}">
        </div>
        <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why do we need an email address?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">Your apprentice will get an email inviting them to the My apprenticeship service.
              Using the service they can:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>review and confirm their apprenticeship details</li>
              <li>understand the roles and responsibilities of an apprentice, an employer and a training provider</li>
              <li>find help and support during their apprenticeship</li>
            </ul>
          </div>
        </details>

      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Date of birth
          </legend>
          <div id="dob-hint" class="govuk-hint">
            For example, 27 3 2001
          </div>
          <span class="field-validation-valid" data-valmsg-for="DateOfBirth" data-valmsg-replace="true"
            id="error-message-DateOfBirth"></span>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="BirthDay">Day</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric"
                  id="BirthDay" name="BirthDay" value="{{ data['BirthDay'] or '' }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="BirthMonth">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric"
                  id="BirthMonth" name="BirthMonth" value="{{ data['BirthMonth'] or '' }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="BirthYear">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" inputmode="numeric"
                  id="BirthYear" name="BirthYear" value="{{ data['BirthYear'] or '' }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">
        Apprentice training details
      </h2>
      {# <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Actual training start date
          </dt>
          <dd class="govuk-summary-list__value">
            14 November 2022
          </dd>
        </div>
      </dl> #}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" id="planned-start-date">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Planned training start date
          </legend>
          <div id="start-date-hint" class="govuk-hint">
            For example, 9 2022.</br>The standard version will be based on the training start date provided
          </div>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="StartMonth">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric"
                  id="StartMonth" name="StartMonth" value="{{ data['StartMonth'] or '' }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="StartYear">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" inputmode="numeric"
                  id="StartYear" name="StartYear" value="{{ data['StartYear'] or '' }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="finish-date-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Planned training end date
          </legend>
          <div id="finish-date-hint" class="govuk-hint">
            For example, 6 2024
          </div>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="EndMonth">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric"
                  id="EndMonth" name="EndMonth" value="{{ data['EndMonth'] or '' }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="EndYear">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" inputmode="numeric"
                  id="EndYear" name="EndYear" value="{{ data['EndYear'] or '' }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {% if data['delivery-method'] == "Portable flexi-job" %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="planned-training-end-date-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Planned training end date for this employment contract
          </legend>
          <div id="planned-training-end-date-hint" class="govuk-hint">
            For example, 3 2023
          </div>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label"
                  for="planned-training-end-date-EndMonth">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric"
                  id="planned-training-end-date-EndMonth" name="planned-training-end-date-EndMonth" value="">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="planned-training-end-date-EndYear">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" inputmode="numeric"
                  id="planned-training-end-date-EndYear" name="planned-training-end-date-EndYear" value="">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {% endif %}



      <div class="govuk-form-group ">
        <label class="govuk-label govuk-!-font-weight-bold" for="Cost">Total agreed apprenticeship price (excluding
          VAT)</label>

        <div id="price-hint" class="govuk-hint">
          This is the total price that is paid to the training provider. This should have been agreed with your training
          provider.<br><br>For example, for £10,000 enter 10000
        </div>
        <div class="govuk-input__wrapper govuk-!-margin-top-1">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" type="text" inputmode="numeric" id="Cost" name="Cost"
            spellcheck="false">
        </div>
      </div>

      <div class="govuk-character-count" data-module="character-count" data-maxlength="20">
        <div class="govuk-form-group ">
          <label class="govuk-label govuk-!-font-weight-bold" for="Reference">Reference (optional)</label>
          <div id="reference-hint" class="govuk-hint">
            Add a reference, such as employee number or location - this won't be seen by the training provider
          </div>

          <input maxlength="20" class="govuk-input govuk-!-width-three-quarters js-character-count" type="text"
            id="Reference" name="Reference" value="">
        </div>
      </div>


      <button type="submit" class="govuk-button">Save and continue</button>



    </form>

  </div>


  <div class="govuk-grid-column-one-third">
    <div class="govuk-cookie-banner govuk-!-padding-left-3 govuk-!-padding-right-3" data-nosnippet role="region"
      aria-label="set-up-apprenticeship">
      <div class="govuk-cookie-banner__message govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-cookie-banner__heading govuk-heading-s">Apprenticeship details</h2>
            <ul class="govuk-list govuk-list">
              <li>Training provider: <br><strong>EDUC8 TRAINING</strong></li>
              <li>Course: <br><strong>Business administrator, <br>Level: 3</strong><br><a
                  href="/employer/v7/add/apprenticeship-training-course" class="govuk-link">Change</a></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</div>

{% endblock %}