{% extends "layouts/main.html" %}
{% set version = "v7" %}
{% set pageTitle = "Approve apprentice details" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Funds have been reserved for this apprentice
            </h3>
            <p class="govuk-body">Continue to send apprentice details to your training provider.</p>
          </div>
        </div>

        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-5">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Training provider
            </dt>
            <dd class="govuk-summary-list__value">
              EDUC8 TRAINING
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reference
            </dt>
            <dd class="govuk-summary-list__value">
              N6JNLB
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--purple">
                    New request
                  </strong>
                </td>
              </tr>
            </dd>
          </div>
        </dl>

        <div class="govuk-inset-text">
          <h3 class="govuk-heading-s">Payments</h3>
          <p class="govuk-body">You will only be able to authorise payments for this apprentice once all fields have
            been
            completed, either by yourself
            or your training provider.</p>
        </div>

      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m">

    <h3 class="govuk-heading-m">
      1 x Laboratory technician, Level: 3
    </h3>
    <table class="govuk-table das-table--responsive">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Date of birth</th>
          <th scope="col" class="govuk-table__header">Training dates</th>
          <th scope="col" class="govuk-table__header">Price</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" data-label="Name">
            <span class="das-breakable">{{ data['FirstName'] or 'Al' }} {{ data['LastName'] or 'Lightfoot' }}</span>
          </td>
          <td class="govuk-table__cell" data-label="Date of birth">19 Jan 2000</td>
          <td class="govuk-table__cell" data-label="Training dates">
            Aug 2024 to Aug 2026 </td>
          <td class="govuk-table__cell" data-label="Price">
            £21,000 </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> delete</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="/employer/v5/add/apprentice-details">Edit<span
                    class="govuk-visually-hidden"> edit</span></a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <style>
      .govuk-table__cell--numeric {
        text-align: right;
      }

      .das-table-cell-width-10 {
        width: 10%;
      }

      .das-table-cell-width-80 {
        width: 25%;
      }
    </style>

    <table class="govuk-table das-table--responsive">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header das-table-cell-width-80" scope="row">Total apprenticeship training price
            (excluding
            VAT)</th>
          <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-10"><strong
              style="text-align: right;">£21,000</strong></td>
          <td class="govuk-table__cell das-table-cell-width-10" aria-hidden="true"></td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body" style="display: flex; justify-content: space-between; align-items: center;">
      <a href="#" class="govuk-link add-apprentice">Add another apprentice</a>
      <a class="govuk-link" href="#">Delete this group</a>
    </p>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <hr class="govuk-section-break govuk-section-break--l">
        <form id="submitCohort" novalidate="" method="post" action="/employer/v7/add/action/approve-details">
          <div class="govuk-form-group  ">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">Submit apprentice details to your training provider?</h3>
              </legend>
              <p class="govuk-body">Your training provider will review these details, and approve them or make changes
                for you to review.</p>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-approve" name="selection" type="radio" value="Approve"
                    aria-controls="conditional-approve">
                  <label class="govuk-label govuk-radios__label" for="radio-approve">
                    Yes, approve and notify training provider
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-approve">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="approve-details">
                      Leave EDUC8 TRAINING a message (optional)
                    </label>
                    <textarea class="govuk-textarea" id="approve-details" name="approvemessage" rows="5">
                  {{ data['approvemessage'] or '' }}</textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-send" name="selection" type="radio" value="Send"
                    aria-controls="conditional-send">
                  <label class="govuk-label govuk-radios__label" for="radio-send">
                    No, save as a draft and I'll come back to it later
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <p class="govuk-body"><strong>Once details are submitted, you’ll need to contact your training provider to
              make any changes immediately.</strong></p>

          <button type="submit" id="continue-button" class="govuk-button">Accept and submit</button>



  </main>

</div>

{% endblock %}

{% endblock %}