{% extends "layouts/main.html" %}
{% set version = "v7" %}
{% set pageTitle = "Confirm funding for your training provider" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              New reservation
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> reservation type</span></a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Apprenticeship training course
                </dt>
                <dd class="govuk-summary-list__value">
                  Business administrator, Level: 3
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start date
                </dt>
                <dd class="govuk-summary-list__value">
                  October 2024
                </dd>
              </div>
            </dl>
          </div>
        </div>


        <div class="govuk-!-padding-bottom-5"></div>

        <form id="submitCohort" novalidate="" method="post" action="/employer/v7/add/action/confirm-reservation">
          <div class="govuk-form-group  ">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading">Have you entered all funding?</h3>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-yes" name="selection" type="radio" value="Yes"
                    aria-controls="conditional-approve">
                  <label class="govuk-label govuk-radios__label" for="radio-approve">
                    Yes, I've entered all the funding
                  </label>
                  <div id="tp-hint" class="govuk-hint govuk-radios__hint">
                    Send my request to my training provider
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-no" name="selection" type="radio" value="No"
                    aria-controls="conditional-send">
                  <label class="govuk-label govuk-radios__label" for="radio-send">
                    No, I want to add funding for another apprentice
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <button type="submit" id="continue-button" class="govuk-button">Continue</button>

        </form>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-cookie-banner govuk-!-padding-left-3 govuk-!-padding-right-3" data-nosnippet role="region"
          aria-label="set-up-apprenticeship">
          <div class="govuk-cookie-banner__message govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h2 class="govuk-cookie-banner__heading govuk-heading-s">Apprenticeship details</h2>
                <ul class="govuk-list govuk-list">
                  <li>Training provider: <br><strong>EDUC8 TRAINING</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>

{% endblock %}

{% endblock %}