{% extends "layouts/main.html" %}
{% set version = "v7" %}
{% set pageTitle = "You cannot send a request to your training provider" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        <p class="govuk-body-m">As a minimum, you need to know the apprenticeship training course and the planned start
          date.
        </p>

        <p class="govuk-body-m">If you don’t know which apprenticeship training course is suitable for your apprentice,
          you can search <a href="https://www.gov.uk/employers-find-apprenticeship-training" class="govuk-link">Find
            apprenticeship training</a>. 
        </p>

        <p class="govuk-body-m">If you don’t know the planned start date for your apprentice you should speak to your
          training provider.</p>

        <div class="govuk-!-padding-bottom-5"></div>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-cookie-banner govuk-!-padding-left-3" data-nosnippet role="region"
          aria-label="set-up-apprenticeship">
          <div class="govuk-cookie-banner__message govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-cookie-banner__heading govuk-heading-s">Summary:</h2>
                <ul class="govuk-list govuk-list">
                  <li>Training provider: <strong>EDUC8 TRAINING</strong></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}

{% endblock %}