{% extends "layouts/main.html" %}
{% set version = "v7" %}
{% set pageTitle = "Add an apprentice" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              You do not have funding set up for your apprentice
            </h3>
            <p class="govuk-body">Adding a new apprentice will automatically reserve
              funds for
              you.</p>
          </div>
        </div>


        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body">Add details of one or more apprentices to your account, and authorise payments to your
          training provider.</p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You must:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li>have a <b>training provider</b></li>
          <li>know know the <b>legal name</b> and <b>email address</b> of your apprentice</li>
          <li>know the <b>course name</b> and <b>start date</b></li>
          <li>have <b>authority to act</b> for the organisation that's named on the contract you have with your training
            provider <a href="#" class="govuk-link">(view your
              organisations)</a> </li>
          <li>make sure the <b>PAYE scheme</b> that the apprentices will be paid through is added to your account <a
              href="#" class="govuk-link">(view your PAYE schemes)</a></li>
        </ul>

        <a id="continue-button" role="button" draggable="false" class="govuk-button govuk-button--start"
          href="/employer/v7/add/provider-details">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
            viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

      </div>

      <div class="govuk-grid-column-one-third">

        <div class="govuk-!-padding-bottom-2"></div>

        <hr class="das-section-break das-section-break--l" style="border-top: 3px solid #005ea5; padding-top: 0px;">
        <div class="related-navigation">
          <h2 class="govuk-heading-s">Related content</h2>

          <img src="/public/images/video_non-levy-add-apprentice.png" width="300px"><img>

          <ul class="govuk-list related-links">
            <li class="govuk-body-s govuk-!-static-padding-bottom-1"><a
                href="https://www.gov.uk/employing-an-apprentice" class="govuk-link" rel="noreferrer noopener"
                target="_blank">Non-levy employers: How to add an apprentice (opens in a new tab)</a></li>
            <li class="govuk-body-s govuk-!-static-padding-bottom-1">Youtube > DfE sector Comms</li>
          </ul>
        </div>

        <hr class="das-section-break das-section-break--l" style="border-top: 3px solid #005ea5; padding-top: 0px;">
        <div class="related-navigation">
          <h2 class="govuk-heading-s">Useful links</h2>
          <ul class="govuk-list related-links">
            <li class="govuk-body-s govuk-!-static-padding-bottom-1"><a
                href="https://www.gov.uk/employing-an-apprentice" class="govuk-link" rel="noreferrer noopener"
                target="_blank">Employing an apprentice (opens in a new tab)</a>
            </li>
            <li class="govuk-body-s govuk-!-static-padding-bottom-1"><a
                href="https://www.gov.uk/government/publications/apprenticeship-funding/apprenticeship-funding-for-employers-who-do-not-pay-the-apprenticeship-levy#:~:text=Each%20reservation%20is%20linked%20to,the%20reservation%20into%20a%20commitment."
                class="govuk-link" rel="noreferrer noopener" target="_blank">Non-levy apprenticeship funding (opens in a
                new
                tab)</a></li>
            <li class="govuk-body-s govuk-!-static-padding-bottom-1"><a
                href="https://www.gov.uk/guidance/receive-a-levy-transfer-from-another-business-to-fund-an-apprenticeship"
                class="govuk-link" rel="noreferrer noopener" target="_blank">Receive a levy transfer from another
                business to fund an apprenticeship (opens in a
                new
                tab)</a></li>
            <li class="govuk-body-s govuk-!-static-padding-bottom-1"><a href="#" class="govuk-link"></a></li>
            <li class="govuk-body-s govuk-!-static-padding-bottom-1"><a href="#" class="govuk-link"></a></li>
            <li class="govuk-body-s govuk-!-static-padding-bottom-1"><a href="#" class="govuk-link"></a></li>
          </ul>
        </div>

      </div>


    </div>

  </main>
</div>

{% endblock %}

{% endblock %}