{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
			<h1 class="govuk-panel__title">
			  PAYE scheme added
			</h1>
		  </div>
		  
  	  

		  <ol class="app-task-list">
			<li>
			  <h2 class="app-task-list__section">
				What do you want to do next?
			  </h2>
			  <ul class="app-task-list__items">
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
					  <a href="#" aria-describedby="eligibility-status">
						Added PAYE scheme
					  </a>
					</span>
					<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
				  </li>
				<li class="app-task-list__item">
				  <span class="app-task-list__task-name">
					<a href="#" aria-describedby="eligibility-status">
					  View and accept the employer agreement
					</a>
				  </span>
				  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="eligibility-status">Not started</strong>
				</li>
				<li class="app-task-list__item">
				  <span class="app-task-list__task-name">
					<a href="#" aria-describedby="read-declaration-status">
					  Add training provider
					</a>
				  </span>
				  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
				</li>
  
			  </ul>
			</li>
	
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

			<p class="govuk-body">
			<a href="#">I want to finish setting up my account later</a>	
			</p>




		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

{% endblock %}
