{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

		  
<div class="govuk-width-container">
	<div class="govuk-grid-row">
	
	<div class="govuk-grid-column-two-thirds">
	
  
		  <h1 class="govuk-heading-l">Do you want to give your training provider any permissions to do on your behalf?</h1>
  
		  <p class="govuk-body">
			Your training provider will not be able to access your account. You can add them, then give them choose to give them permission to: 
		  </p>
		  <ul class="govuk-list govuk-list--bullet">
			  <li>
				add apprentice records
			  </li>
			  <li>
				recruit apprentices  
			  </li>
			  <li>
				create job adverts
			  </li>
		  </ul>
  

		  <div class="govuk-form-group">
			<fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
			  <div class="govuk-radios" data-module="govuk-radios">
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
				  <label class="govuk-label govuk-radios__label" for="sign-in">
					Yes, I want to add my training provider and setup their permissions now
				  </label>
				</div>
				<div class="govuk-radios__item">
					<input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
					<label class="govuk-label govuk-radios__label" for="sign-in">
					  Yes, but I want to add my training provider and setup their permissions later
					</label>
				  </div>  
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
				  <label class="govuk-label govuk-radios__label" for="sign-in-2">
					No I don't want to give my training provider any permissions, go straight to my account 
				  </label>
				</div>
			  </div>
			</fieldset>
		  </div>

		  <button class="govuk-button" data-module="govuk-button">
			Continue
		  </button>


		</div>
	  </div>
</div>
  
{% endblock %}

{% endblock %}
