{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  <div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
			  You've added EDUC8 TRAINING LIMITED as a training provider and set their permissions
			</h1>
		  </div>
		  
		  <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Training provider name</th>
                <th class="govuk-table__header">Permissions</th>
                    <th class="govuk-table__header"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell das-table-cell-width-30">EDUC8 TRAINING LIMITED</td>
                    <td class="govuk-table__cell das-table-cell-width-50">
                                <span>Add apprentice records</span><br>
                                <span>Cannot create job adverts</span><br>
                    </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                            <a class="govuk-link govuk-link--no-visited-state" href="/accounts/BB8W4N/providers/4190/legalentities/222895">
                                    Change permissions
                            </a>
                        </td>
                </tr>
            </tbody>
        </table>
    

		  <h2 class="govuk-heading-m govuk-!-margin-top-6">What do you want to do next?</h2>


		  <div class="govuk-form-group">
			<fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
			  <div class="govuk-radios" data-module="govuk-radios">
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
				  <label class="govuk-label govuk-radios__label" for="sign-in">
					Add another training provider and setup their permissions
				  </label>
				  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
					You can add a training provider, then give them permission to add apprentice records, recruit apprentices and create job adverts on your behalf.
				  </div>
				</div>
				<div class="govuk-radios__item">
					<input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
					<label class="govuk-label govuk-radios__label" for="sign-in-2">
					  View and accept your employer agreement with the ESFA
					</label>
				  </div>  
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
				  <label class="govuk-label govuk-radios__label" for="sign-in-2">
					Go to your account
				  </label>
				</div>
			  </div>
			</fieldset>
		  </div>
	
		  <button class="govuk-button" data-module="govuk-button">
			Continue
		  </button>





		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

{% endblock %}
