{% extends "layout.html" %}

{% block pageTitle %}
  Terms and conditions
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		<a href="#" class="govuk-back-link" style="margin-top: 0">Back</a>
	<br><br>

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		

		<h1 class="govuk-heading-l">Updated terms of use</h1>
		<p class="govuk-body">
			We've updated our terms of use. To continue to use this service, you will need to accept the new terms by XX/XX/XXXX.
		<p>


			{{ govukInsetText({
				text: "The terms of use is a 2 minute read."
			  }) }}


		<div class="govuk-button-group">
			{{ govukButton({
			  text: "Read terms of use",
			  href: "updated-terms-and-conditions"
			}) }}
		  
			{{ govukButton({
			  text: "Read later",
			  classes: "govuk-button--secondary",
			  href: "select-account-with-banner"
			}) }}
		  </div>
		
      

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
