{% extends "layout.html" %}

{% block pageTitle %}
  Terms and conditions
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		

		<h1 class="govuk-heading-xl">Terms of use</h1>

		<p class="govuk-body">
			To use this service you agree to: 
		<p>
			<ul class="govuk-list govuk-list--bullet">
				<li>
					Sign out at the end of each session 
				</li>
				<li>
					Input truthful and accurate information  
				</li>
				<li>
					Adhere to the <a href="#" class="govuk-link">Computer Misuse Act 1990</a>
				</li>
				<li>
					Use only a legitimate email address that you or people in your organisation has access to
				</li>
				<li>
					Keep your sign in details secure and do not share them with third parties 
				</li>
				<li>
					Not use discriminatory wording set out in the <a href="#" class="govuk-link">Equality Act 2010</a>
				</li>
				<li>
					Make sure the published rates of pay comply with the <a href="#" class="govuk-link">National minimum wage</a> guidelines and are not misleading to candidates  
				</li>
				<li>
					Adhere to all relevant <a href="#" class="govuk-link">UK employment laws</a> 
				</li>
				<li>
					If you are a commercial organisation as defined in <a href="#" class="govuk-link">section 54 of the Modern Slavery Act 2015</a>, adhere to the annual reporting requirements
				</li>
				<li>
					Your apprenticeship adverts being publicly accessible, including the possibility of partner websites displaying them  
				</li>
				<li>
					Comply with the government safeguarding policies for <a href="#" class="govuk-link">children </a> and <a href="#" class="govuk-link">vulnerable adults</a>
				</li>
				<li>
					Not provide feedback on a training provider when you are an employer provider. 
				</li>
				<li>
					Be an active and trading business at the point of creating an apprenticeship service account.
				</li>
				<li>
					Only add apprentices that are linked to the PAYE scheme registered in your employer account
				</li>
				<li>
					Comply at all times with the Apprenticeship Agreement for Employers and Apprenticeship Funding Rules
				</li>
			</ul>
			<p class="govuk-body">
				When you sign up for an apprenticeship service account we may need to verify and validate your company.  You may not be granted an account if you fail the checks conducted by ESFA.
			<p>
			<p class="govuk-body">
				Your contact details and information associated with your account will be collected and used for the support and administration of your account.  		
			<p>
			<p class="govuk-body">
				We will not: 
			<p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						Use or disclose this information for other purposes (except where we’re legally required to do so) 
					</li>
					<li>
						Use your details for any marketing purposes or for any reason unrelated to the use of your account  
					</li>
				</ul>
				<p class="govuk-body govuk-!-margin-bottom-9">
					We may update these terms and conditions at any time without notice. You’ll agree to any changes if you continue to use this service after the terms and conditions have been updated.  
				<p>

					{{ govukCheckboxes({
						idPrefix: "waste",
						name: "waste",
						
						fieldset: {
						  legend: {
							text: "Confirm you have read and accept the terms of use",
							isPageHeading: false,
							classes: "govuk-fieldset__legend--m"
						  }
						},
						
						items: [
						  {
							value: "accept",
							text: "I have read and accept the terms of use"
						  }
						]
					  }) }}

			{{ govukButton({
			  text: "Continue",
			  href: "select-account"
			}) }}
		  
			
		  <br>
		  <a href="terms-and-conditions-question-v2" class="govuk-link govuk-!-margin-top-1 govuk-!-margin-bottom-9">Cancel</a>
			<br><br>

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
