{% extends "layout.html" %}

{% block pageTitle %}
355 - Update UI after security update to employer sign in
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		<h1 class="govuk-heading-l">Reset your password</h1>

		<p class="govuk-body">
			Enter your email address to get a password reset code.
		<p>
			{{ govukInput({
				label: {
				  text: "Email",
				  classes: "govuk-label--s",
				  isPageHeading: false
				},
				id: "event-name",
				name: "event-name",
				type: "email",
				classes: "govuk-input--width-30"
			  }) }}

			  
		
			  {{ govukButton({
				text: "Get reset code",
				href: "reset-code"
			  }) }}   
			  <div class="govuk-grid-row govuk-!-margin-bottom-9">
				<div class="govuk-grid-column-two-thirds">
				
				</div>
			  </div>
			  
		
    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
