{% extends "layouts/main.html" %}

{% block pageTitle %}
355 - Update UI after security update to employer sign in
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


		<h1 class="govuk-heading-l">Sign in</h1>

		<p class="govuk-body">
			Sign in or <a href="#">create an account</a> to manage your apprenticeship funds.
		<p>
			{{ govukInput({
				label: {
				  text: "Email address",
				  classes: "govuk-label--m",
				  isPageHeading: false
				},
				id: "email-address",
				name: "email-address",
				type: "email",
				classes: "govuk-input--width-30"
			  }) }}

			  {{ govukInput({
				label: {
				  text: "Password",
				  classes: "govuk-label--m",
				  isPageHeading: false
				},
				id: "password",
				name: "password",
				type: "password",
				classes: "govuk-input--width-30"
			  }) }}
		
			  {{ govukButton({
				text: "Continue"
			  }) }}   
			  <div class="govuk-grid-row govuk-!-margin-bottom-9">
				<div class="govuk-grid-column-two-thirds">
				<a href="forgotten-password" class="govuk-link ">Forgotten your password?</a> 
				</div>
			  </div>
			  
		
    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
