{% extends "layout.html" %}

{% block pageTitle %}
  Agreements view - Table component
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		
	<div class="govuk-grid-row">	
		<div class="govuk-grid-column-two-thirds">
			
		
			<h1 class="govuk-heading-xl">Your agreements with the Education and Skills Funding Agency (ESFA)</h1>
	
			<h2 class="govuk-heading-l">Agreement between BARBERRY COVENTRY LIMITED and ESFA</h2>
			<h3 class="govuk-heading-m">Agreement ID: 75492K</h3>
		</div>
	</div>
	<hr class="govuk-!-margin-top-6 govuk-!-margin-bottom-6"> 
	
	<strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-3">
		Awaiting acceptance
	  </strong>
		
		<p class="govuk-body-l">
			Published 19 May 2021
		<p>
		{{ govukInsetText({
			text: "This is a variation to the agreement we published 9 January 2020.
			"
		  }) }}
		<p class="govuk-body">
			This agreement creates a legal contract between BARBERRY COVENTRY LIMITED and ESFA. It allows you to transfer funds to other employers and pay training providers for apprenticeships.
		<p>
			<p class="govuk-body">
				You need to ensure you have authority from your organisation before you accept this agreement on their behalf.


			<p>
				<button class="govuk-button" data-module="govuk-button">
					View agreement
				  </button>
				  <hr class=" govuk-!-margin-top-6   govuk-!-margin-bottom-9"> 
	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		

</div>
	
	 <div class="govuk-grid-column-full">
		<h3 class="govuk-heading-m">Accepted agreements</h3>

		<h3 class="govuk-heading-s govuk-!-margin-bottom-9">You have no accepted agreements</h3>
	 
<!--	<table class="govuk-table govuk-!-margin-bottom-9">
		
		<thead class="govuk-table__head">
		  <tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header eighteen">Date published</th>
			<th scope="col" class="govuk-table__header twentyFive">Variation detail</th>
			
			<th scope="col" class="govuk-table__header">Date accepted</th>
			<th scope="col" class="govuk-table__header">Agreement detail</th>
			
			
		  </tr>
		</thead>
		<tbody class="govuk-table__body">
		  
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">20 May 2020</th>
			<td class="govuk-table__cell">
				This is a variation to the agreement we published 9 January 2020. You only need to accept it if you want to access incentive payments for hiring a new apprentice.
			</td>
			
			<td class="govuk-table__cell">
				21 August 2020
			</td>
			<td class="govuk-table__cell">
				<a href="#" class="govuk-link">View</a>
			</td>
		  </tr>
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">9 January 2020</th>
			<td class="govuk-table__cell">
				This is a new agreement.

			</td>
			
			<td class="govuk-table__cell">
				6 February 2020
			</td>
			<td class="govuk-table__cell">
				<a href="#" class="govuk-link">View</a>
			</td>
		  </tr>
		   
		</tbody>
	  </table>-->
			
		</div>

			
		 

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
