.das-tabs-boxes {
    margin-top: 5px;
    margin-bottom: 20px
}

@media(min-width: 40.0625em) {
    .das-tabs-boxes {
        margin-bottom:30px
    }
}

@media(min-width: 40.0625em) {
    .das-tabs-boxes {
        margin-left:-15px;
        margin-right: -15px
    }
}

.das-tabs-boxes__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px
}

@media(min-width: 40.0625em) {
    .das-tabs-boxes__list {
        margin-bottom:30px
    }
}

@media(min-width: 40.0625em) {
    .das-tabs-boxes__list {
        display:flex
    }
}

.das-tabs-boxes__list-item {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 3px;
    border: 1px solid #1d70b8;
    background: #1d70b8;
    color: #fff
}

@media print {
    .das-tabs-boxes__list-item {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .das-tabs-boxes__list-item {
        font-size:1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .das-tabs-boxes__list-item {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media(min-width: 40.0625em) {
    .das-tabs-boxes__list-item {
        width:25%;
        margin-left: 15px;
        margin-right: 15px
    }
}

.das-tabs-boxes__list-item--selected {
    background: #fff;
    color: #1d70b8
}

.das-tabs-boxes__tab {
    display: block;
    padding: 10px 15px;
    text-decoration: none
}

.das-tabs-boxes__tab:link,.das-tabs-boxes__tab:visited {
    color: inherit
}

@media(min-width: 40.0625em) {
    .das-tabs-boxes__tab {
        padding:15px;
        height: 100%;
        box-sizing: border-box
    }
}

.das-tabs-boxes__tab:focus {
    outline: 3px solid rgba(0,0,0,0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.das-tabs-boxes__figure {
    font-weight: bold;
    margin-right: 3px
}

@media(min-width: 40.0625em) {
    .das-tabs-boxes__figure {
        display:block;
        font-size: 3em;
        text-decoration: none
    }
}

.das-tabs-boxes__text {
    text-decoration: underline
}