{% extends "layout.html" %}

{% block pageTitle %}
  Funding projection tool - before you start
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container govuk-!-margin-top-1">
	<div class="govuk-grid-row govuk-!-margin-top-1">
		
	
	<div class="govuk-grid-column-full ">
		
		{{ govukBreadcrumbs({
			classes: "govuk-!-margin-top-1 govuk-!-margin-bottom-9",
			items: [
			  {
				text: "Home",
				href: "#"
			  },
			  
			  {
				text: "Finance",
				href: "#"
			  }
			]
		  }) }}


<h1 class="govuk-heading-xl ">
	Finance
</h1>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
	
<div class="grid-row finance_funds current-funds ">
	<div class="govuk-grid-column-one-third">

		<p class="govuk-body govuk-!-font-weight-bold finance-figure__title govuk-!-margin-bottom-1" id="lbl-current-funds">Current funds</p>
		<div class="govuk-body finance-figure " aria-labelledby="lbl-current-funds">£417,958</div>
	</div>
	<div class="govuk-grid-column-one-third">

		<p class="finance-figure__title govuk-!-font-weight-bold govuk-!-margin-bottom-1" id="lbl-current-spent-funds">Funds spent since Sep 2020</p>
		<div class="govuk-body finance-figure " aria-labelledby="lbl-current-spent-funds">£0</div>
	</div>
</div>

</div>
<div class="govuk-grid-row">
	
	<div class="grid-row finance_funds current-funds">
		<div class="govuk-grid-column-one-third">
	
			<p class="govuk-body govuk-!-font-weight-bold finance-figure__title govuk-!-margin-bottom-1" id="lbl-current-funds">Estimates (of what!?)</p>
			<div class="govuk-body finance-figure " aria-labelledby="lbl-current-funds">£0</div>
			<p class="govuk-body-s">
				Estimated total funding for the next 12 months (based on funds entering your Apprenticeship service account, including the 10% top up)
			<p>
		</div>
		<div class="govuk-grid-column-one-third">
	
			<p class="finance-figure__title govuk-!-font-weight-bold govuk-!-margin-bottom-1" id="lbl-current-spent-funds"> tbc</p>
			<div class="govuk-body finance-figure " aria-labelledby="lbl-current-spent-funds">£103,314</div>
			<p class="govuk-body-s">
				Estimated planned spending for the next 12 months
			<p>
		</div>
	</div>
	
	</div>
	<div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-!-margin-top-1">
		<div class="govuk-grid-column-two-thirds">
			{{ govukInsetText({
				html: "
				<h3 class='govuk-heading-m'>
					How accurate are these estimates?
				</h3>
				 Estimates are based on details we have about your last levy payment and apprenticeship arrangements, which may not be up-to-date.<br>
				plus some further qualifying information here.....
				"
			}) }}
		</div>
		</div>
	<hr class="govuk-!-margin-bottom-9">	
		</div>
		<div class="govuk-width-container">
			<div class="govuk-grid-row govuk-!-margin-bottom-9">
				<div class="govuk-grid-column-one-half">
					
					<h3 class="govuk-heading-m"><a href="#" class="govuk-link">View transactions	</a></h3>

					<p class="govuk-body">
						View payments made into and out of your apprenticeship service account.
					<p>
				</div>
				<div class="govuk-grid-column-one-half">
					
					<h3 class="govuk-heading-m"><a href="#" class="govuk-link">Download transactions</a></h3>
					
					<p class="govuk-body">
						Download your financial transactions within a specific date range.
					<p>
				</div>
			</div>

			<div class="govuk-grid-row govuk-!-margin-bottom-9">
				
				<div class="govuk-grid-column-one-half">
					<h3 class="govuk-heading-m"><a href="before-you-start" class="govuk-link">Funding projection</a></h3>
				
					<p class="govuk-body">
						View funding projection to plan your future spending.
					<p>
				</div>
				<div class="govuk-grid-column-one-half">
					<h3 class="govuk-heading-m"><a href="#" class="govuk-link">Transfers</a></h3>
				
					<p class="govuk-body">
						Connect with other employers and send or receive transfer funds.
					<p>
			</div>
			</div>
		</div>

    </div>
  </div>

{% endblock %}

{% endblock %}
