{% extends "layouts/main.html" %}
{% set version = "v16" %}
{% set pageTitle = "Confirm you want to reject apprentice cohort" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/training-provider-adds/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <form id="submitCohort" novalidate="" method="post" action="">
          <div class="govuk-form-group  ">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-approve" name="selection" type="radio" value="Approve"
                    aria-controls="conditional-approve">
                  <label class="govuk-label govuk-radios__label" for="radio-approve">
                    Yes, I want to reject this cohort
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-approve">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="approve-details">
                      Leave training provider a message (optional)
                    </label>
                    <textarea class="govuk-textarea" id="approve-details" name="approvemessage" rows="5"></textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="radio-send" name="selection" type="radio" value="Send"
                    aria-controls="conditional-send">
                  <label class="govuk-label govuk-radios__label" for="radio-send">
                    No, I’ll come back to it later
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <a id="continue-button" role="button" draggable="false" class="govuk-button"
            href="/employer/v2/employer-adds/add-new-apprentice-3">
            Save and continue
          </a>

  </main>



</div>



</main>
</div>

{% endblock %}

{% endblock %}