{% extends "layouts/main.html" %}

{% block pageTitle %}
355 - Update UI after security update to employer sign in
{% endblock %}


{% block main %}

{% include "includes/login-head.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
	<form action="change-password" method="post">

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		{{ govukErrorSummary({
			titleText: "There is a problem",
			errorList: [
			  {
				text: "Your password must contain upper and lowercase characters",
				href: "#change-password"
			  },
			  {
				text: "Your password must contain at lease one number",
				href: "#change-password"
			  },
			  {
				text: "Your password must be a minimum of 8 characters",
				href: "#change-password"
			  },
			  {
				text: "The passwords do not match ",
				href: "#confirm-password"
			  }
			]
		  }) }}


		<h1 class="govuk-heading-l">Change password</h1>
			{{ govukInput({
				label: {
				  text: "Create new password",
				  classes: "govuk-label--m",
				  isPageHeading: false
				},
				id: "change-password",
				name: "change-password",
				type: "password",
				classes: "govuk-input--width-20",
				hint: {
					text: "Password requires upper case and lowercase letters, a number and at least 8 characters in length"
				},
				errorMessage: {
				  html: "Your password must contain upper and lowercase characters
				  			<br>
							  Your password must contain at lease one number
							  <br>
							  Your password must be a minimum of 8 characters "
				}
			  }) }}

			  {{ govukInput({
				label: {
				  text: "Confirm new password",
				  classes: "govuk-label--m",
				  isPageHeading: false
				},
				id: "confirm-password",
				name: "confirm-password",
				type: "password",
				classes: "govuk-input--width-20",
				errorMessage: {
				  text: "The passwords do not match "
				}
			  }) }}
		
			  {{ govukButton({
				text: "Continue"
			  }) }}   
			  <div class="govuk-grid-row govuk-!-margin-bottom-9">
				<div class="govuk-grid-column-two-thirds">
				
				</div>
			  </div>
			</form>
		
    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
