{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Add apprentice(s)" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v1/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <p class="govuk-body">Add new apprentices, ask a training provider to add apprentices for you or continue working on draft apprenticeships
        that you have not yet sent to a training provider.</p>

        <p class="govuk-body">You can view, edit and send these apprenticeship details to your
        training provider for approval.</p>
        <div class="govuk-!-padding-bottom-5"></div>

        <div class="govuk-button-group">
          <button href="/" type="submit" class="govuk-button" data-module="govuk-button">
            Add new apprentice
          </button>
          <button href="/" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Ask your training provider to add apprentice
          </button>
        </div>

        <div class="govuk-!-padding-bottom-5"></div>
      

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">Existing applications:</caption>
        </table>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cohort reference
            </dt>
            <dd class="govuk-summary-list__key">
              Apprentice(s)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              CF345SA
            </dt>
            <dd class="govuk-summary-list__value">
              Amy Adams
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">View draft<span class="govuk-visually-hidden"> view draft</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> Delete</span></a>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              HT345SB
            </dt>
            <dd class="govuk-summary-list__value">
              Sinead Andrews, Robin Simms
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">View draft<span class="govuk-visually-hidden"> view draft</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> Delete</span></a>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              MT876SR
            </dt>
            <dd class="govuk-summary-list__value">
              Mark Foley
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">View draft<span class="govuk-visually-hidden"> view draft</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> Delete</span></a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>

        
      </div>
    </div>

  </main>
</div>

{% endblock %}

{% endblock %}