{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Add apprentice training details" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v1/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
    
      {# <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Actual training start date
          </dt>
          <dd class="govuk-summary-list__value">
            14 November 2022
          </dd>
        </div>
      </dl> #}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" id="planned-start-date">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Planned training start date
          </legend>
          <div id="start-date-hint" class="govuk-hint">
            For example, 9 2024.</br>The standard version will be based on the training start date provided.
          </div>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="StartMonth">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric"
                  id="StartMonth" name="StartMonth" value="">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="StartYear">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" inputmode="numeric"
                  id="StartYear" name="StartYear" value="">
              </div>
            </div>
          </div>
        </fieldset>
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="finish-date-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Planned training end date
          </legend>
          <div id="finish-date-hint" class="govuk-hint">
            For example, 9 2026
          </div>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="EndMonth">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric"
                  id="EndMonth" name="EndMonth" value="12">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="EndYear">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" inputmode="numeric"
                  id="EndYear" name="EndYear" value="2027">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-!-padding-bottom-1"></div>

      <a id="continue-button" role="button" draggable="false" class="govuk-button" href="/employer/{{version}}/add/create">
        Save and continue
      </a>

    </form>

  </div>
</div>

{% endblock %}