{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your email address
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

	<h1 class="govuk-heading-xl">Enter your email address</h1>


	<div class="govuk-form-group">
		<label class="govuk-label" for="email">
		  <b>Email address</b>
		</label>
		<input class="govuk-input govuk-!-width-full" id="email" name="email" type="email"></div>



{{ govukButton({
	text: "Continue",
	href: "security-code"
}) }}


	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
