{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}


{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			
	<h1 class="govuk-heading-xl">Sign in</h1>
	
	<p class="govuk-body">
		Enter your Government Gateway credentials to sign in. You received these when you created your HMRC online account.
	</p>		

	<form class="form" action="check-details" method="post">

	<div class="govuk-form-group">
		<label class="govuk-label" for="three-quarters">
		  User ID
		<input class="govuk-input govuk-!-width-one-third govuk-!-margin-left-7" id="gg-id" name="gg-id" type="text"></div>
		</label>

		<div class="govuk-form-group">
			<label class="govuk-label" for="three-quarters">
				Password
			<input class="govuk-input govuk-!-width-one-third govuk-!-margin-left-4" id="gg-pwds" name="three-quarters" type="text"></div>
		</label>

		{{ govukButton({
			text: "Sign in"
		}) }}

	</form>



	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
