{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}



<div class="govuk-width-container">

	<a href="#" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">

	
	
<div class="govuk-grid-column-two-thirds">
				

	<h1 class="govuk-heading-xl govuk-!-margin-top-6">Rename account</h1>
	
	<p class="govuk-body govuk-!-margin-bottom-6">
		This may be the organisation name that your training provider knows you by. This is not your legal entity name that is registered with the Pensions Regulator.
	</p>	

	<p class="govuk-body govuk-!-margin-bottom-6">
		You can rename your account at any time.
	</p>	


	<p class="govuk-body govuk-!-margin-bottom-6">
		<b>Organisation name (legal entity)</b><br>
		KAREN'S GLASS LIMITED
	</p>	

<form action="account-name-confirmation" method="post">

	<div class="govuk-form-group">
		<label class="govuk-label" for="two-thirds">
		  <b>Apprenticeship service account name</b>
		</label>
		<div id="account-number-hint" class="govuk-hint">
			Enter new account name
		  </div>
		<input class="govuk-input govuk-!-width-two-thirds" id="as-account-name" name="as-account-name" type="text"></div>


		<div class="govuk-button-group">
			<button class="govuk-button" data-module="govuk-button">
				Save apprenticeship service account name
			</button>
		  
			<a class="govuk-link" href="homepage">Cancel</a>
		  </div>


	</form> 

<br><br><br><br>

	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
