{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}



<div class="govuk-width-container">

	<!-- breadcrumb -->
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
		  <li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Home</a>
		  </li>
		  <li class="govuk-breadcrumbs__list-item">
			Rename account
		  </li>
		</ol>
	  </div>
	  <!-- end breadcrumb -->

<div class="govuk-grid-row">

	
	
<div class="govuk-grid-column-two-thirds">
				

	<h1 class="govuk-heading-xl govuk-!-margin-top-6">Rename account</h1>
	
	<p class="govuk-body govuk-!-margin-bottom-6">
		This is the name the your training provider will see. This is not your legal entity name that is registered with the pension regulator.
	</p>	

	<p class="govuk-body govuk-!-margin-bottom-6">
		<b>Organisation name</b><br>
		KAREN'S GLASS LIMITED
	</p>	

<form action="account-name-confirmation" method="post">

	<div class="govuk-form-group">
		<label class="govuk-label" for="two-thirds">
		  <b>Apprenticeship Service account name</b>
		</label>
		<div id="event-name-hint" class="govuk-hint">
			This may be the organisation name that your training provider knows you by.
		  </div>
		<input class="govuk-input govuk-!-width-two-thirds" id="as-account-name" name="as-account-name" type="text" value="KAREN'S GLASS LIMITED"></div>


		{{ govukButton({
		  text: "Save apprenticeship service account name"
		}) }}

	</form> 

<br><br><br><br>

	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
