{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-whole">

	    <!-- BANNER -->
	    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
			  <h1 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				Important
			  </h1>
			</div>
			<div class="govuk-notification-banner__content">
				<p class="govuk-notification-banner__heading">Applications for Incentive payments for hiring a new apprentice now open</p>
				<p class="govuk-body">Employers can now apply for a payment of £3,000 for new apprentices with an employment start date of 1 October 2021 to 31 January 2022. These apprentices must also have an apprenticeship start date of 1 October 2021 to 31 March 2022.</p>
				<p class="govuk-body">Applications close 15 May 2022.</p>
			</div>
		</div>
  	    <!-- BANNER -->


		
		<h1 class="govuk-heading-xl">{{ data['as-account-name'] }}
			<p class="govuk-body-s">
				<a href="account-name" class="govuk-link govuk-link--no-visited-state">Rename account</a>
			</p>
		</h1> 

		<div class="govuk-inset-text">
			<b>Account ID: </b>JJNLKR   <br>	
			<b>Agreement ID: </b>7WY825	
		</div>


		<hr class="dashboard-heading-separator">

		
		<div class="govuk-grid-row govuk-!-margin-bottom-6">
			

			
				<div class="govuk-grid-column-one-third">
				<h2 class="govuk-heading-l">Apprenticeships</h2>
				<span class="govuk-caption-m">Manage your apprentices, advertise apprenticeships and set training provider permissions

				</span>
				</div>
		</div>	
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third">
				
				<h3 class="govuk-heading-s">
					<a class="govuk-link govuk-link--no-visited-state" href="#">Apprentices</a>
				</h3>

				<p class="govuk-body">Add apprentices, update details of existing apprentices, change training providers and authorise payments to training providers.

				</p>

				
			</div>

			<div class="govuk-grid-column-one-third">
				
				<h3 class="govuk-heading-s">
					<a class="govuk-link govuk-link--no-visited-state" href="recruit-apprentices">Your apprenticeship adverts</a>
				</h3>
				<p class="govuk-body">Create adverts to post on find an apprenticeship, view applications, your previous adverts and adverts created by training providers.

				</p>
			</div>
		

		</div>
		

		

		
		<!--Row end-->


		<!--Row start-->
		<div class="govuk-grid-row">
			

			<div class="govuk-grid-column-full">
				
			</div>

			<div class="govuk-grid-column-one-third">
				
				<h3 class="govuk-heading-s">
					<a class="govuk-link govuk-link--no-visited-state" href="#">Your training providers</a>
				</h3>

				<p class="govuk-body">Add training providers and manage permissions to choose what they can do on your behalf.



				</p>

				
			</div>

			<div class="govuk-grid-column-one-third">
				
				<h3 class="govuk-heading-s">
					<a class="govuk-link govuk-link--no-visited-state" href="recruit-apprentices">Find apprenticeship training</a>
				</h3>
				<p class="govuk-body">Search for apprenticeships and see details of approved providers who can deliver the training.

				</p>
			</div>
		

		</div>
		

		<hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">

		
		<!--Row end-->

		<div class="govuk-grid-row govuk-!-margin-bottom-6">
			

			
			<div class="govuk-grid-column-one-third">
			<h2 class="govuk-heading-l">Finances</h2>
			<span class="govuk-caption-m">Manage your apprenticeship funds



			</span>
			</div>
	</div>	
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			
			<h3 class="govuk-heading-s">
				<a class="govuk-link govuk-link--no-visited-state" href="#">Your finances</a>
			</h3>

			<p class="govuk-body">View your financial transactions, connect with other employers and send or receive transfer funds.


			</p>

			
		</div>

		<div class="govuk-grid-column-one-third">
			
			<h3 class="govuk-heading-s">
				<a class="govuk-link govuk-link--no-visited-state" href="recruit-apprentices">Your hire a new apprentice payments</a>
			</h3>
			<p class="govuk-body">Apply for the payment, view applications and change your payment details.



			</p>
		</div>
	

	</div>
	

	

	
	<!--Row end-->


	<!--Row start-->
	<div class="govuk-grid-row">
		

		<div class="govuk-grid-column-full">
			
		</div>

		<div class="govuk-grid-column-one-third">
			
			<h3 class="govuk-heading-s">
				<a class="govuk-link govuk-link--no-visited-state" href="#">Your transfers</a>
			</h3>

			<p class="govuk-body">
				View your 25% transfers balance and manage your transfers, including finding a business to transfer your levy to.
			</p>

			
		</div>

		
	

	</div>
	

	<hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">

	
	<!--Row end-->


	<div class="govuk-grid-row govuk-!-margin-bottom-6">
			

			
		<div class="govuk-grid-column-one-third">
		<h2 class="govuk-heading-l">Account</h2>
		<span class="govuk-caption-m">
			Manage your account details and team

		</span>
		</div>
</div>	
<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-third">
		
		<h3 class="govuk-heading-s">
			<a class="govuk-link govuk-link--no-visited-state" href="organisations-and-agreements-v1">Your organisations and agreements</a>
		</h3>

		<ul class="govuk-list govuk-list--bullet">
			<li>contracts you have with ESFA employers</li>
			<li>training providers you work with</li>
		  </ul>

		
	</div>

	<div class="govuk-grid-column-one-third">
		
		<h3 class="govuk-heading-s">
			<a class="govuk-link govuk-link--no-visited-state" href="recruit-apprentices">Your team</a>
		</h3>
		<p class="govuk-body">
			Control what your team can do and invite new team members.
		</p>
	</div>


</div>





<!--Row end-->


<!--Row start-->
<div class="govuk-grid-row govuk-!-margin-bottom-9">
	

	<div class="govuk-grid-column-full">
		
	</div>

	<div class="govuk-grid-column-one-third">
		
		<h3 class="govuk-heading-s">
			<a class="govuk-link govuk-link--no-visited-state" href="#">PAYE schemes</a>
		</h3>

		<p class="govuk-body">
			Add or remove PAYE schemes.
		</p>

		
	</div>

	<div class="govuk-grid-column-one-third">
		
		<h3 class="govuk-heading-s">
			<a class="govuk-link govuk-link--no-visited-state" href="account-name">Account name</a>
		</h3>

		<p class="govuk-body">
			Change your apprenticeship service account name
		</p>

		
	</div>



</div>




<!--Row end-->




		
      

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
