{% extends "layout.html" %}

{% block pageTitle %}
  Agreements view - Table component
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		

		
		<h1 class="govuk-heading-xl">Your agreements with the Education and Skills Funding Agency (ESFA)</h1>

		<h2 class="govuk-heading-l">Version A</h2>

		</div>
		 <div class="govuk-grid-column-full">
			 
		 
		<table class="govuk-table govuk-!-margin-bottom-9">
			<caption class="govuk-table__caption govuk-table__caption--m">Agreement history between BARBERRY COVENTRY LIMITED and ESFA</caption>
			<thead class="govuk-table__head">
			  <tr class="govuk-table__row">
				<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date published</th>
				<th scope="col" class="govuk-table__header">Variation detail</th>
				<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status of agreement</th>
				
				<th scope="col" class="govuk-table__header">Agreement detail</th>
				
				
			  </tr>
			</thead>
			<tbody class="govuk-table__body">
			  <tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">19 May 2021</th>
				<td class="govuk-table__cell">
					This is a variation to the agreement we published 9 January 2020.

				</td>
				<td class="govuk-table__cell">
					<strong class="govuk-tag govuk-tag--red">
						Not yet accepted
				  	</strong>
				</td>
				
				<td class="govuk-table__cell">
					<a href="#" class="govuk-link">View and accept</a>
				</td>
			  </tr>
			  <tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">20 May 2020</th>
				<td class="govuk-table__cell">
					This is a variation to the agreement we published 9 January 2020. You only need to accept it if you want to access incentive payments for hiring a new apprentice.
				</td>
				<td class="govuk-table__cell">
					<strong class="govuk-tag govuk-tag--green">
						ACCEPTED ON 21 AUGUST 2020
				  	</strong>
				</td>
				
				<td class="govuk-table__cell">
					<a href="#" class="govuk-link">View agreement</a>
				</td>
			  </tr>
			  <tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">9 January 2020</th>
				<td class="govuk-table__cell">
					This is a new agreement.

				</td>
				<td class="govuk-table__cell">
					<strong class="govuk-tag govuk-tag--green">
						ACCEPTED ON 06 FEBRUARY 2020

				  	</strong>
				</td>
				
				<td class="govuk-table__cell">
					<a href="#" class="govuk-link">View agreement</a>
				</td>
			  </tr>
			   
			</tbody>
		  </table>






		<h2 class="govuk-heading-l">Version B</h2>

	</div>
	 <div class="govuk-grid-column-full">
		 
	 
	<table class="govuk-table">
		<caption class="govuk-table__caption govuk-table__caption--m">Agreement history between BARBERRY COVENTRY LIMITED and ESFA</caption>
		<thead class="govuk-table__head">
		  <tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header eighteen">Date published</th>
			<th scope="col" class="govuk-table__header twentyFive">Variation detail</th>
			<th scope="col" class="govuk-table__header">Status of agreement</th>
			<th scope="col" class="govuk-table__header">Date accepted</th>
			<th scope="col" class="govuk-table__header">Agreement detail</th>
			
			
		  </tr>
		</thead>
		<tbody class="govuk-table__body">
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">19 May 2021</th>
			<td class="govuk-table__cell">
				This is a variation to the agreement we published 9 January 2020.

			</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--red">
					Not yet accepted
				  </strong>
			</td>
			<td class="govuk-table__cell">
				-
			</td>
			<td class="govuk-table__cell">
				<a href="#" class="govuk-link">View and accept</a>
			</td>
		  </tr>
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">20 May 2020</th>
			<td class="govuk-table__cell">
				This is a variation to the agreement we published 9 January 2020. You only need to accept it if you want to access incentive payments for hiring a new apprentice.
			</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--green">
					ACCEPTED 
				  </strong>
			</td>
			<td class="govuk-table__cell">
				21 August 2020
			</td>
			<td class="govuk-table__cell">
				<a href="#" class="govuk-link">View</a>
			</td>
		  </tr>
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">9 January 2020</th>
			<td class="govuk-table__cell">
				This is a new agreement.

			</td>
			<td class="govuk-table__cell">
				<strong class="govuk-tag govuk-tag--green">
					ACCEPTED 

				  </strong>
			</td>
			<td class="govuk-table__cell">
				6 February 2020
			</td>
			<td class="govuk-table__cell">
				<a href="#" class="govuk-link">View</a>
			</td>
		  </tr>
		   
		</tbody>
	  </table>
			
		</div>

			
		 

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
