{% extends "layout-govuk-signin.html" %}

{% block pageTitle %}
Create a GOV.UK account or sign in
{% endblock %}

{% block main %}

<!-- {% include "includes/account-header-no-nav.html" %} -->

{% block content %}

<div class="govuk-width-container">

	<div class="govuk-phase-banner">
		<p class="govuk-phase-banner__content">
		  <strong class="govuk-tag govuk-phase-banner__content__tag">
			beta
		  </strong>
		  <span class="govuk-phase-banner__text">
			This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
		  </span>
		</p>
	  </div>
	  	
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			
	<h1 class="govuk-heading-l">Create a GOV.UK account or sign in</h1>
	
	<p class="govuk-body">
		You’ll need:
	</p>		
	<ul class="govuk-list govuk-list--bullet">
	  <li>an email address</li>
	  <li>a UK mobile phone number</li>
	</ul>


{{ govukButton({
	text: "Create a GOV.UK account",
	href: "1a-email"
}) }}

<p class="govuk-body">If you already have a GOV.UK account you can <a href="2a-sign-in" class="govuk-link govuk-link--no-visited-state">sign in</a>.</p>

  <details class="govuk-details" data-module="govuk-details">
	<summary class="govuk-details__summary">
	  <span class="govuk-details__summary-text">
		About GOV.UK accounts
	  </span>
	</summary>
	<div class="govuk-details__text">
		<p>GOV.UK accounts are new. At the moment you can only use your GOV.UK account with a few services.</p>
		<p>GOV.UK accounts are currently separate from other government accounts (for example Government Gateway or Universal Credit).</p>
		<p>In the future, you’ll be able to use your GOV.UK account to sign in to most services on GOV.UK.</p>
	</div>
  </details>


	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
