{% extends "layout.html" %}

{% block pageTitle %}
Enter your email address
{% endblock %}


{% block main %}

<!-- {% include "includes/account-header-no-nav.html" %} -->

{% block content %}

<div class="govuk-width-container">

	<div class="govuk-phase-banner">
		<p class="govuk-phase-banner__content">
		  <strong class="govuk-tag govuk-phase-banner__content__tag">
			beta
		  </strong>
		  <span class="govuk-phase-banner__text">
			This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
		  </span>
		</p>
	  </div>
	  

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

		
		
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

	<h1 class="govuk-heading-l">You've created your GOV.UK account</h1>

	<p>
		Now continue to use the <strong>[name of service]</strong> service.
	</p>


{{ govukButton({
	text: "Continue",
	href: "task-list"
}) }}




	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
