{% extends "ma-layout-v2.html" %}

{% block pageTitle %}
Notification Settings
{% endblock %}


{% block main %}


{% block content %}



<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			
	<h1 class="govuk-heading-xl">Notification Settings</h1>

		
	<p class="govuk-body">
		Choose which accounts you want to receive cohort and apprentice updates from. 
		The updates will be sent to the email address for <a href="5-govuk-account" class="govuk-link" rel="noreferrer noopener" target="_blank">your GOV.UK account (opens in new tab)</a>.

	</p>

	<p class="govuk-body">
		Changes to these settings won't affect service emails, such as password resets.
	</p>


	<table class="govuk-table">
		<thead class="govuk-table__head">
		  <tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Account name</th>
			<th scope="col" class="govuk-table__header">Emails</th>
			<th scope="col" class="govuk-table__header">No emails</th>
		  </tr>
		</thead>
		<tbody class="govuk-table__body">
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">Coventry City Council</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				<div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="cov-city" name="cov-city" type="radio" value="email" checked="checked">
					  <label class="govuk-label govuk-radios__label" for="cov-city">
					  </label>
					</div>
			</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				<div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="cov-city-no" name="cov-city" type="radio" value="no">
					  <label class="govuk-label govuk-radios__label" for="cov-city-no">
					  </label>
					</div>
			</td>
		  </tr>
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">BARBERRY COVENTRY LIMITED</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				<div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="barb-cov" name="barb-cov" type="radio" value="email" checked="checked">
					  <label class="govuk-label govuk-radios__label" for="barb-cov">
					  </label>
					</div>
			</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				<div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="barb-cov" name="barb-cov" type="radio" value="no" >
					  <label class="govuk-label govuk-radios__label" for="barb-cov">
					  </label>
					</div>
			</td>
		  </tr>
		  <tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header govuk-!-font-weight-regular">COVENTRY ACCOUNTANTS LTD</th>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				<div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england" checked="checked">
					  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
					  </label>
					</div>
			</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				<div class="govuk-radios" data-module="govuk-radios">
					<div class="govuk-radios__item">
					  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
					  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
					  </label>
					</div>
			</td>
		  </tr>
		</tbody>
	  </table>

	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
