{% extends "layout-vss.html" %}

{% block pageTitle %}
     Redundancy support service
{% endblock %}

{% set serviceName %}
     Redundancy support service
{% endset%}

{% block main %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container" id="vss">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               {{ govukPhaseBanner({
                    tag: {
                         text: "alpha"
                    },
                    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
               }) }}
          </div>
     </div>

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <h1 class="govuk-heading-xl">
                    Recruit apprentices who may have been made redundant
               </h1>

               <p>
                    Apprentices who have been made redundant may already have the knowledge, skills and behaviours to add value to your organisation. These apprentices can:
               </p>

               <ul class="govuk-list govuk-list--bullet">
                    <li>fill key skill gaps in your organisation or your existing apprenticeship vacancies</li>
                    <li>continue with their apprenticeship and build on their existing skills</li>
               </ul>

               <p>
                    To recruit apprentices, you’ll need to create an apprenticeship service account.
               </p>

               <!-- <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                         <span class="govuk-warning-text__assistive">Warning</span>
                         As part of our continuing improvements we are moving this service from 21 June 2021 to Manage apprenticeships where you will be able to advertise all apprenticeship opportunities.
                    </strong>
               </div> -->

               <h2 class="govuk-heading-m">
                    Before you start you'll need:
               </h2>

               <ul class="govuk-list govuk-list--bullet">
                    <li>an email address</li>
                    <li>permission to add PAYE schemes to the account</li>
                    <li>permission to accept the employer agreement on behalf of your organisation</li>
               </ul>

               <p>
                    You'll also need either the Government Gateway login for your organisation, or your accounts office reference number and employer PAYE scheme reference number.
               </p>

               <a href="https://accounts.manage-apprenticeships.service.gov.uk/ " class="govuk-button" data-module="govuk-button">Create an account</a>

               <div class="govuk-inset-text vss-inset">
                    Or <a href="https://beta-login.apprenticeships.education.gov.uk/identity/employer/login?id=a5b1637426c19a74e17fbdfd488b91e2&returnUrl=https%3A%2F%2Fbeta-login.apprenticeships.education.gov.uk%2Fidentity%2Fconnect%2Fauthorize%3Fclient_id%3Deasaccprd%26response_type%3Dcode%26scope%3Dopenid%20profile%26redirect_uri%3Dhttps%3A%2F%2Faccounts.manage-apprenticeships.service.gov.uk%2Fservice%2FsignIn%26state%3Dp5YSgl7ry_bbMkh7Kw9X3pHvbXKhwt1dd48NhRdsHYzWrtY1YYYJfn5jQq4af9okxqi1ura3LF6KwQimNLgQAa5kf2ceepLGAK8qp0ZuGQFbDkWB1OvXgg1fqt27TMtOQ1D5mFIYQC6jsjolG2b97Bgfku5unX06FGEnlxGX4HnI9TlVlET0RiXXlFhHoT90%26nonce%3D57d2e6cdf00c4770ac6d5c80b840630e&clientId=easaccprd" class="govuk-link govuk-link--no-visited-state">sign in</a> if you already have an account.
               </div>

               <hr>

               <p><br></p>

               <span class="govuk-caption-l">Help and support</span>
               <h2 class="govuk-heading-l">
                    Get help
               </h2>

               <p>
                    You can either:
               </p>

               <ul class="govuk-list govuk-list--bullet">
                    <li><a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/#contact-us" class="govuk-link govuk-link--no-visited-state">contact us</a></li>
                    <li><a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/sections/360003793119-Coronavirus" class="govuk-link govuk-link--no-visited-state">find out what we're doing to support apprenticeships during the coronavirus outbreak</a></li>
               </ul>

               <p><br></p>

          </div>
     </div>

</div>

{% endblock %}

{% endblock %}
