{% extends "layout.html" %}
{% set version = "v1" %}
{% set pageTitle = "Apprenticeship training" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">When will the apprentice start their apprenticeship training?</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <div id="changedName-hint" class="govuk-hint">
                Apprenticeship already started.
              </div>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio"
                  value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  December 2023
                </label>
              </div>
              <div class="govuk-!-padding-bottom-5"></div>
              <div id="changedName-hint" class="govuk-hint">
                Planned start date of the apprenticeship.
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                  value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  January 2024
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio"
                  value="wales">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                  February 2024
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                  value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                  March 2024
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <a href="/employer/v1/add/apprenticeship-funding-available" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          Save and continue
        </a>

        </form>
      </div>
    </div>

  </main>
</div>

{% endblock %}

{% endblock %}