{% extends "layouts/main.html" %}

{% block pageTitle %}
You have successfully reserved funding for apprenticeship training
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}



<div class="govuk-width-container">
	

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

  {{ govukPanel({
    titleText: "You have successfully reserved funding for apprenticeship training"
  }) }}
				

	
	{{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: [
      {
        key: {
          text: "Employer"
        },
        value: {
          text: "BARBERRY COVENTRY LIMITED"
        },
        actions: {
          items: [
            {
              
            }
          ]
        }
      },
      {
        key: {
          text: "Apprenticeship training start date"
        },
        value: {
          text: "Jun 2022 to Aug 2022"
        },
        actions: {
          
        }
      },
			{
        key: {
          text: "Apprenticeship training category"
        },
        value: {
          html: "Construction and the built environment"
        },
        actions: {
          
        }
			},
      {
        key: {
          text: "Apprenticeship training course"
        },
        value: {
          html: "Carpentry and joinery - Level 2 "
        },
        actions: {
          
        }
      }
    ]
  }) }}

 


		
  <h2 class="govuk-heading-m">Making changes</h2>
	
	<p>You can add or change the apprenticeship training when you add an apprentice's details</p>

  <p>You can only select an apprenticeship within this apprenticeship category.</p>

  <p>You are not able to change the funding for this apprenticeship.</p>
		
  <p>You will need to reserve new funding to change the apprenticeship start date to outside of the 3-month window you originally selected.</p>


	


<form action="training-provider-choice" method="post">

	




	{{ govukRadios({
	  idPrefix: "training-provider-choice-check",
	  name: "training-provider-choice-check",
		fieldset: {
			legend: {
				text: "What's next?",
				classes: "govuk-fieldset__legend--m"
			}
		},
	  items: [
		{
		  value: "yes",
		  text: "Recruit an apprentice"
		},
		{
		  value: "no",
		  text: "Find a training provider"
		},
    {
		  value: "yes",
		  text: "Add apprentice's details"
		},
		{
		  value: "no",
		  text: "Go to homepage"
		}
	  ]
	}) }}

		{{ govukButton({
		  text: "Continue"
		}) }}

	</form> 



	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
