{% extends "layout.html" %}

{% block pageTitle %}
Funding is available within this apprenticeship category to train and assess your apprentice
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}



<div class="govuk-width-container">
	
	{% include "includes/back-link.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
				
  <div class="success-summary govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl ">Funding is available within this apprenticeship category to train and assess your apprentice </h1>
  </div>

  
	
	{{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9',
    rows: [
      {
        key: {
          text: "Employer"
        },
        value: {
          text: "BARBERRY COVENTRY LIMITED"
        },
        actions: {
          items: [
            {
              
            }
          ]
        }
      },
      {
        key: {
          text: "Apprenticeship training start date"
        },
        value: {
          text: "Jun 2022 to Aug 2022"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Apprenticeship training start date"
            }
          ]
        }
      },
			{
        key: {
          text: "Apprenticeship training category"
        },
        value: {
          html: "Construction and the built environment"
        },
        actions: {
          
        }
			},
      {
        key: {
          text: "Apprenticeship training course"
        },
        value: {
          html: "Carpentry and joinery - Level 2"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Apprenticeship training course"
            }
          ]
        }
      }
    ]
  }) }}


		
		


	


<form action="funding-reserved" method="post">

	




	{{ govukRadios({
	  idPrefix: "training-provider-choice-check",
	  name: "training-provider-choice-check",
		fieldset: {
			legend: {
				text: "Do you want to reserve funding now?",
				classes: "govuk-fieldset__legend--m"
			}
		},
	  items: [
		{
		  value: "yes",
		  text: "Yes, reserve this funding in Construction and the built environment"
		},
		{
		  value: "no",
		  text: "Return to my account"
		}
	  ]
	}) }}

		{{ govukButton({
		  text: "Continue"
		}) }}

	</form> 



	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
