{% extends "layout.html" %}

{% block pageTitle %}
  Do you know which apprenticeship training your apprentice will take?
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}



<div class="govuk-width-container">
	
	{% include "includes/back-link.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

  <form action="funding-available" method="post">

 
	
  {{ govukRadios({
    idPrefix: "when",
    name: "when",
    fieldset: {
      legend: {
        text: "When will the apprenticeship start their training?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Select the month for the planned start date of the apprenticeship."
    },
    items: [
      {
        value: "england",
        text: "July 2022"
      },
      {
        value: "scotland",
        text: "August 2022"
      },
      {
        value: "scotland",
        text: "September 2022"
      }
    ]
  }) }}



		{{ govukButton({
		  text: "Save and continue"
		}) }}

  </form>


	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
