


{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprentices
{% endblock %}


{% block main %}



{% block content %}


<div class="govuk-width-container">
<div class="govuk-grid-row">


<div class="govuk-grid-column-three-quarters govuk-!-margin-top-9 govuk-!-margin-bottom-9">

	<p class="govuk-body">
		From: The Apprenticeship Service <br>
		Date: Tue, 11 Jan 2022 at 12:50 <br>
		Subject: Reminder SOUTHAMPTON ENGINEERING TRAINING sent you an invitation to create an Apprenticeship Service account <br>
		To: Hazel Fletcher
	</p>	

	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

	{% include "includes/layout-email.html" %}
	
	<p class="govuk-body govuk-!-margin-top-6">
		Dear Hazel Fletcher
	</p>	

	<p class="govuk-body">
		Karen Garland at SOUTHAMPTON ENGINEERING TRAINING has invited you to register for an Apprenticeship Service account for Hazel's Engineering Company.
	</p>
	
	<p class="govuk-body">
		Create your account at <a href="#">https://accounts.pp-eas.apprenticeships.education.gov.uk/service/register/3da20e08-e59b-42c3-966f-94eec57605f2</a>
	</p>	

	<p class="govuk-body">
		Registering for an account gives you access to funding to pay for apprenticeship training.
	</p>
	
	<p class="govuk-body">
		Registering for an account gives you access to funding to pay for apprenticeship training.
	</p>	

	<p class="govuk-body">
		You’ll also be able to post apprenticeship vacancies on Find an apprentice.
	</p>	

	<!-- before you start info -->
	
	<h2 class="govuk-heading-m">What you’ll need</h2>

	<ul class="govuk-list govuk-list--bullet">
		<li>the Government Gateway login for your organisation (or you can use the accounts office reference number and employer PAYE scheme reference number if your annual pay bill is less than £3 million)</li>
		<li>authority to add PAYE schemes to the account for this organisation</li>
		<li>authority to sign the employer agreement for this organisation</li>
	</ul>


	<h2 class="govuk-heading-m">Government Gateway details</h2>

	<p class="govuk-body">
		Your Government Gateway user ID is up to 12 characters long. HM Revenue and Customs (HMRC) sent it to you by email when your Government Gateway account was set up.
	</p>
		
	<p class="govuk-body">
		If you lose or forget your user ID or password, you can reset them online.
	</p>


	<h2 class="govuk-heading-m">You can find your PAYE reference numbers on the:</h2>

	<ul class="govuk-list govuk-list--bullet">
		<li>letter HMRC sent you when you first registered as an employer</li>
		<li>front of your payment booklet (or the letter from HMRC that replaced it)</li>
	</ul>

	<p class="govuk-body">
		The accounts office reference number is 13 characters. The employer PAYE reference number is 11 characters.
	</p>

	<!-- end of before you start info -->

	<p class="govuk-body">
		This message is automated, please don’t reply.
	</p>

	<p class="govuk-body">
		Thanks,
	</p>

	<p class="govuk-body">
		Apprenticeship Service Team
	</p>

	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

	<p class="govuk-body">
		If you’d prefer to no longer get these emails from your training provider, you can unsubscribe now at <a href="#">https://accounts.pp-eas.apprenticeships.education.gov.uk/service/unsubscribe/3da20e08-e59b-42c3-966f-94eec57605f2</a>
	</p>

	<p class="govuk-body">
		If you didn’t agree with your training provider to receive this invitation, you can let us know now at <a href="#">https://accounts.pp-eas.apprenticeships.education.gov.uk/report/trainingprovider/3da20e08-e59b-42c3-966f-94eec57605f2</a>
	</p>


	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
