{% extends "layout.html" %}
{% set version = "v1" %}

{% block pageTitle %}
Access denied - Training provider
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current" href="/employer/v1/add-2/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-whole">


        <h1 class="govuk-heading-xl">Bambinos Day Nursery</h1>


        <div class="govuk-inset-text">
          <dl class="das-definition-list das-definition-list--inline">
            <dt class="das-definition-list__title">Account ID</dt>
            <dd class="das-definition-list__definition">JJNLKR</dd>
            <dt class="das-definition-list__title">Agreement ID</dt>
            <dd class="das-definition-list__definition">
              <a href="# " class="govuk-link govuk-link--no-visited-state">View your agreement IDs</a>
            </dd>
          </dl>
        </div>

        <hr class="das-section-break das-section-break--l das-section-break--heavy-grey">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <section>

              <div class="govuk-cookie-banner govuk-!-padding-left-3" data-nosnippet role="region"
                aria-label="set-up-apprenticeship">
                <div class="govuk-cookie-banner__message govuk-width-container">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                      <h2 class="govuk-cookie-banner__heading govuk-heading-m">Set up an apprenticeship</h2>
                      <div class="govuk-cookie-banner__content">
                        <p class="govuk-body">You can set up an apprenticeship for an existing employee or someone new.
                        </p>
                      </div>
                    </div>
                  </div>
                  <a href="/employer/v1/add-2/apprenticeship-training" role="button" draggable="false"
                    class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                      viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg></a>
                </div>
              </div>

              <div class="govuk-!-padding-bottom-5"></div>

              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Apprenticeships</h2>
              <p class="govuk-caption-m govuk-!-width-two-thirds govuk-!-margin-bottom-6">Manage your apprentices,
                advertise apprenticeships and set training provider permissions</p>
              <div class="das-cards">
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="/employer/{{version}}/add/apprentices"
                      class="govuk-link govuk-link--no-visited-state">Apprentices</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">Add apprentices, update details of existing apprentices,
                    change training providers and authorise payments to training providers.</p>
                </div>
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Your
                      apprenticeship
                      adverts</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">Create adverts to post on find an apprenticeship, view
                    applications, your previous adverts and adverts created by training providers.</p>
                </div>
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Your training
                      providers</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">Add training providers and manage permissions to choose
                    what they can do on your behalf.</p>
                </div>
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="https://www.gov.uk/employers-find-apprenticeship-training" rel="external" target="_blank"
                      class="govuk-link govuk-link--no-visited-state">Find apprenticeship
                      training</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">Search for apprenticeships and see details of approved
                    providers who can deliver the training.</p>
                </div>
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Feedback on
                      training
                      providers</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">Give feedback on your training providers.</p>
                </div>
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Join the Apprentice Ambassador
                      Network</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">Become a member of the network or log in to your existing
                    ambassador hub to
                    find relevant events, latest news and
                    networking opportunities
                  </p>
                </div>
              </div>
            </section>

            <hr class="das-section-break das-section-break--l das-section-break--heavy-grey">

            <section>
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Finances</h2>
              <p class="govuk-caption-m govuk-!-width-two-thirds govuk-!-margin-bottom-6">Manage your apprenticeship
                funds</p>
              <div class="das-cards">

                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Your funding reservations</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">Reserve and manage funding.</p>
                </div>
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Your finances</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">View your financial transactions, connect with other
                    employers and send or receive transfer funds.</p>
                </div>

                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Your hire a new
                      apprentice payments</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">View applications and change your payment details.</p>
                </div>

                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Your transfers</a>
                  </h3>
                  <p class="govuk-body govuk-!-font-size-16">View your 25% transfers balance and manage your transfers,
                    including finding a business to transfer your levy to.</p>
                </div>
              </div>
            </section>

            <hr class="das-section-break das-section-break--l das-section-break--heavy-grey">

            <section>
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Account</h2>
              <p class="govuk-caption-m govuk-!-width-two-thirds govuk-!-margin-bottom-6">Manage your account details
                and team</p>
              <div class="das-cards">
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading"><a href="#"
                      class="govuk-link govuk-link--no-visited-state">Your
                      organisations and agreements</a></h3>
                  <p class="govuk-body govuk-!-font-size-16">Add your organisations that will make contracts with
                    training providers.</p>
                </div>
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading"><a href="/employer/{{version}}/#"
                      class="govuk-link govuk-link--no-visited-state">Your team</a></h3>
                  <p class="govuk-body govuk-!-font-size-16">Control what your team can do and invite new team members.
                  </p>
                </div>
                <div class="das-card">
                  <h3 class="govuk-heading-m das-card__heading"><a href="/accounts/BB8W4N/schemes"
                      class="govuk-link govuk-link--no-visited-state">PAYE schemes</a></h3>
                  <p class="govuk-body govuk-!-font-size-16">Add or remove PAYE schemes.</p>
                </div>
              </div>
            </section>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <section class="govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Coronavirus (COVID-19)</h2>
              <p>To find out how we can support you, including changes we’re making to help your apprentices continue
                learning, <a
                  href="https://www.gov.uk/government/publications/coronavirus-covid-19-apprenticeship-programme-response"
                  target="_blank" class="govuk-link">read our updated guidance</a>.</p>
            </section>
            <div class="das-highlight">
              <h2 class="govuk-heading-m">Help us improve this service</h2>
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="/employer/{{version}}/#" class="govuk-link"
                  rel="nofollow" target="_blank">Take our 3 minute survey</a> so that we can improve this service.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
</div>

{% endblock %}

{% endblock %}