{% extends "layout.html" %}
{% set version = "v1" %}
{% set pageTitle = "Set up an apprenticeship for an existing employee" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v1/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back to Apprentices",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <h2 class="govuk-heading-m">What you need to do:</h2>

        <ol class="govuk-list govuk-list--number">
          <li>Reserve funding for apprenticeship training and assessment (if you have not already).</li>
          <li>Add the employee's details.</li>
        </ol>
        
        <h2 class="govuk-heading-m">What you need</h2>
        
        <p class="govuk-body">You will need to know:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li>the name of the apprenticeship training course </li>
          <li>which month the employee will start their apprenticeship training</li>
          <li>your training provider's UK Provider Reference Number (UKPRN)</li>
          <li>the employee's name and date of birth</li>
          <li>the cost of the apprentieship training (as agreed with your training provider)</li>
        </ul>
        <a id="continue-button" role="button" draggable="false" class="govuk-button" href="/employer/v1/add-2/reserve-funding">
          Continue to reserve funding
        </a>
      </div>
    </div>

  </main>
</div>

{% endblock %}

{% endblock %}