{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Set up an apprenticeship for a new employee" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v1/add-2/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back to Apprentices",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <h2 class="govuk-heading-m">What you need to do:</h2>

        <ol class="govuk-list govuk-list--number">
          <li>Reserve funding for apprenticeship training and assessment.</li>
          <li>Create an advert (if you want to advertise your apprenticeship).</li>
          <li>Decide which apprentice you want to take on.</li>
          <li>Sign in to your account and add the apprentice's details.</li>
        </ol>

        <div class="govuk-inset-text">
          You do not have to set up an apprenticeship in one go. You can complete each section when you're ready.
        </div>

        <a id="continue-button" role="button" draggable="false" class="govuk-button"
          href="/employer/v1/add-2/reserve-funding">
          Continue to reserve funding
        </a>
      </div>
    </div>

  </main>
</div>

{% endblock %}

{% endblock %}