{% extends "layouts/main.html" %}

{% block pageTitle %}
  Agreements view - Table component
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	
		

	
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		

		
		<h1 class="govuk-heading-xl">Your agreements with the Education and Skills Funding Agency (ESFA)</h1>

		<h2 class="govuk-heading-l">Agreement between BARBERRY COVENTRY LIMITED and ESFA</h2>

		<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
			<div class="govuk-accordion__section ">
			  <div class="govuk-accordion__section-header">
				<h2 class="govuk-accordion__section-heading">
				  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
					Published 19 May 2021
					
				  </span>
				  
				</h2>
				<strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
					Not yet accepted
				  </strong>
				{{ govukInsetText({
					text: "This is a variation to the agreement we published 9 January 2020.
					"
				  }) }}
			  </div>
			  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
				<h2 class="govuk-heading-m">
					About the agreement
				</h2>
				<p class="govuk-body">
					This agreement creates a legal contract between BARBERRY COVENTRY LIMITED and ESFA. It allows you to transfer funds to other employers and pay training providers for apprenticeships.
				<p>
					<p class="govuk-body">
						You need to ensure you have authority from your organisation before you accept this agreement on their behalf.


					<p>
						<button class="govuk-button" data-module="govuk-button">
							View agreement
						  </button>
			  </div>
			</div>
			<div class="govuk-accordion__section ">
			  <div class="govuk-accordion__section-header">
				<h2 class="govuk-accordion__section-heading">
				  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
					 Published 20 August 2020
					 
				  </span>
				</h2>
				<strong class="govuk-tag govuk-tag--green govuk-!-margin-top-3">
					ACCEPTED ON 21 AUGUST 2020

				  </strong>
				{{ govukInsetText({
					text: "This is a variation to the agreement we published 9 January 2020. You only need to accept it if you want to access incentive payments for hiring a new apprentice.
					"
				  }) }}
				</h2>
			  </div>
			  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
				<p class='govuk-body'>This is the content for Writing well for specialists.</p>
			  </div>
			</div>
			<div class="govuk-accordion__section ">
			  <div class="govuk-accordion__section-header">
				<h2 class="govuk-accordion__section-heading">
				  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
					Published 9 January 2020
				  </span>
				</h2>
				<strong class="govuk-tag govuk-tag--green govuk-!-margin-top-3">
					ACCEPTED ON 9 january 2020
				  </strong>
			  </div>
			  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
				<p class='govuk-body'>This is the content for Know your audience.</p>
			  </div>
			</div>
		  </div>
			
		</div>

			
		 

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
