{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Select funding" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v3/enhanced/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Question 2 of 3</span>
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body">You have the following funding that you can use to fund your apprenticeship.</p>

        <p class="govuk-body">If a reservation isn’t used for an apprenticeship within 6 months, then the funding
          reservation will be lost and you may
          have to wait until more funding is available.</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Which funding would you like to use?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway"
                  aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn">
                  Business administration, Level: 3 – Starting between Mar 2024 to Sep 2024
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Reservation funds
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login"
                  aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-2">
                  Pledge 678CFR0 from Barry & Larry Ltd – £5,000
                </label>
                <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Pledge funds
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login"
                  aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-2">
                  Transfer funds from Coventry City Council
                </label>
                <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Direct transfer funds
                </div>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio"
                  value="abroad">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
                  I want to reserve funds in this application
                </label>
              </div>
            </div>
          </fieldset>

          <div class="govuk-!-padding-bottom-5"></div>

          <div class="govuk-button-group">
            <a href="/employer/v3/enhanced/apprentice-training-details" class="govuk-button" data-module="govuk-button">
              Save and continue
            </a>
          </div>

        </div>


      </div>
    </div>
  </main>




</div>

{% endblock %}

{% endblock %}