{% extends "layout.html" %}

{% block pageTitle %}
	Employer account setup complete
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  <div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
			  Employer account created
			</h1>
		  </div>

      <p>We've sent you a confirmation email (you may need to check your junk folder and add us to your safe senders list).</p>


	 <!--<h2 class="govuk-heading-m">Within your employer account you can:</h2>
	  <ul class="govuk-list govuk-list--bullet">
		  <li>add new team members</li>
		  <li>manage and control permissions of team members</li>
		  <li>select your notification settings</li>
		  <li>manage apprentices</li>
		  <li>give or change permissions to your training provider</li>
	  </ul>-->

	  <H2 class="govuk-heading-m">Next steps</H2>
	  <p>Before you can reserve funds for apprenticeship training you will need to:</p>
	  <ul class="govuk-list govuk-list--bullet">
		  <li><strong>add a training provider</strong> who will support your apprentice(s) through theor apprenticeship.</li>

	  </ul>

	  <p>You can also give permission for your trainng provider to create adverts and reserve apprenticeship funds on your behalf.</p>

	  {{ govukButton({
		  text: "Continue",
		  href: "task-list-5"
	  }) }}

		 <!-- <h2 class="govuk-heading-m">What happens next</h2>

		  <p class="govuk-body">
			KAREN'S GLASS LIMITED can now get funding for apprenticeship training.
		  </p>


		  <p class="govuk-body">
			If you've already stated using your account, you can:
		  </p>
		  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
			  <li>
				  submit any adverts you've created
			  </li>
			  <li>
				  approve any apprentice details you've added
			  </li>
		  </ul>-->


		  <!--<ol class="app-task-list">
			<li>
			  <h2 class="app-task-list__section">
				What do you want to do next?
			  </h2>
			  <ul class="app-task-list__items" style="padding-left:0">
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
					  <a href="#" aria-describedby="eligibility-status">
						Added PAYE scheme
					  </a>
					</span>
					<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
				  </li>
				<li class="app-task-list__item">
				  <span class="app-task-list__task-name">
					<a href="#" aria-describedby="eligibility-status">
					  View and accept the employer agreement
					</a>
				  </span>
				  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
				</li>
				<li class="app-task-list__item">
				  <span class="app-task-list__task-name">
					<a href="enter-ukprn" aria-describedby="read-declaration-status">
					  Setup training provider permissions
					</a>
				  </span>
				  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not started</strong>
				  {{ govukInsetText({
					html: "Granting permissions for your training provider to do tasks on your behalf does not give them access to your account.
					<br>If you do permit your training provider to do some tasks on your behalf, you will still need to approve them. You will be notified by email when you need to approve anything your training provider has done on your behalf.
					<br><br>You can change permissions at any time"
				}) }}
				</li>
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
						Reserve funding
					</span>
					<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Cannot start</strong>
				  </li>

			  </ul>
			</li>

			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

			<p class="govuk-body">
			<a href="#">I want to finish setting up my account later</a>
			</p>

    -->


		</div>
	  </div>
	</main>
  </div>

{% endblock %}

{% endblock %}
