{% extends "layout.html" %}

{% block pageTitle %}
Do you want to change your apprenticeship service account name?
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}



<div class="govuk-width-container">
	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
				

      <h1 class="govuk-heading-xl">Confirm your account name</h1>

      <p>You can change your account name at any time.      </p>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Account name"
            },
            value: {
              html: data['as-account-name']
            },
            actions: {
              items: [
                {
                  href: "change-account-name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}




      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "account-name-org-success"
        }) }}
          
        <a class="govuk-link" href="task-list-2">Cancel</a>
        </div>





	</div>
  </div>
</div>

{% endblock %}

{% endblock %}


