{% extends "layout.html" %}

{% block pageTitle %}
	Employer account setup complete
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  <div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
			  Employer account created
			</h1>
		  </div>




				<p class="govuk-body">
					We've sent you a confirmation email (you may need to check your junk folder and add us to your safe senders list).
				</p>

				<h2 class="govuk-heading-m">Within your employer account you can:</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li>add new team members</li>
					<li>manage and control permissions of team members</li>
					<li>select your notification settings</li>
					<li>manage apprentices</li>
					<li>give or change permissions to your training provider</li>
				</ul>

				<H2 class="govuk-heading-m">What happens next?</H2>
				<p>You, or your training provider if you've given them permission, will be able to:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>create adverts to advertise on Find an apprenticeship</li>
					<li>request and receive funds from other employers for apprenticeship training</li>
					<li>spend your apprenticeship levy funds (levy paying employers)</li>
					<li>reserve funds for apprenticeship training (non-levy paying employers)</li>
				</ul>

				<p>If you have given permission for your training provider to do some tasks on your behalf, you will still need to log into your employer account to check and approve their actions.</p>

				{{ govukButton({
					text: "Go to your employer account homepage",
					href: "3-homepage"
				}) }}








		</div>
	  </div>
	</main>
  </div>

{% endblock %}

{% endblock %}
