{% extends "layouts/main.html" %}

{% block pageTitle %}
My organisation address is wrong
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">

	{% include "includes/back-link-save-return.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

	<h1 class="govuk-heading-xl">My organisation address is wrong</h1>



	<p>If the address for your organisation is wrong, you will need to contact the relevant authority (Companies House, HMRC or the Charities Commission) to update.</p>
	<p>You can continue to create your account and update your address later. We do not send any correspondence to your postal address.</p>




		{{ govukButton({
		  text: "Continue",
      href: "paye-scheme-added"
		}) }}
	</form>

	{% include "includes/save-return-bottom.html" %}
	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
