{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your organisation details
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

{% if data['aorn'] == '123' %}
<script>
    window.location.href = 'select-your-org-radios'
</script>
{% endif %}

{% if data['aorn'] == '456' %}
<script>
    window.location.href = 'search-for-org'
</script>
{% endif %}

{% if data['gg-id'] == 'ABC' %}
<script>
    window.location.href = 'select-your-org-radios'
</script>
{% endif %}

{% if data['gg-id'] == 'DEF' %}
<script>
    window.location.href = 'search-for-org'
</script>
{% endif %}

<div class="govuk-width-container">
	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			
	<h1 class="govuk-heading-xl">Check your organisation details</h1>
	
	
	

	<dl class="govuk-summary-list govuk-!-margin-bottom-9">
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
		  Organisation
		</dt>
		<dd class="govuk-summary-list__value">
		  KAREN'S GLASS LIMITED
		</dd>
		<dd class="govuk-summary-list__actions">
			<td class="govuk-table__cell"><a href="#">Change</a></td>
		</dd>
	  </div>
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
		  Address
		</dt>
		<dd class="govuk-summary-list__value">
		  <p>112-114<br>
		  Witton<br>
		  Northwich<br>
		  Cheshire<br>
		  CW8 4RF</p>
			
		</dd>
		<dd class="govuk-summary-list__actions">
		  <!--<a class="govuk-link" href="#">
			Change<span class="govuk-visually-hidden"> Address</span>
		  </a>-->
		</dd>
	  </div>
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
		  Account Office reference
		</dt>
		<dd class="govuk-summary-list__value">
			AORNAUT000001
		</dd>
		<dd class="govuk-summary-list__actions">
		  <a class="govuk-link" href="enter-your-PAYE-scheme-details">
			Change<span class="govuk-visually-hidden"> Account office reference number</span>
		  </a>
		</dd>
	  </div>
	  <div class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">
		  Employer PAYE reference
		</dt>
		<dd class="govuk-summary-list__value">
		  102/LE85668
		</dd>
		<dd class="govuk-summary-list__actions">
		  <a class="govuk-link" href="enter-your-PAYE-scheme-details">
			Change<span class="govuk-visually-hidden"> contact details</span>
		  </a>
		</dd>
	  </div>
	</dl>

	<!--<form action="details-correct" method="post">
		{{ govukRadios({
			idPrefix: "details-correct",
			name: "details-correct",
			fieldset: {
				legend: {
					text: "Is this your organisation?",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--m"
				}
			},
			items: [
				{
					value: "yes",
					text: "Yes, this is my organisation"
				},
				{
					value: "address",
					text: "Yes, this is my organisation but the address is wrong"
				}
			]
		}) }}


</form>-->
<details class="govuk-details" data-module="govuk-details">
	<summary class="govuk-details__summary">
	  <span class="govuk-details__summary-text">
		What if my organisation address is wrong?
	  </span>
	</summary>
	<div class="govuk-details__text">
		If the address for your organisation is wrong, you will need to contact the relevant authority (Companies House, HMRC or the Charities Commission) to update.

		You can continue to create your account and update your address later. We do not send any correspondence to your postal address.
	</div>
  </details>

		<div class="govuk-button-group">
			{{ govukButton({
			  text: "Continue",
			  href: "paye-scheme-added"
			}) }}
			  
			<a class="govuk-link" href="task-list-2">Cancel</a>
			</div>
	




	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
