{% extends "layouts/main.html" %}

{% block pageTitle %}
Create user details
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

				<form action="confirm-user-details" method="post" novalidate>
					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
								<h1 class="govuk-fieldset__heading">
									Add your user details
								</h1>
							</legend>
							<div class="govuk-form-group">
								<label class="govuk-label" for="first-name">
									First name
								</label>
								<input class="govuk-input govuk-!-width-three-quarters" id="first-name" name="first-name"
									value="{{ data['first-name'] }}" type="text" spellcheck="false" autocomplete="given-name">
								</div>
								<div class="govuk-form-group">
								<label class="govuk-label" for="last-name">
									Last name
								</label>
								<input class="govuk-input govuk-!-width-three-quarters" id="last-name" name="last-name" value="{{ data['last-name'] }}"
									type="text" spellcheck="false" autocomplete="family-name">
								</div>
							</div>
						</fieldset>
					</div>
					<div class="govuk-inset-text">
						If you do not want to change your user details, select cancel.
					</div>
					<div class="govuk-button-group">
						<button class="govuk-button" data-module="govuk-button">
							Continue
						</button>
						<a class="govuk-link" href="confirm-user-details">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</main>
</div>

{% endblock %}

{% endblock %}
