{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm training provider
{% endblock %}


{% block main %}

    {% if data['user-type'] == 'elsewhere' %}
      <script>
          window.location.href = 'enter-ukprn'
      </script>
    {% endif %}

{% include "includes/account-header-no-nav-sign-out.html" %}

<div class="govuk-width-container">
	
	{% include "includes/back-link-save-return.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Confirm your training provider</h1>

      <p>You were invited to create an account by EDUC8 TRAINING (ENGLAND) LIMITED. (10005310)</p>

      <form action="confirm-training-provider-invited" method="post">
		 
      {{ govukRadios({
        idPrefix: "confirm-invited-training-provider-check",
        name: "confirm-invited-training-provider-check",
        fieldset: {
          legend: {
            text: "Do you want to use them as your training provider?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes, I want to use XXX TRAINING LIMITED"
          },
          {
            value: "no",
            text: "No, I want to use a different training provider"
          }
        ]
      }) }}
  
		  
      {{ govukButton({
        text: "Continue"
      }) }}
		  
    </form>


		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}


