{% extends "layout.html" %}

{% block pageTitle %}
  Confirm permissions
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

<div class="govuk-width-container">
	
	{% include "includes/back-link-save-return.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Confirm permissions for EDUC8 TRAINING (ENGLAND) LIMITED</h1>

      <!--{{ govukWarningText({
        html: "<p class='govuk-!-font-weight-bold'>All adverts will be transfered from EDUC8 TRAINING (ENGLAND) LIMITED after you turn off their permissions</p>
              <p class='govuk-!-font-weight-bold'>Adverts pending review will be sent back to draft. Any live adverts will be closed. You will be able to clone closed adverts if you republish them.</p>
              ",
        iconFallbackText: "Warning"
      }) }}-->
		 
      
      <h2 class="govuk-heading-m">Permissions</h2>

      


      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Add apprentices"
            },
            value: {
              text: data["add-apprentice-records"]
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Recruit apprentices"
            },
            value: {
              text: data["recruit-apprentices"]
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          }
        ]
      }) }}




     <!-- <form action="confirm-permissions-check" method="post">

        {{ govukRadios({
          idPrefix: "confirm-permissions-check",
          name: "confirm-permissions-check",
          fieldset: {
            legend: {
              text: "Are you sure you want to change the permissions EDUC8 TRAINING (ENGLAND) LIMITED",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          
          items: [
            {
              value: "yes",
              text: "Yes, change the permissions"
            },
            {
              value: "no",
              text: "No, use the standard permissions"
            }
          ]
        }) }}
  
  
      
    
        
        
  
      </form>-->

     

      <p>You can update your training provider permissions at any time within your account.</p>

      {{ govukButton({
        text: "Continue",
        href: "account-setup-complete"
      }) }}

      {% include "includes/save-return-bottom.html" %}
		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}


