{% extends "layout.html" %}

{% block pageTitle %}
  Confirm user details
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

<div class="govuk-width-container">
	
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Confirm user details</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name'] or 'Howard' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="check-user-details">
              Change<span class="govuk-visually-hidden">first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['last-name'] or 'Schultz' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="check-user-details">
              Change<span class="govuk-visually-hidden"> last name</span>
            </a>
          </dd>
        </div>
      </dl>

      <p>You can change your details at any time.</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue",
          href: "basic-account-created"
        }) }}
          
        <a class="govuk-link" href="task-list">Cancel</a>
        </div>
		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}


