{% extends "layouts/main.html" %}

{% block pageTitle %}
Your organisations and agreements
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	<div class="govuk-grid-row">	
		<div class="govuk-grid-column-two-thirds">
			
			<a href="javascript:history.back()" class="govuk-back-link">Back</a>
			<h1 class="govuk-heading-xl">Your organisations and agreements</h1>
			
		</div>
	</div>
	<div class="govuk-grid-row">	
		<div class="govuk-grid-column-two-thirds">

		
		<p class="govuk-body-m">
			Add organisation(s) that employ apprentices.
		<p>
			<div class="govuk-inset-text">
				To add apprentices you need to tell us which organisation (employer) they will be working for.<br /><br />
			If you work with more than one organisation, they will need their own agreement with the Department for Education (DfE).<br /><br />
			If the organisation is not listed below you will need to add them.
			  </div>
		
		<p class="govuk-body">
			You can add as many <a href="#">connected organisations</a> as you need to.
		<p>
			<p class="govuk-body">
				Transfer status: disabled.

			<p>
				<button class="govuk-button" data-module="govuk-button">
					Add an organisation
				  </button>
				</div>
			</div>
	
  <div class="govuk-grid-row">

	
	 <div class="govuk-grid-column-full">
	
	 
<table class="govuk-table govuk-!-margin-bottom-9">
		
		<thead class="govuk-table__head">
		  <tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header ">Organisation name</th>
			<th scope="col" class="govuk-table__header ">Latest agreement status</th>
			
			<th scope="col" class="govuk-table__header"></th>
			
			
		  </tr>
		</thead>
		<tbody class="govuk-table__body">
		  
		  <tr class="govuk-table__row">
			<td scope="row" class="govuk-table__cell">KAREN'S GLASS LIMITED
				
				<div id="sort-code-hint" class="govuk-hint">
					Agreement ID:PY545K
				  </div>
			</td>
			<td class="govuk-table__cell">
				Not yet accepted

			</td>
			
			<td class="govuk-table__cell">
				<a href="employer-agree-detail" class="govuk-link">View all agreements</a>
			</td>
		  </tr>
		   
		</tbody>
	  </table>
			
		</div>

		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				How transfers status is worked out
			  </span>
			</summary>
			<div class="govuk-details__text">
			  Text in here.
			</div>
		  </details>	
		 

    </div>
  </div>
</div>

{% endblock %}

{% endblock %}
