{% extends "layouts/main.html" %}

{% block pageTitle %}
About your agreement
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}



<div class="govuk-width-container">

	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">

	
	
<div class="govuk-grid-column-two-thirds">
	<P></P>			
	<span class="govuk-caption-xl">KAREN'S GLASS LIMITED</span>
	<h1 class="govuk-heading-xl">About your agreement</h1>
	
	<p class="govuk-body govuk-!-margin-bottom-6">
		This agreement is a legal contract between <strong>KAREN'S GLASS LIMITED</strong> and The Sceretary of State acting through the Department for Education (DfE) and/or its executive agency, the Education and Skills Funding Agency. It allows you to pay training providers for apprenticeship and transfer funds to other employers.
	</p>	

	<p class="govuk-body govuk-!-margin-bottom-6">
		You need to ensure you have the authority from your organisation before you accept this agreement.
	</p>	
	

	{{ govukButton({
		text: "Continue to your agreement",
		href:"employer-agreement"
	}) }}

<br><br><br><br>

	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
