{% extends "layouts/main.html" %}

{% block pageTitle %}
Set your training provider permissions
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

<div class="govuk-width-container">
	
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">
  
<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">Set your training provider permissions</h1>

  <p>Your training provider can do some things for you so you don't have to. You will have to approve any actions your training provider does on your behalf.</p>
  <p>You can change your training provider permissions at any time.</p>

  {{ govukWarningText({
    text: "Training providers do not have access to your account. They will not be able to carry out any actions without your approval.",
    iconFallbackText: "Warning"
  }) }}
  
  
  

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h2 class="govuk-heading-m">Set permissions for XXX TRAINING LIMITED</h2>

      <p>These permissions are on behalf of KAREN'S GLASS LIMITED</p>
		 

        <form class="form" action="confirm-permissions" method="post">

          {{ govukRadios({
            idPrefix: "recruit-apprentices",
            name: "recruit-apprentices",
            fieldset: {
              legend: {
                text: "Advertise apprenticeships and recruit apprentices",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "This allows your training provider to create and manage adverts. It also allows them to receive and manage applications."
            },
            items: [
              {
                value: "Allow",
                text: "Allow"
              },
              {
                value: "Allow, but I want to review adverts before they're advertised",
                text: "Allow, but I want to review adverts before they're advertised"
              },
              {
                value: "Do not allow",
                text: "Do not allow"
              }
            ]
          }) }}
      {{ govukRadios({
        idPrefix: "add-apprentice-records",
        name: "add-apprentice-records",
        fieldset: {
          legend: {
            text: "Add apprentices",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "This allows your training provider to add apprentices. If you do not pay the levy, this permission also allows your training provider to reserve funding for the apprenticeship training on your behalf."
        },
        items: [
          {
            value: "Allow, but I have to approve them",
            text: "Allow, but I have to approve apprentices"
          },
          {
            value: "Do not allow",
            text: "Do not allow"
          }
        ]
      }) }}



 

      


     


    
  
		  
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}
          
        <a class="govuk-link" href="task-list-5">Cancel</a>
        </div>
		  

    </form>

    

		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

