{% extends "ma-layout.html" %}

{% block pageTitle %}
Set up your employer account
{% endblock %}


{% block main %}

{% block content %}

<div class="govuk-width-container">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">
		<!--	<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>--> &nbsp;
		</div>
	
	</div>
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">



		  <h1 class="govuk-heading-xl">
	Set up your employer account
			  </h1>

				<p class="govuk-body">You have completed 3 of 5 sections.</p>

				<div class="govuk-inset-text govuk-!-margin-bottom-7">
You do not have to complete all sections at once.<br/> Those labelled 'completed' have been saved so you can continue your  employer account creation later.				</div>

				<ol class="app-task-list">
					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">1. </span> Add your user details
						</h2>
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="set-up-as-a-user" aria-describedby="eligibility-status">
										Your user details
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag " id="eligibility-status">Completed</strong>
							</li>
						</ul>
					</li>

					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">2. </span> Add your organisation and PAYE scheme
						</h2>
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="add-paye-scheme" aria-describedby="eligibility-status">
										PAYE scheme
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
							</li>
						</ul>
					</li>

					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">3. </span> Confirm your account name
						</h2>
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="change-account-name">
										Your account name
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
							</li>
						</ul>
					</li>

				<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">4. </span> Accept your employer agreement
						</h2>
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="employer-agree-your-org" aria-describedby="eligibility-status">
										Your employer agreement
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
							</li>
						</ul>
					</li>

					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">5. </span> Add a training provider
						</h2>
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">

									<a href="training-provider-choice" aria-describedby="eligibility-status">Training provider</a>

								</span>
								<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
							</li>
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">

										Training provider permissions

								</span>
								<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
							</li>
						</ul>
					</li>



				</ol>




		  <!--<ol class="app-task-list">
			<li>

			  <ul class="app-task-list__items" style="padding-left:0">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="set-up-as-a-user" aria-describedby="eligibility-status">
								Add employer details and confirm identity
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="add-paye-scheme" aria-describedby="eligibility-status">
								Add PAYE scheme
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="enter-ukprn" aria-describedby="eligibility-status">
								Add training provider
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="select-permissions" aria-describedby="eligibility-status">
								Set training provider permissions
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="employer-agreement" aria-describedby="eligibility-status">
								View and accept the employer agreement
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
					</li>



			  </ul>
			</li>-->


		<!--	<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

			<p class="govuk-body">
			<a href="#">I want to finish setting up my account later</a>
			</p>-->


			
			{{ govukButton({
				text: "Save and come back later",
				classes: "govuk-button--secondary",
				href: "/progress-saved"
			  }) }}

		</div>
	  </div>
	</main>
  </div>

{% endblock %}

{% endblock %}
