{% extends "layouts/main.html" %}

{% block pageTitle %}
Add a training provider
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}



<div class="govuk-width-container">
	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
				

	
	
	

		{% if data['user-type'] == 'elsewhere' %}

					<h1 class="govuk-heading-xl">Add a training provider</h1>

					<p>You can either add a training provider now, or finish creating your account and add a training provider later.</p> 

					<!--	<p>You will not be able to add apprentices or reserve funds until you've added a training provider.</p>

					<p>You will need to know the UKPRN for your training provider.</p>
					
					<p>A UKPRN is the unique, 8 digit number we use to identify a training provider. Ask your training provider if you do not know it.</p>-->

					<form action="training-provider-choice-check" method="post">

						{{ govukRadios({
							idPrefix: "training-provider-choice-check",
							name: "training-provider-choice-check",
							fieldset: {
								legend: {
									text: "Do you want to add a training provider now?",
									classes: "govuk-fieldset__legend--m"
								}
							},
							items: [
							{
								value: "yes",
								text: "Yes, I'll add a training provider now"
							},
							{
								value: "no",
								text: "No, I want to finish setting up my account and add one later"
							}
							]
						}) }}
					
							{{ govukButton({
								text: "Continue"
							}) }}

					</form>
      


		{% else %}



					<h1 class="govuk-heading-xl">Add a training provider</h1>

					<p>You were invited to create an account by EDUC8 TRAINING (ENGLAND) LIMITED. (10005310)</p>

					<!--<p>You can accept them as your training provider now, use a different training provider or finish creating your account and add a training provider later.</p> 

					<p>You will not be able to add apprentices or reserve funds until you've added a training provider.</p>-->

					<form action="training-provider-invited-choice-check" method="post">

			
						{{ govukRadios({
							idPrefix: "training-provider-invited-choice-check",
							name: "training-provider-invited-choice-check",
							fieldset: {
								legend: {
									text: "Do you want accept their invite and use them as your training provider?",
									classes: "govuk-fieldset__legend--m"
								}
							},
							items: [
							{
								value: "yes",
								text: "Yes, I want to use EDUC8 TRAINING (ENGLAND) LIMITED as my training provider"
							},
							{
								value: "different",
								text: "No, I want to use a different training provider",
								href: "/training-provider-info"
							},
							{
								divider: "or"
							},
							{
								value: "no",
								text: "No, I want to finish setting up my account and add one later"
							}
							]
						}) }}
					
							{{ govukButton({
								text: "Continue"
							}) }}

						</form> 

				
			

    {% endif %}


		
		
	







	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
