{% extends "layout.html" %}

{% block pageTitle %}
	Training provider added
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">

	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

  {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  {% set html %}
    <p class="govuk-notification-banner__heading">
      Training provider added
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: 'success'
  }) }}

	<h1 class="govuk-heading-xl">You've successfully added xxx </h1>
  <h2 class="govuk-heading-m">What happens next</h1>

  <p>You need to set permissions for xxx so that they can act on your behalf.</p>

  <p>You can set permissions in the 'your training providers' section of your account at a later date.</p>





  {{ govukButton({
    text: "Continue to set permissions",
    href: "select-permissions"
  }) }}
  
  
  {{ govukButton({
    text: "Save and come back later",
    classes: "govuk-button--secondary",
    href: "/progress-saved"
  }) }}


	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
