{% extends "layouts/main.html" %}
{% set version = "v3" %}

{% block pageTitle %}
Select an apprentice
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v5/add/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Select an apprentice</h1>
      </div>
    </div>

    <div class="govuk-!-padding-bottom-5"></div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h2 class="govuk-heading-m">Apprentice list (50)</h2>

        <p class="govuk-body">You can select a successful applicant from your adverts.</p>

        <p class="govuk-body">You can add multiple applicants from apprenticeship adverts, but one at a time.</p>


        <!-- search box START -->
        <div class="moj-search">

          <form action="#" method="post">

            <div class="govuk-form-group">

              <div id="search-hint" class="govuk-hint moj-search__hint ">
                Search applicant name
              </div>

              <input class="govuk-input moj-search__input " id="search" name="search" type="search"
                aria-describedby="search-hint">

            </div>

            <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
              Search
            </button>

          </form>
        </div>



        <!-- search box END -->

      </div>
    </div>
    <div class="govuk-!-padding-bottom-8"></div>

    <div style="background-color: #F4F2F0; padding: 15px; border: 0px solid #d3d3d3;">
      <form method="get" action="/N7BRPJ/apprentices">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="das-pane govuk-!-margin-bottom-3">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="selectedProvider">Vacancy name</label>
                    <select class="govuk-select govuk-!-width-full" id="selectedProvider" name="selectedProvider">
                      <option label="All" aria-label="All training providers" value="">Business administrator</option>
                      <option label="Business admin apprenticeship">
                        Business admin apprenticeship
                      </option>
                    </select>
                  </div>
                </div>
                <div class="govuk-grid-column-one-third">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="selectedCourse">Status</label>
                    <select class="govuk-select govuk-!-width-full" id="selectedCourse" name="selectedCourse">
                      <option label="All" aria-label="All courses" value="">All</option>
                      <option label="Successful">Successful
                      </option>
                      <option label="In review" value="In review">In review</option>
                      <option label="Rejected" value="Rejected">Rejected</option>
                      <!-- other options here -->
                    </select>
                  </div>
                </div>
                <div class="govuk-grid-column-one-third">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="selectedEndDate">Applications made within</label>
                    <select class="govuk-select govuk-!-width-full" id="selectedEndDate" name="selectedEndDate">
                      <option label="All" aria-label="All end dates" value="">All</option>
                      <option label="4 weeks">4 weeks</option>
                      <option label="8 weeks">8 weeks</option>
                      <option label="10 weeks">10 weeks</option>
                      <option label="12 weeks">12 weeks</option>
                      <!-- other options here -->
                    </select>
                  </div>
                </div>
              </div>
              <!-- other form elements here -->
              <button class="govuk-button govuk-!-margin-0" type="submit">Apply filters</button>
            </div>
          </div>
        </div>
      </form>
    </div>





    <div class="govuk-!-padding-bottom-5"></div>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#past-day">
            Applications 2024/2025 (5)
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past-week">
            Archive applications (45)
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="past-day">
        <h2 class="govuk-heading-m">Apprentice list</h2>

        <table class="govuk-table responsive-table" data-module="das-table-sort">
          <thead class="govuk-table__header">
            <tr class="govuk-table__row" role="row">

              <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
                <a href="#" class="govuk-link das-table__sort" aria-sort="none">Name </a>
              </th>
              <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
                <a href="#" class="govuk-link das-table__sort" aria-sort="none">Application ID</a>
              </th>
              <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
                <a href="#" class="govuk-link das-table__sort" aria-sort="none">Date of birth</a>
              </th>
              <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
                <a href="#" class="govuk-link das-table__sort" aria-sort="none">Vacancy name</a>
              </th>
              <th scope="col" class="govuk-table__header das-table--double-arrows" aria-sort="none">
                <a href="#" class="govuk-link das-table__sort" aria-sort="none">Status</a>
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell" role="gridcell" data-label="Name">
                <a href="/employer/v11/add/apprentice-details" class="govuk-link govuk-link--no-visited-state">Jim
                  Dolan</a>
                <input type="hidden" name="678CFR0-name" value="Keith Stewart">
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Application ID">678CFR0</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date of birth">19/1/2000</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date applied">Business admin apprenticeship
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Status">
                <strong class="govuk-tag govuk-tag--green">
                  Successful
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" role="gridcell" data-label="Name">
                <a href="#" class="govuk-link govuk-link--no-visited-state">Ellen
                  Collins</a>
                <input type="hidden" name="6H0IL55-name" value="Ellen Collins">
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Application ID">6H0IL55</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date of birth">7/8/2001</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date applied">Business admin apprenticeship
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Status">
                <strong class="govuk-tag govuk-tag--green">
                  Successful
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" role="gridcell" data-label="Name">
                <a href="" class="govuk-link govuk-link--no-visited-state">Cynthia Perez</a>
                <input type="hidden" name="FL13JK0-name" value="Cynthia Perez">
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Application ID">FL13JK0</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date of birth">28/8/2003</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date applied">Business admin apprenticeship
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Status">
                <strong class="govuk-tag govuk-tag--green">
                  Successful
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" role="gridcell" data-label="Name">
                <a href="" class="govuk-link govuk-link--no-visited-state">Susie Noble</a>
                <input type="hidden" name="LL13J9H-name" value="Susie Noble">
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Application ID">LL13J9H</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date of birth">9/3/2005</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date applied">Business admin apprenticeship
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Status">
                <strong class="govuk-tag govuk-tag--blue">
                  In review
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" role="gridcell" data-label="Name">
                <a href="" class="govuk-link govuk-link--no-visited-state">Neena Patel</a>
                <input type="hidden" name="78BH067-name" value="Neena Patel">
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Application ID">78BH067</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date of birth">17/1/2004</td>
              <td class="govuk-table__cell" role="gridcell" data-label="Date applied">Business admin apprenticeship
              </td>
              <td class="govuk-table__cell" role="gridcell" data-label="Status">
                <strong class="govuk-tag govuk-tag--blue">
                  In review
                </strong>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    </form>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h2 class="govuk-heading-m">New apprentice</h2>

        <p class="govuk-body">If you don’t want to choose an applicant from an advert, you can add a new apprentice to
          continue.
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Add new apprentice</a>
        </p>

      </div>
    </div>
</div>




</div>


</div>
</main>
</div>
</div>



</main>
</div>
</div>
</div>
</div>
{% endblock %}

{% endblock %}