{% extends "layout.html" %}

{% block pageTitle %}
Live index page
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">

    {% include "includes/back-link.html" %}

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-xl">Has this apprenticeship stopped?</h1>
                <p class="govuk-body">We have received notification of a new apprenticeship for a learner.
                </p>
                <p class="govuk-body">For their training to continue, you need to confirm the date when the
                    apprenticeship training stopped with you.</p>
                <p class="govuk-body">You need to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>check the unique learner number
                    </li>
                    <li>confirm the date when the apprenticeship training stopped</li>
                </ul>
                <div class="govuk-!-padding-bottom-5"></div>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Current stop date</th>
                            <td class="govuk-table__cell">September 2023</td>
                        </tr>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Apprentice record status</th>
                            <th scope="col" class="govuk-table__header"><strong class="govuk-tag govuk-tag--red">
                                Stopped
                            </strong>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Unique learner number</th>
                            <td class="govuk-table__cell">9900008102</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Name</th>
                            <td class="govuk-table__cell">Gwen Adams</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Apprenticeship training course</th>
                            <td class="govuk-table__cell">Actuarial technician, Level: 4 (Standard)</td>
                        </tr>
                    </tbody>

                </table>
                <div class="govuk-!-padding-bottom-5"></div>

                <form class="form govuk-!-padding-top-5" action="/employer/v1/stopped/action/confirm-apprentice-stop-date/" method="post">
                
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Is this stop date correct?
                                </h1>
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="stop-date-action" name="stop-date-action" type="radio"
                                        value="yes-stop-date-correct" aria-describedby="stop-action-hint">
                                    <label class="govuk-label govuk-radios__label" for="stop-date-action">
                                        Yes, stop date is correct
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="stop-date-action-2" name="stop-date-action" type="radio"
                                        value="no-stop-date-incorrect" aria-describedby="stop-date-action-2-hint">
                                    <label class="govuk-label govuk-radios__label" for="stop-date-action-2">
                                        No, stop date is incorrect
                                    </label>
                                </div>
                            </div>
                
                        </fieldset>
                    </div>
                
                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                
                </form>


            </div>
        </div>
</div>

{% endblock %}

{% endblock %}