{% extends "layout.html" %}

{% block pageTitle %}
Live index page
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">

    {% include "includes/back-link.html" %}

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-xl">Apprenticeship training stop date</h1>
                <p class="govuk-body">We need you to advise when this apprenticeship training stopped. The earliest stop
                    date you can enter is the apprentice's start date.
                </p>
                <div class="govuk-!-padding-bottom-4"></div>

                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Apprentice start date</th>
                            <td class="govuk-table__cell">January 2022</td>
                        </tr>

                </table>
                <div class="govuk-!-padding-bottom-5"></div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h3 class="govuk-fieldset__heading">
                                Change stop date
                            </h3>
                        </legend>
                        <p class="govuk-body">Any outstanding payments will be made for activity up to this point.
                        </p>
                        <div id="dob-hint" class="govuk-hint">
                            For example, 10 2023
                        </div>
                        <div class="govuk-date-input" id="dob">

                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                        id="dob-month" name="dob-month" type="text" autocomplete="bday-month"
                                        inputmode="numeric">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="dob-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                        id="dob-year" name="dob-year" type="text" autocomplete="bday-year"
                                        inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <a href="/employer/v1/stopped/new-stop-date-confirmed" role="button" draggable="false"
                    class="govuk-button" data-module="govuk-button">
                    Continue
                </a>


            </div>
        </div>
</div>

{% endblock %}

{% endblock %}