{% extends "layout.html" %}

{% block pageTitle %}
Live index page
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">

    {% include "includes/back-link.html" %}

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">


                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Stop date confirmed
                    </h1>
                </div>
                <div class="govuk-!-padding-bottom-5"></div>
                <p class="govuk-body">An email will be sent to the training provider to confirm that the stop date is correct and you have not made any
                changes.
                </p>
                
                <div class="govuk-!-padding-bottom-5"></div>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Stop date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            September 2023
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> version</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag govuk-tag--red">
                                Stopped
                            </strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Faizal Dawood
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Made redundant
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No</br>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Apprentice confirmation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            N/A
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Training provider
                        </dt>
                        <dd class="govuk-summary-list__value">
                            EDUC8 TRAINING (ENGLAND) LIMITED
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                        <dt class="govuk-summary-list__key">
                            Cohort reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            VK6D68
                        </dd>
                    </div>
                </dl>
                <div class="govuk-!-padding-bottom-5"></div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                What do you want to do next?
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway"
                                    aria-describedby="signIn-item-hint">
                                <label class="govuk-label govuk-radios__label" for="signIn">
                                    View apprentice details
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login"
                                    aria-describedby="signIn-2-item-hint">
                                <label class="govuk-label govuk-radios__label" for="signIn-2">
                                    Return to dashboard
                                </label>
                            </div>
                
                        </div>
                
                    </fieldset>
                </div>

                <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                    Continue
                </a>


            </div>
        </div>
</div>

{% endblock %}

{% endblock %}