{% extends "layout-govuk-signin.html" %}

{% block pageTitle %}
Choose how to get security codes
{% endblock %}


{% block main %}

<!-- {% include "includes/account-header-no-nav.html" %} -->

{% block content %}

<div class="govuk-width-container">

	<div class="govuk-phase-banner">
		<p class="govuk-phase-banner__content">
		  <strong class="govuk-tag govuk-phase-banner__content__tag">
			beta
		  </strong>
		  <span class="govuk-phase-banner__text">
			This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
		  </span>
		</p>
	  </div>
	  
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

		
		
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-l">Choose how to get security codes</h1>

		<p>
			To finish creating your account, choose a way to prove it’s you when you sign in. 
		</p>

		<form action="select-security-code" method="post">

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset">
			  <div class="govuk-radios" data-module="govuk-radios">
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="security-code-text" name="security-code" type="radio" value="text">
				  <label class="govuk-label govuk-radios__label" for="security-code-text">
					Text message
				  </label>
				</div>
				<div class="govuk-radios__item">
				  <input class="govuk-radios__input" id="security-code-app" name="security-code" type="radio" value="app">
				  <label class="govuk-label govuk-radios__label" for="security-code-app">
					Authenticator app for smartphone, tablet or computer
				  </label>
				</div>
			  </div>
			</fieldset>
		  </div>

		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				What is an authenticator app?
			  </span>
			</summary>
			<div class="govuk-details__text">
				<p>An authenticator app creates a security code that helps confirm it’s you when you sign in.</p>
				<p>You can use an authenticator app on your smartphone, tablet or desktop computer. Download an authenticator app for your smartphone or tablet from your app store or search online for an authenticator app for your computer.</p>
			</div>
		  </details>
			

		  <button class="govuk-button" data-module="govuk-button">
			Continue
		  </button>

		</form>


	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
