{% extends "layout.html" %}

{% block pageTitle %}
Do you want to change your apprenticeship service account name?
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}



<div class="govuk-width-container">
	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
				

      <h1 class="govuk-heading-xl">Confirm your new account name</h1>

      <p>You can change your account name at any time.      </p>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "New account name"
            },
            value: {
              html: data['as-account-name']
            },
            actions: {
              items: [
                {
                  href: "change-account-name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}




    

       
          <div class="govuk-button-group">
            {{ govukButton({
            text: "Continue",
            href: "account-name-changed"
            }) }}
            
            <a class="govuk-link" href="task-list-3">Cancel</a>
            </div>

 
        

        

<!--<form action="account-name-change-confirm" method="post">

	

	{{ govukRadios({
	  idPrefix: "change-account-name-confirm-check",
	  name: "change-account-name-confirm-check",
		fieldset: {
			legend: {
				text: "Are you sure you want to change your account name to " + data["as-account-name"] + "?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
			}
		},
	  items: [
		{
		  value: "yes",
		  text: "Yes, I want to change my account name to " + data["as-account-name"],
			conditional: {
        html: accountnameHtml
      }
		},
		{
		  value: "no",
		  text: "No, I need to change my account name again"
		}
	  ]
	}) }}

		{{ govukButton({
		  text: "Continue"
		}) }}

	</form> -->



	</div>
  </div>
</div>

{% endblock %}

{% endblock %}


