{% extends "layout.html" %}

{% block pageTitle %}
Add PAYE scheme
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">
	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
		
		<h1 class="govuk-heading-xl">Add a PAYE scheme</h1>
	

	<p class="govuk-body">
		We need you to add the PAYE scheme for your organisation. You can add your PAYE scheme by using:</p>
		<ul class="govuk-list govuk-list--bullet">
      <li>the Government Gateway login for your organisation or</li>
			<li>your Accounts Office reference and Employer PAYE reference </li>
			
		</ul>

      
		<details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
					How to find your Government Gateway details
			  </span>
			</summary>
			<div class="govuk-details__text">
			  If you have lost your Government Gateway log in details you can <a href="#">get help signing in</a>
			</div>
		  </details>

		  <details class="govuk-details" data-module="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
					How to find your Accounts Office reference and Employer PAYE reference
			  </span>
			</summary>
			<div class="govuk-details__text">
			  <p>You can find your 13-character Accounts Office reference on the letter HMRC sent you when you first registered as an employer.</p>
			  <p>You will find your Employer PAYE reference in the payslip booklet HMRC provided. Contact HMRC or your accountant if you do not have access to the booklet.</p>
			</div>
		  </details>


		<!--<p class="govuk-body">
		You can add a PAYE scheme later if you need more time, we can still create your account for you.
		</p>-->

<form action="add-paye-scheme" method="post">
		{{ govukRadios({
			idPrefix: "add-paye-scheme-check",
			name: "add-paye-scheme-check",
			fieldset: {
				legend: {
					text: "How do you want add your PAYE scheme?",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--m"
				}
			},
			items: [
				{
					value: "government-gateway",
					text: "Use Government Gateway log in"
				},
				{
					value: "aorn",
					html: "Use Accounts Office reference and Employer PAYE reference."
				}
			]
		}) }}

{{ govukWarningText({
	text: "Before you continue, you must make sure you have authority to add PAYE schemes to the account for this organisation",
	iconFallbackText: "Fallback text"
}) }}

<div class="govuk-button-group">
	{{ govukButton({
	  text: "Continue",
	  href: "government-gateway"
	}) }}
	  
	<a class="govuk-link" href="task-list-2">Cancel</a>
	</div>

	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
