{% extends "layout.html" %}

{% block pageTitle %}
Set your employer account name
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}



<div class="govuk-width-container">

	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">


	<h1 class="govuk-heading-xl">Set your employer account name</h1>

	<p class="govuk-body">
You can change the employer name you use in the apprenticeship service if there is another organisation name (such as a trading name) that you are known by. Your employer account name is visible to training providers and helps them to find you in the service</p>

		<p class="govuk-body">This is not the legal entity name that is registered with the Pensions regulator.
	</p>

	<p class="govuk-body">
You can change your employer account name at any time
	</p>


	<p class="govuk-body govuk-!-margin-bottom-6">
		<b>Organisation name (legal entity)</b><br>
		KAREN'S GLASS LIMITED
	</p>

	<p class="govuk-body govuk-!-margin-bottom-6">
		<b>Employer account name [in the apprenticeship service]</b><br>
		KAREN'S GLASS LIMITED
	</p>


<form action="change-account-name" method="post">



	{% set accountnameHtml %}
		{{ govukInput({
			id: "as-account-name",
			name: "as-account-name",
			label: {
				text: "Enter new employer account name"
			}
		}) }}
{% endset -%}


	{{ govukRadios({
	  idPrefix: "change-account-name-check",
	  name: "change-account-name-check",
		fieldset: {
			legend: {
				text: "Do you want to change your employer account name?",
				classes: "govuk-fieldset__legend--m"
			}
		},
	  items: [
		{
		  value: "yes",
		  text: "Yes, I want to change my employer account name",
			conditional: {
        html: accountnameHtml
      }
		},
		{
		  value: "no",
		  text: "No, I want to use my organisation name as my employer account name"
		}
	  ]
	}) }}

		{{ govukButton({
		  text: "Save and continue"
		}) }}

		{{ govukButton({
			text: "Save and come back later",
			classes: "govuk-button--secondary",
			href: "/progress-saved"
		  }) }}

	</form>

	

	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
