{% extends "layouts/main.html" %}

{% block pageTitle %}
Add a PAYE Scheme
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

	<h1 class="govuk-heading-xl">Add a PAYE scheme</h1>



	<p>You have already added your PAYE scheme.</p>
	<p>To change, add or amend a PAYE scheme, you need to complete setting up your Employer account first, then go to the PAYE section to make any changes.</p>


	<a class="govuk-link" href="task-list-3">Cancel</a>

	
	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
