{% extends "layout.html" %}

{% block pageTitle %}
Choose your organisation
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">
	
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				

      <form action="select-your-org-radios" method="post">
        {{ govukRadios({
          idPrefix: "choose-org",
          name: "choose-org",
          fieldset: {
            legend: {
              text: "Choose your organisation",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          
          items: [
            {
              value: "biscuit",
              text: "BISCUIT LIMITED",
              hint: {
                text: "2, High Street, Burnham On Crouch, Essex, CM0 8AA"
              }
            },
            {
              value: "BISCUIT & BAILEY'S LTD",
              text: "BISCUIT & BAILEY'S LTD",
              hint: {
                text: "65, Orchard Grove, Kip Hill, Stanley, Co Durham, DH9 8NL"
              }
            },
            {
              value: "BISCUIT & NOODLE LIMITED",
              text: "BISCUIT & NOODLE LIMITED",
              hint: {
                text: "28, Wilton Road, Bexhill On Sea, East Sussex, TN40 1EZ"
              }
            },
            {
              value: "BISCUIT AND BREW LTD",
              text: "BISCUIT AND BREW LTD",
              hint: {
                text: "12, Hounds Gate, Nottingham, NG1 7AB"
              }
            },
            {
              value: "BISCUIT AND BONES LIMITED",
              text: "BISCUIT AND BONES LIMITED",
              hint: {
                text: "Suite 1 Scotts Place, 24 Scotts Road, Bromley, Kent, BR1 3QD"
              }
            },
            {
              value: "BISCUIT BAKERY LTD",
              text: "BISCUIT BAKERY LTD",
              hint: {
                text: "3, Brocco Bank, Sheffield, S11 8RQ"
              }
            }
          ]
        }) }}
				
        {{ govukButton({
          text: "Continue"
        }) }}
        
        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: "/progress-saved"
        }) }}
      </form>


	
	
	
					
      




	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
