{% extends "layout.html" %}

{% block pageTitle %}
Create user details
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			
	<h1 class="govuk-heading-xl">Add your user details</h1>
	
	<p class="govuk-body">
		If you already have an apprenticeship service account you can <a href="#">sign in</a>.
	</p>		

	<div class="govuk-form-group">
		<label class="govuk-label" for="three-quarters">
		  <b>First name</b>
		</label>
		<input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text"></div>

	<div class="govuk-form-group">
		<label class="govuk-label" for="three-quarters">
			<b>Last name</b>
		</label>
		<input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text"></div>

		
{{ govukInsetText({
	html: "By continuing you accept the <a href='https://accounts.pp-eas.apprenticeships.education.gov.uk/service/termsAndConditions/overview?_gl=1*1ukylhu*_ga*NjkwNTUzNDczLjE2NDczNTk5MTE.*_ga_K76NWV4V41*MTY0OTc2Nzc1OS4yMy4xLjE2NDk3Njc3OTAuMA..' target='blank'> terms of use (opens in a new tab)</a>."
}) }}


{{ govukButton({
	text: "Continue",
	href: "basic-account-created"
}) }}

	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
