{% extends "layouts/main.html" %}
{% set version = "v22" %}
{% set pageTitle = "Change email address" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/training-provider-adds/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Details for Alan Lightfoot</span>
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body">
          This is the email address we will use to contact the apprentice.
        </p>

        <form class="form" action="/employer/v22/training-provider-adds/details-alan-1" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="first-name">
              Email address
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="first-name" type="first"
              value="{{ data['first-name'] or '' }}">
          </div>

          <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Why do we need an email address?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">Your apprentice will receive an email alert inviting them to the My apprenticeship
                service. On
                the service, your apprentice will be able to:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>review and confirm their apprenticeship details</li>
                <li>understand the roles and responsibilities of an apprentice, an employer and a training
                  provider
                </li>
                <li>find help and support during their apprenticeship</li>
              </ul>
            </div>
          </details>


          <div class="govuk-button-group"
            href="/employer/v2/training-provider-adds/view-apprentice-details-success.html">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
            <a class="govuk-link" href="/employer/v22/training-provider-adds/details-alan-1">Cancel</a>
          </div>
        </form>



      </div>
    </div>



  </main>
</div>

{% endblock %}

{% endblock %}