{% extends "layouts/main.html" %}
{% set version = "v17" %}
{% set pageTitle = "Request changes sent to training provider" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/training-provider-adds/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
    </div>
    <dl class="govuk-summary-list govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Funding</dt>
        <dd class="govuk-summary-list__value">Current funds</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Training provider </dt>
        <dd class="govuk-summary-list__value">EDUC8 TRAINING</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Reference</dt>
        <dd class="govuk-summary-list__value">HT345S</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Message</dt>
        <dd class="govuk-summary-list__value">{{ data['approve-message'] or 'No message added' }}</dd>
      </div>

    </dl>
    <p class="govuk-body">
      We’ll email the training provider to tell them that the details have been approved.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      You don’t need to do anything else. You can find the apprentice details in <a class="govuk-link"
        href="/training-provider/{{version}}/approvals/apprentice-requests"> Manage your apprentices</a>
    </p>
  </div>
</div>
{% endblock %}