{% extends "layouts/main.html" %}
{% set version = "v22" %}
{% set pageTitle = "Add your reference" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/training-provider-adds/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Details for Alan Lightfoot</span>
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body">
          Add a reference, such as employee number or location - this won’t be seen by your training provider.
        </p>

        <form class="form" action="/employer/v22/training-provider-adds/details-alan-1" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="reference">
              Reference
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="reference" name="reference" type="text"
              value="{{ data['reference'] or '' }}">
          </div>

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" type="submit">
              Continue
            </button>
            <a class="govuk-link" href="/employer/v22/training-provider-adds/details-alan-1">Cancel</a>
          </div>
        </form>


      </div>
    </div>

  </main>
</div>

{% endblock %}

{% endblock %}