{% extends "layout.html" %}

{% block pageTitle %}
	Confirm your identity
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

	<h1 class="govuk-heading-xl">Send me another email</h1>

		<p>We will send you an email with a new security code to name@emailaddress.com</p>

		{{ govukDetails({
			summaryText: "After several attempts, I have not received a security code",
			html: "
			<p>Check your junk folders. If you cannot find your security code the email address you entered may be wrong.</p>

			<p><a href='enter-email'>Enter your email address again</a> and check the right email address is entered. We will send a new code.</p>
			
			<p>If you still do not receive a code, try again later.</p>"
		}) }}




{{ govukButton({
	text: "Continue",
	href: "security-code"
}) }}




	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
