{% extends "layout.html" %}

{% block pageTitle %}
	Enter your PAYE scheme details		
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}


<div class="govuk-width-container">
	
	{% include "includes/back-link-save-return.html" %}

	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
	
	<h1 class="govuk-heading-xl">Enter your PAYE scheme details</h1>
	
	<p class="govuk-body">
		Enter your accounts office reference number and employer PAYE scheme reference. <!--These details will be checked against the Pensions Regulator.-->
	</p>	


		<form class="form" action="check-details" method="post">
	
	<div class="govuk-form-group">
		<label class="govuk-label" for="three-quarters">
		  <b>Accounts office reference number</b>
		</label>
		<div id="event-name-hint" class="govuk-hint">
			For example, 123PA12345678
		  </div>
		<input class="govuk-input govuk-!-width-three-quarters" id="aorn" name="aorn" type="text"></div>

		<div class="govuk-form-group">
			<label class="govuk-label" for="three-quarters">
			  <b>Employer PAYE scheme reference</b>
			</label>
			<div id="event-name-hint" class="govuk-hint">
				For example, 123/AB12345
			  </div>
			<input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text"></div>
	


		{{ govukButton({
		  text: "Continue"
		}) }}


		</form>

	</div>
  </div>
</div>

{% endblock %}

{% endblock %}
