{% extends "layout.html" %}

{% block pageTitle %}
	Using your Government Gateway details
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}




<div class="govuk-width-container">
	{% include "includes/back-link-save-return.html" %}
	
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
			


	<h1 class="govuk-heading-xl">Add a PAYE scheme using your Government Gateway details</h1>
	
	<p class="govuk-body">
		You'll now be taken to the HMRC Government Gateway site where you'll be asked to sign in using your Government Gateway credentials.
	</p>	
	
	<p class="govuk-body">
		When you sign in to your Government Gateway account you'll be asked to 'grant authority' to allow your tax details to be used.
	</p>		

	<details class="govuk-details" data-module="govuk-details">
		<summary class="govuk-details__summary">
			<span class="govuk-details__summary-text">
			How to find your Government Gateway details
			</span>
		</summary>
		<div class="govuk-details__text">
			If you have lost your Government Gateway log in details you can <a href="#">get help signing in</a>
		</div>
		</details>
		
	{{ govukWarningText({
		text: "Before you continue, you must make sure you have authority to add PAYE schemes to the account for this organisation",
		iconFallbackText: "Fallback text"
	}) }}


		{{ govukButton({
		  text: "Continue",
		  href: "government-gateway-sign-in"
		}) }}


<br><br><br><br>

	</div>
  </div>
</main>
</div>

{% endblock %}

{% endblock %}
