{% extends "layouts/main.html" %}

{% block pageTitle %}
Create your employer account
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav-sign-out.html" %}

{% block content %}

<div class="govuk-width-container">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">
		<!--	<a class="govuk-back-link" onclick="history.back()" href="#">Back</a>--> &nbsp;
		</div>
		<div class="govuk-grid-column-one-half">
				<div class="govuk-!-margin-top-3 right-aligned right-aligned--reset-on-mobile" style="text-align: right;">
					<a href="/progress-saved" class="govuk-!-font-size-19"
						data-ga-track-link="task list header"
						data-ga-track-link-category="Internal link"
						data-ga-track-link-action="save application">Save and return later</a>
				</div>
		</div>
	</div>
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		 
		  
  
		  <h1 class="govuk-heading-xl">
				Create your employer account
			  </h1>

				<h2 class="govuk-heading-s govuk-!-margin-bottom-2">Account creation incomplete</h2>
				<p class="govuk-body">You have completed 3 of 5 sections.</p>

				<div class="govuk-inset-text govuk-!-margin-bottom-7">
					If a section is labelled 'completed' your details have been saved for later; you do not have to complete all sections at once.
				</div>

				<ol class="app-task-list">
					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">1. </span> Create your user details
						</h2>
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="set-up-as-a-user" aria-describedby="eligibility-status">
										Create your user details 
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
							</li>
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									
									Verify your email address
									
								</span>
								<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
							</li>
						</ul>
					</li>

					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">2. </span> Add your organisation and PAYE scheme
						</h2>
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="add-paye-scheme" aria-describedby="eligibility-status">
										Add a PAYE scheme
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag " id="eligibility-status">Completed</strong>
							</li>
						</ul>
					</li>

					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">3. </span> Set your account name 
						</h2>
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="change-account-name">
										Set your account name 
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag " id="eligibility-status">Completed</strong>
							</li>
						</ul>
					</li>

					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">4. </span> Accept your employer agreement
						</h2>
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="employer-agreement" aria-describedby="eligibility-status">
										View and accept your employer agreement
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">In progress</strong>
							</li>
						</ul>
					</li>


					<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">5. </span> Add a training provider 
						</h2>
						
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="training-provider-choice" aria-describedby="eligibility-status">
										Add a training provider
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
							</li>
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
								
										Set your training provider permissions
									
								</span>
								<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Cannot start yet</strong>
							</li>
						</ul>
					</li>

					<!--<li>
						<h2 class="app-task-list__section">
							<span class="app-task-list__section-number">5. </span> Add a training provider 
						</h2>
						{{ govukInsetText({
							text: "You can either add a training provider now, or finish creating your account and add a training provider later."
						}) }}
						
						<ul class="app-task-list__items" style="padding-left:0">
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
									<a href="enter-ukprn" aria-describedby="eligibility-status">
										Add training provider
									</a>
								</span>
								<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
							</li>
							<li class="app-task-list__item">
								<span class="app-task-list__task-name">
								
										Set training provider permissions
									
								</span>
								<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Cannot start yet</strong>
							</li>
						</ul>
					</li>-->

					
						
				</ol>
  <!--

				{{ govukButton({
					text: "Finish creating my account",
					href: "account-setup-complete"
				}) }}
		  -->
		  

		  <!--<ol class="app-task-list">
			<li>
			  
			  <ul class="app-task-list__items" style="padding-left:0">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="set-up-as-a-user" aria-describedby="eligibility-status">
								Add employer details and confirm identity
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="add-paye-scheme" aria-describedby="eligibility-status">
								Add PAYE scheme
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="enter-ukprn" aria-describedby="eligibility-status">
								Add training provider
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="eligibility-status">Completed</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="select-permissions" aria-describedby="eligibility-status">
								Set training provider permissions
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="employer-agreement" aria-describedby="eligibility-status">
								View and accept the employer agreement
							</a>
						</span>
						<strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="eligibility-status">Not started</strong>
					</li>
				
		
  
			  </ul>
			</li>-->

	
		<!--	<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

			<p class="govuk-body">
			<a href="#">I want to finish setting up my account later</a>	
			</p>-->


			<p><a href="/progress-saved" >Save and return later</a></p>

		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

{% endblock %}
