{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  <div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
			  You've successfully added BEDFORD COLLEGE
			</h1>
		  </div>
		  
  
		 
  
		  <h2 class="govuk-heading-m">What happens next</h2>
  
		  <p class="govuk-body">
			You need to set permissions for BEDFORD COLLEGE so that they can act on your behalf.
			</p>
		  <p class="govuk-body">
			Granting permissions for your training provider BEDFORD COLLEGE to do tasks on your behalf does not give them access to your account.
		  </p>
		
		  {{ govukInsetText({
			  text: "If you do permit your training provider BEDFORD COLLEGE to do some tasks on your behalf, you will still need to approve them. You will be notified by email when you need to approve anything your training provider BEDFORD COLLEGE has done on your behalf."
		  }) }}

		  	<p class="govuk-body">
				  You can change permissions at any time.
			  <p>
		 
				{{ govukButton({
					text: "Set permissions for this training provider"
				}) }}

			<p class="govuk-body">
			<a href="#">Return to your training providers</a>	
			</p>




		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

{% endblock %}
