{% extends "layout.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  
		  
  
		 
  
		 {{ govukRadios({
			 idPrefix: "select-your-training-provider",
			 name: "select-your-training-provider",
			 fieldset: {
				 legend: {
					 text: "Select your training provider",
					 isPageHeading: true,
					 classes: "govuk-fieldset__legend--xl"
				 }
			 },
			 hint: {
				 text: "Select from the list below or add a new training provider"
			 },
			 items: [
				 {
					 value: "EDUC8 LIMITED",
					 text: "EDUC8 LIMITED"
				 },
				 {
					value: "Coventry College",
					text: "Coventry College"
				},
				
				{
					divider: "or"
				  },
				{
					value: "add a new training provider",
					text: "Add a new training provider"
				}
			 ]
		 }) }}
  
		 {{ govukButton({
			 text: "Continue"
		 }) }}




		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

{% endblock %}
