{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home - Manage apprentices
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
	  <div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		  <div class="govuk-panel govuk-panel--confirmation">
			<h1 class="govuk-panel__title">
			  You've added EDUC8 TRAINING LIMITED as a training provider and set their permissions
			</h1>
		  </div>
		  
		  <div class="govuk-grid-row govuk-!-margin-bottom-6">
			
		  <div class="govuk-grid-column-full">
			  
		 
  
		  {{ govukTable({
			 
			  firstCellIsHeader: false,
			  head: [
				  {
					  text: "Training provider name"
				  },
				  {
					  text: "Permissions"
				  },
				  {
					  text: ""
				  }
			  ],
			  rows: [
				  [
					  {
						  text: "EDUC8 TRAINING LIMITED"
					  },
					  {
						  html: "Add apprentices, <br>Cannot create job adverts"
					  },
					  {
						  html: 
						  "
						 	<a href='#' class='govuk-link'>Change permissions</a> 
						  "
					  }
				  ]
			  ]
		  }) }}
  
		  
		
  

		 <!-- <ol class="app-task-list">
			<li>
			  <h2 class="app-task-list__section">
				What do you want to do next?
			  </h2>
			  <ul class="app-task-list__items" style="padding-left:0">
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
					  <a href="#" aria-describedby="eligibility-status">
						Added PAYE scheme
					  </a>
					</span>
					<strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
				  </li>
				<li class="app-task-list__item">
				  <span class="app-task-list__task-name">
					<a href="#" aria-describedby="eligibility-status">
					  View and accept the employer agreement
					</a>
				  </span>
				  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
				</li>
				<li class="app-task-list__item">
				  <span class="app-task-list__task-name">
					<a href="#" aria-describedby="read-declaration-status">
					  Setup training provider permissions
					</a>
				  </span>
				  <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
				  
				</li>
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
						Reserve funding
					</span>
					<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Cannot start</strong>
				  </li>
  
			  </ul>
			</li>
	
			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

			<p class="govuk-body">
			<a href="#">I want to finish setting up my account later</a>	
			</p>-->

			{{ govukButton({
        text: "Continue",
        href: "task-list-3"
      }) }}

			<!--<p><a href="homepage">Back to employer account homepage</a></p>-->

		</div>

		</div>


		</div>
	  </div>
	</main>
  </div>
  
{% endblock %}

{% endblock %}
