
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Continuous improvement</span>
          <h1 class="govuk-heading-xl">Employer prototypes</h1>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                <!--START Agreements-->
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">359 - Improve legal agreements page </span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Improve legal agreements page </a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-359" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 359</a></li>
                              <li><a href="https://lucid.app/lucidspark/5d444fe0-612d-4275-8bf0-cd4d9da3c3b7/edit?beaconFlowId=35655386F4E63C8B#" class="govuk-link govuk-link--no-visited-state" target="_blank">Design ideation - Lucid board</a></li>

                         </ul>
                              <ul class="govuk-list govuk-list--bullet">
                               <li>Version 1</li>    
                               <ul class="govuk-list govuk-list--bullet">
                              <li><a href="/359/v1/table-view" class="govuk-link">Component ideas - Table component - Version 1</a></li>
                              <li><a href="/359/v1/accordion-view" class="govuk-link">Component ideas - Accordion component - Version 1</a></li>
                              </ul>
                              
                              <li>Version 2</li>
                              <ul class="govuk-list govuk-list--bullet">
                              <li><a href="/359/v2/accordion-view" class="govuk-link">Component ideas - Accordion component - Version 2</a></li>
                              <li><a href="/359/v2/table-view" class="govuk-link">Component ideas - Table component - Version 2</a></li>
                              </ul>


                              <li>Version 3 - Table view</li>
                              <ul class="govuk-list govuk-list--bullet">
                             
                              <li><a href="/359/proposed-final/accepted-and-awaiting-acceptance" class="govuk-link">Accepted and awaiting acceptance</a></li>
                              <li><a href="/359/proposed-final/first-awaiting-acceptance" class="govuk-link">First agreement awaiting acceptance</a></li>
                              <li><a href="/359/proposed-final/no-agreements-awaiting-acceptance" class="govuk-link">No agreements awaiting acceptance</a></li>
                              <li><a href="/359/proposed-final/no-agreements-awaiting-acceptance-alternative" class="govuk-link">No agreements awaiting acceptance - Alternative view</a></li>
                              </ul>



                              <li>Version 3 - Accordion view</li>
                              <ul class="govuk-list govuk-list--bullet">
                             
                              <li><a href="/359/proposed-final/accordion-accepted-and-awaiting-acceptance" class="govuk-link">Accepted and awaiting acceptance</a></li>
                              <li><a href="/359/proposed-final/first-awaiting-acceptance" class="govuk-link">First agreement awaiting acceptance</a></li>
                              <li><a href="/359/proposed-final/accordion-no-agreements--awaiting-acceptance" class="govuk-link">No agreements awaiting acceptance</a></li>
                              </ul>
                             </ul>
                              
                             

                    </div>
               </div>
               <!--END Agreements-->

                <!--START Sign in UI-->
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">355 - Improved sign in and fogotten password</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Update UI after security update to employer  sign in  CIDES-355</a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-355" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 355</a></li>
                              <li><a href="https://lucid.app/lucidspark/bdc92994-100c-46c5-8408-e7ae402b1917/edit#" class="govuk-link govuk-link--no-visited-state" target="_blank">Journey flow and mock ups - Lucid board</a></li>
                              <ul class="govuk-list govuk-list--bullet">
                                   
                              <li><a href="/355/v1/sign-in" class="govuk-link">proto flow - Version 1</a></li>
                              <li><a href="/355/v2/sign-in" class="govuk-link">proto flow - Version 2 - Reset code</a></li>
                              <li><a href="/355/v3/sign-in" class="govuk-link">proto flow - Version 3 - Reset link</a></li>
                              </ul>
                             
                              
                         </ul>
                         

                    </div>
               </div>
               <!--|END Sign in UI-->

               <!--START Terms and condiitons-->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Terms of use</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Show new terms of use to existing users CIDES-334</a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-334" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 334</a></li>
                              <li><a href="https://lucid.app/lucidspark/1baae600-79f4-474c-98be-8134a99b10a3/edit#" class="govuk-link govuk-link--no-visited-state" target="_blank">Journey flow and mock ups - Lucid board</a></li>
                              <ul class="govuk-list govuk-list--bullet">
                                   <li class="govuk-!-font-size-17 govuk-!-font-weight-bold">Optional design</li>
                              <li><a href="/334/optional/start" class="govuk-link">proto flow - Version 1 (read now or later)</a></li>
                              <li><a href="/334/optional/start-v2" class="govuk-link">proto flow - Version 2 (read now or later)</a></li>
                              </ul>
                              <ul class="govuk-list govuk-list--bullet">
                                   <li class="govuk-!-font-size-17 govuk-!-font-weight-bold">Compulsory design</li>
                              <li><a href="/334/compulsory/start" class="govuk-link">Compulsory terms of use journey</a></li>
                              
                              </ul>
                              <ul class="govuk-list govuk-list--bullet">
                                   <li class="govuk-!-font-size-17 govuk-!-font-weight-bold">Persistent banner design</li>
                              <li><a href="/334/persistent/start-v2" class="govuk-link">Persistent banner terms of use journey</a></li>
                              
                              </ul>
                              <ul class="govuk-list govuk-list--bullet">
                                   <li class="govuk-!-font-size-17 govuk-!-font-weight-bold">Error pages</li>
                              <li><a href="/334/error/updated-terms-and-conditions" class="govuk-link">Optional - Terms of use error</a></li>
                              <li><a href="/334/error/updated-terms-and-conditions-compulsory-journey" class="govuk-link">Compulsory - Terms of use error</a></li>
                              
                              </ul>
                              
                         </ul>
                         

                    </div>
               </div>
               <!--|END Terms and condiitons-->


               <!-- START Employer approve apprentice details  -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Approve apprentice details</span>
                         </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              <b>Remove notification on View apprentice details page when there are 0 apprentices</b><br><br></a>
                         </div>
     
                         <ul class="govuk-list">
                              <li><a href="approve/mvs/view-0" class="govuk-link">No notification</a></li>
                              <li><a href="approve/mvs/view-0-v2" class="govuk-link">0 total cost removed</a></li>
                         </ul>

                         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              <b>Show validation for overlapping ULNs/training dates CIDES-319</b></a>
                         </div>
     
                         <ul class="govuk-list">
                              <li>MVS</li>
                              <li><a href="https://lucid.app/lucidspark/invitations/accept/inv_9fd5a9f7-9d4f-47c2-bf3b-bcc6d1b07fea" class="govuk-link govuk-link--no-visited-state">UX mockups (Lucid)</a></li><br>
                              <li><a href="approve/mvs/overlapping-dates" class="govuk-link">Notification - overlapping training dates </a></li>
                              <li><a href="approve/mvs/incomplete-record" class="govuk-link">Notification - incomplete record </a></li>
                              <li><a href="approve/mvs/agreement" class="govuk-link">Notification - unaccepted agreement </a></li>
                              <li><a href="approve/mvs/maximum-funding" class="govuk-link">Notification - above maximum funding </a></li>
                              <li><a href="approve/mvs/message-multiple" class="govuk-link">Notification - if multiple messages</a></li>
                         </ul>
                         <br>
                         <ul class="govuk-list">
                              <li>Post MVS - showing which apprentice has the warning</li>
                              <li><a href="https://miro.com/app/board/o9J_lHe01Ew=/?moveToWidget=3074457360734605759&cot=14" class="govuk-link govuk-link--no-visited-state">UX mockups (Miro) </a></li>
                              <li><a href="https://lucid.app/lucidspark/invitations/accept/inv_9fd5a9f7-9d4f-47c2-bf3b-bcc6d1b07fea" class="govuk-link govuk-link--no-visited-state">UX mockups (Lucid) </a></li><br>
                              <li><a href="approve/overlapping-dates" class="govuk-link">Notification - overlapping training dates </a></li>
                              <li><a href="approve/incomplete-record" class="govuk-link">Notification - incomplete record </a></li>
                              <li><a href="approve/agreement" class="govuk-link">Notification - unaccepted agreement </a></li>
                              <li><a href="approve/maximum-funding" class="govuk-link">Notification - above maximum funding </a></li>
                              <li><a href="approve/message-multiple" class="govuk-link">Notification - if multiple messages</a></li>
                         </ul>
                    </div>
               </div>

               <!-- END Employer approve apprentice details  -->

               <!-- START Vacancy sharing service -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Redundancy support service</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              VSS redirect content <a href="https://skillsfundingagency.atlassian.net/browse/CIDES-296" target="_blank">CIDES-296</a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list">
                              <li><a href="vss/index" class="govuk-link">Redundancy support service</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END Vacancy sharing service -->

               <!-- START Mange apprenticeships -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Manage apprenticeships</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                              Sorting on Manage your apprentices page
                         </div>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                         <ul class="govuk-list">
                              <li><a href="manage/index" class="govuk-link">Manage apprenticeships</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END Mange apprenticeships -->

               <!-- START Cancellation -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Saved Standards</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
                              Employers can pick from their saved training providers and standards when reserving funds, creating vacancies or adding apprentices.<br>
                         </div>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                         <ul class="govuk-list">
                              <li><a href="saved-standards/advertise/index.html" class="govuk-link">Advertise: select a training provider</a></li>
                              <li><a href="saved-standards/choose-provider.html" class="govuk-link">Choose training provider</a></li>
                              <ul>
                                   <li><a href="saved-standards/choose-provider-nosaved.html" class="govuk-link">No saved provider</a></li>
                              </ul>
                              <li><a href="saved-standards/choose-standard.html" class="govuk-link">Choose standard</a></li>
                              <ul>
                                   <li><a href="saved-standards/choose-standard-nosaved.html" class="govuk-link">No saved standards</a></li>
                              </ul>
                         </ul>
                    </div>
               </div>
               <!-- END Cancellation -->

               <!-- START project X -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">Banners</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
                              Review banners on the Apprenticeship details page (Employer and Training Provider portal)
                         </div>
                    </div>
                    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                         
                         <p class="govuk-body"><b>Training Provider</b>
                         <br><br><a href="banners/tp" class="govuk-link">Banner rework (Training Provider)</a></p>

                         <ul class="govuk-list">
                              <li><a href="banners/change-pending-employer-approval" class="govuk-link">1. Change pending Employer approval (Training Provider)</a></li>
                              <li><a href="banners/change-pending-provider-approval" class="govuk-link">2. Change pending Provider approval (Training Provider)</a></li>
                              <li><a href="banners/change-of-employer-awaiting-employer" class="govuk-link">3. Change of employer (CoE) in-flight awaiting Employer (Training Provider)</a></li>
                              <li><a href="banners/change-of-employer-awaiting-provider" class="govuk-link">4. Change of employer (CoE) in-flight awaiting Provider (Training Provider)</a></li>
                              <li><a href="banners/datalock-request-change" class="govuk-link">5. Datalock: Request change (Training Provider)</a></li>
                              <li><a href="banners/datalock-request-restart" class="govuk-link">6. Datalock: Request re-start (Training Provider)</a></li>
                              <li><a href="banners/datalock-price-course-mismatch" class="govuk-link">7. Datalock: Price / course mismatch (Training Provider)</a></li>
                              <li><a href="banners/datalock-employer-action-pending" class="govuk-link">8. Datalock: Employer action pending (Training Provider)</a></li>
                         </ul>

                         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                         <p class="govuk-body"><b>Employer</b></p>

                         <ul class="govuk-list">
                              <li><a href="banners/index.html" class="govuk-link">NEW - Banner rework (Employer)</a></li>
                              <li><a href="banners/employer.html" class="govuk-link">Banner rework (Employer)</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END project X -->

               <!-- START project Y -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Project Y</span>
                         </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                         <ul class="govuk-list">
                              <li><a href="#" class="govuk-link">Link to prototype</a></li>
                              <li><a href="#" class="govuk-link">Link to prototype</a></li>
                              <li><a href="#" class="govuk-link">Link to prototype</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END project Y -->


          </div>

     </div>


</div>
{% endblock %}
