
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Manage apprenticeship</span>
          <h1 class="govuk-heading-xl">Employer prototypes</h1>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

               <!-- START spend control -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Spend control</span>
                         </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-449" target="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 449</a></li>
                              <li><a href="https://lucid.app/lucidspark/6a579e30-b4c4-4474-ac39-3fe284075f56/edit?invitationId=inv_0ae54d83-132d-4af3-afa6-28a498d90322#" target="_blank" class="govuk-link govuk-link--no-visited-state">Lucid thinking board</a></li>
                         </ul>

                         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                         <p class="govuk-body">
                              <b>Ticket 449 - Refine solution ideas</b>
                         </p>

                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="spend-control/reserve-funding" class="govuk-link govuk-link--no-visited-state">Reserve funding journey - Apprenticeship funding is not available for this course page</a></li>
                              <li><a href="spend-control/reserve-funding-combined" class="govuk-link govuk-link--no-visited-state">Reserve funding journey - Combined course and dates - Apprenticeship funding is not available for this course page</a></li>
                              <li><a href="spend-control/which-course-disabled.html" class="govuk-link govuk-link--no-visited-state">Course list select menu - Funding unavailable disabled option</a></li>
                              <li><a href="/spend-control/happy-path/reserve-funding" class="govuk-link govuk-link--no-visited-state">Reserve funding journey - happy path with new content for categories</a></li>
                         </ul>
                    
                    </div>
               </div>
               <!-- END spend control -->




               <!--START college feedback quick wins-->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">College feedback sessions - registration journey </span>
                         </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-411" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 408</a></li>
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-416" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 416</a></li>
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-436" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 436</a></li>
                              <li><a href="https://lucid.app/lucidspark/c1ca57e6-2bf3-49ec-87d5-171c4d2a28c1/edit?invitationId=inv_4cd10bff-dd13-4d24-bfc9-91c3c84c13b0" target ="_blank" class="govuk-link govuk-link--no-visited-state">Lucid board</a></li>
                              <li><a href="https://docs.google.com/presentation/d/1J_cppft4tbKMOPFMwdANT7ZAZhBYuCkdJSViOZMIdAQ/edit#slide=id.ge642970e69_0_9" target ="_blank" class="govuk-link govuk-link--no-visited-state">UR findings</a></li>
                              <li><a href="https://docs.google.com/presentation/d/1QslzjwWwquULqGorrhJlCFxQWvm0_NN4f8iaEZQN8Gw/edit#slide=id.g11b061cb8ab_0_0" target="_blank" class="govuk-link govuk-link--no-visited-state">UR playback for 436 v3</a></li>
                              <li><a href="https://docs.google.com/presentation/d/1YElm19prdVYj5tfnYhJwhrfnXKufDviZGGmSJJpPOOQ/edit#slide=id.g11b061cb8ab_0_0" target="_blank"  class="govuk-link govuk-link--no-visited-state">UR playback for 436 v4</a></li>
                              
                              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                              <p class="govuk-body">
                                   <h2 class="govuk-heading-m">New employer account registration</h2>
                                   <b>Ticket 436 - Build end-to-end prototype for sub-journeys in scope for College feedback </b>
                                   </p>

                                   <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                          <span class="govuk-details__summary-text">
                                            Previous versions 
                                          </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                          
                                             <p> <a href="436/email-to-employer" class="govuk-link govuk-link--no-visited-state">436 - Employer account setup with task list pattern - end-to-end prototype</a>  </p>
                                             <p> <a href="436/v2/email-to-employer" class="govuk-link govuk-link--no-visited-state">436 v2 - Employer account setup with task list pattern - added step for change account name and made add training provider step optional</a>  </p>

                                             

                                             <p><strong>Ticket 436 v3</strong></p>
                                             <form action="436/v3/email-to-employer" id="form" method="post">
                                                  {{ govukSelect({
                                                    id: "user-type",
                                                    name: "user-type",
                                                    label: {
                                                      text: "Choose user type"
                                                    },
                                                    items: [
                                                      {
                                                        value: "email",
                                                        text: "Invited by email from training provider",
                                                        selected: true
                                                      },
                                                      {
                                                        value: "elsewhere",
                                                        text: "Arrives from elsewhere"
                                                      }
                                                      
                                                    ]
                                                  }) }}
                                    
                                                  {{ govukButton({
                                                    text: "View prototype"
                                                  }) }}
                                                </form>

                                                <p><a href="https://docs.google.com/presentation/d/1QslzjwWwquULqGorrhJlCFxQWvm0_NN4f8iaEZQN8Gw/edit#slide=id.g11b061cb8ab_0_0" target="_blank"  class="govuk-link govuk-link--no-visited-state">UR playback for round of testing on v3</a></p>

                                                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                                                
                                                <p><strong>Ticket 436 v4</strong></p>
                                                <form action="436/v4/email-to-employer" id="form" method="post">
                                                     {{ govukSelect({
                                                       id: "user-type",
                                                       name: "user-type",
                                                       label: {
                                                         text: "Choose user type"
                                                       },
                                                       items: [
                                                         {
                                                           value: "email",
                                                           text: "Invited by email from training provider",
                                                           selected: true
                                                         },
                                                         {
                                                           value: "elsewhere",
                                                           text: "Arrives from elsewhere"
                                                         }
                                                         
                                                       ]
                                                     }) }}
                                       
                                                     {{ govukButton({
                                                       text: "View prototype"
                                                     }) }}
                                                   </form>

                                                   <p><a href="https://docs.google.com/presentation/d/1YElm19prdVYj5tfnYhJwhrfnXKufDviZGGmSJJpPOOQ/edit#slide=id.g11b061cb8ab_0_0" target="_blank"  class="govuk-link govuk-link--no-visited-state">UR playback for round of testing on v4</a></p>

                                                   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                                                
                                                <p><strong>Ticket 436 v5</strong></p>

                                                <form action="436/v5/email-to-employer" id="form" method="post">
                                                     {{ govukSelect({
                                                       id: "user-type",
                                                       name: "user-type",
                                                       label: {
                                                         text: "Choose user type"
                                                       },
                                                       items: [
                                                         {
                                                           value: "email",
                                                           text: "Invited by email from training provider",
                                                           selected: true
                                                         },
                                                         {
                                                           value: "elsewhere",
                                                           text: "Arrives from elsewhere"
                                                         }
                                                         
                                                       ]
                                                     }) }}
                                       
                                                     {{ govukButton({
                                                       text: "View prototype"
                                                     }) }}
                                                   </form>

                                                   <p><a href="#" target="_blank"  class="govuk-link govuk-link--no-visited-state">UR playback for round of testing on v5</a></p>
                                        </div>
                                      </details>
                                   
                                   
                              
                             
                             


                                 <p><strong>Ticket 436 V9</strong></p>

                                 <div class="govuk-inset-text">
                                   Changes made to include Steps 4 and 5 and <a href="https://www.sign-in.service.gov.uk/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">GOV.UK Sign in (opens in new tab)</a>.
                                 </div>

                                 <form action="436/v9/email-to-employer" id="form" method="post">
                                      {{ govukSelect({
                                        id: "user-type",
                                        name: "user-type",
                                        label: {
                                          text: "Choose user type"
                                        },
                                        items: [
                                          {
                                            value: "email",
                                            text: "Invited by email from training provider",
                                            selected: true
                                          },
                                          {
                                            value: "elsewhere",
                                            text: "Arrives from elsewhere"
                                          }
                                          
                                        ]
                                      }) }}
                        
                                      {{ govukButton({
                                        text: "View prototype"
                                      }) }}
                                    </form>

                                    <p><strong>Notification emails</strong></p>
                                    <p><a href="436/v9/welcome-email">Thank you for setting up an account</a></p>


                                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                               
                              <p class="govuk-body">
                                   <b>Ticket 416 - Improvements to provider permissions </b>
                              <li> <a href="416/check-details" class="govuk-link">416 - task list - post check details screen</a>  </li>
                              <li> <a href="416/v2/check-details" class="govuk-link">416 v2 - standalone task list pages - post check details screen</a>  </li>
                         </p>

                              <p class="govuk-body">
                                   <b>Ticket 418 - Invite email </b>
                                   <li> <a href="account-registration/411/418/invite-email" class="govuk-link">418 - Email sent by Provider (using DAS) to the employer inviting them to create an account</a>  </li>
                              </p>

                              <p class="govuk-body">
                                   <b>Ticket 419 - Employer create account journey </b>
                                   <li> <a href="account-registration/411/create-account" class="govuk-link">419 - Employer create an account</a>  </li>
                              </p>

                              <p class="govuk-body">
                                   <b>Ticket 420 - Rename account </b>
                              <li> <a href="account-registration/411/check-details" class="govuk-link">420 - Employer check account name (create account) </a>  </li>
                              <li> <a href="account-registration/411/420/homepage" class="govuk-link">420 - Employer hompepage </a>  </li>
                         </p>

                    </div>
               </div>
               <!--END college feedback quick wins-->

               <!--START Review transfer journey-->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">398 - Review transfer journey for any content or design changes </span>
                         </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-398" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 398</a></li>
                              <li><a href="https://lucid.app/lucidspark/6fe16cad-8c51-46d9-be66-4abc8e618c12/edit?from_docslist=true&invitationId=inv_feb2a7fb-774f-4286-a18d-d3ddd81fa48a#" target ="_blank" class="govuk-link govuk-link--no-visited-state">Lucid board</a></li>
                              <li> <a href="398/employer" class="govuk-link">Revised error message - NO LONGER USED - not to be included in the ticket</a>  </li>
                              <li> <a href="398/receiver-sender-tag" class="govuk-link">Receiver / Sender tag</a>  </li>
                    </div>
               </div>
               <!--END Review transfer journey-->
                <!--START EI banner-->
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">397 - Update banner for employer incentives </span>
                         </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-397" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 397</a></li>
                              <li><a href="397/homepage" class="govuk-link govuk-link--no-visited-state">Notification banner on homepage</a></li>
                    </div>
               </div>
               <!--END EI banner-->


                <!--START Employer account ID-->
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">368 - Employer account ID vs agreement ID </span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Reduce confusion between the Account ID and Agreement ID </a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-368" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 363</a></li>
                              <li><a href="https://lucid.app/lucidspark/29d3078c-43cd-4f47-81e6-fff881ac43bc/edit?invitationId=inv_2ee177b5-6c1f-4afb-b132-cdc908b6e0f3" class="govuk-link govuk-link--no-visited-state" target="_blank">Design ideation - Lucid board</a></li>
                              
                              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                              <li><a href="/368/homepage" class="govuk-link govuk-link--no-visited-state" target="_blank">Employer account homepage - only one organisation/agreement ID</a></li>
                              <li><a href="/368/homepage-multiple" class="govuk-link govuk-link--no-visited-state" target="_blank">Employer account homepage - has more than one organisation/agreement ID</a></li>
                              <li><a href="/368/organisations-and-agreements-v1" class="govuk-link govuk-link--no-visited-state" target="_blank">Your organisations and agreements page</a></li>
                         </ul>

                    </div>
               </div>
               <!--END employer account ID-->



                <!--START Funding projection tool-->
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">363 - Funding projection tool </span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Quick wins to improve context and use </a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-363" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 363</a></li>
                              <li><a href="https://lucid.app/lucidspark/cec65424-f195-4ad1-81db-02bffc040494/edit#" class="govuk-link govuk-link--no-visited-state" target="_blank">Design ideation - Lucid board</a></li>
                              <li><a href="/363/before-you-start" class="govuk-link govuk-link--no-visited-state" target="_blank">Before you start - Version 1</a></li>
                              <li><a href="/363/v2/before-you-start" class="govuk-link govuk-link--no-visited-state" target="_blank">Before you start - Version 2</a></li>
                              <li><a href="/363/v2/finance" class="govuk-link govuk-link--no-visited-state" >projection funding tool - mini flow - Version 2</a></li>
                              <li><a href="/363/v3/finance" class="govuk-link govuk-link--no-visited-state" >projection funding tool - mini flow - Version 3</a></li>
                         </ul>

                    </div>
               </div>
               <!--END funding projection tool-->

               <!-- START employer approvals enhancements -->

               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">386 - Enhancements to employer approve apprentice details </span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Highlight incomplete records on Approve apprentice details page in Employers </a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
               <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-386" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 386</a></li>
               <li><a href="/386/incomplete-record" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - incomplete apprentice record</a></li>
               <li><a href="/386/incomplete-record-multiple-warnings" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - multiple warnings</a></li>
               <li><a href="/386/incomplete-record-multiple-warnings-one-learner" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - multiple warnings for one learner</a></li>
                         </ul>          
                    </div>
               </div>
               

               <!-- END employer approvals enhancements -->


                <!--START Agreements-->
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">359 - Improve legal agreements page </span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Improve legal agreements page </a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-359" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 359</a></li>
                              <li><a href="https://lucid.app/lucidspark/5d444fe0-612d-4275-8bf0-cd4d9da3c3b7/edit?beaconFlowId=35655386F4E63C8B#" class="govuk-link govuk-link--no-visited-state" target="_blank">Design ideation - Lucid board</a></li>

                         </ul>
                              <ul class="govuk-list govuk-list--bullet">
                               <li>Version 1</li>    
                               <ul class="govuk-list govuk-list--bullet">
                              <li><a href="/359/v1/table-view" class="govuk-link">Component ideas - Table component - Version 1</a></li>
                              <li><a href="/359/v1/accordion-view" class="govuk-link">Component ideas - Accordion component - Version 1</a></li>
                              </ul>
                              
                              <li>Version 2</li>
                              <ul class="govuk-list govuk-list--bullet">
                              <li><a href="/359/v2/accordion-view" class="govuk-link">Component ideas - Accordion component - Version 2</a></li>
                              <li><a href="/359/v2/table-view" class="govuk-link">Component ideas - Table component - Version 2</a></li>
                              </ul>


                              <li>Version 3 - Table view</li>
                              <ul class="govuk-list govuk-list--bullet">
                             
                              <li><a href="/359/v3/accepted-and-awaiting-acceptance" class="govuk-link">Accepted and awaiting acceptance</a></li>
                              <li><a href="/359/v3/first-awaiting-acceptance" class="govuk-link">First agreement awaiting acceptance</a></li>
                              <li><a href="/359/v3no-agreements-awaiting-acceptance" class="govuk-link">No agreements awaiting acceptance</a></li>
                              <li><a href="/359/v3/no-agreements-awaiting-acceptance-alternative" class="govuk-link">No agreements awaiting acceptance - Alternative view</a></li>
                              </ul>



                              <li>Version 3 - Accordion view</li>
                              <ul class="govuk-list govuk-list--bullet">
                             
                              <li><a href="/359/v3/accordion-accepted-and-awaiting-acceptance" class="govuk-link">Accepted and awaiting acceptance</a></li>
                              <li><a href="/359/v3/first-awaiting-acceptance" class="govuk-link">First agreement awaiting acceptance</a></li>
                              <li><a href="/359/v3/accordion-no-agreements--awaiting-acceptance" class="govuk-link">No agreements awaiting acceptance</a></li>
                              </ul>

                              <li>Proposed final - Accordion view</li>
                              <ul class="govuk-list govuk-list--bullet">
                             
                              <li><a href="/359/proposed-final/accordion-accepted-and-awaiting-acceptance" class="govuk-link">Accepted and awaiting acceptance</a></li>
                              <li><a href="/359/proposed-final/first-awaiting-acceptance" class="govuk-link">First agreement awaiting acceptance</a></li>
                              <li><a href="/359/proposed-final/accordion-no-agreements--awaiting-acceptance" class="govuk-link">No agreements awaiting acceptance</a></li>
                              </ul>


                             </ul>
                              
                             

                    </div>
               </div>
               <!--END Agreements-->

                <!--START Sign in UI-->
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">355 - Improved sign in and fogotten password</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Update UI after security update to employer  sign in  CIDES-355</a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-355" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 355</a></li>
                              <li><a href="https://lucid.app/lucidspark/bdc92994-100c-46c5-8408-e7ae402b1917/edit#" class="govuk-link govuk-link--no-visited-state" target="_blank">Journey flow and mock ups - Lucid board</a></li>
                              <ul class="govuk-list govuk-list--bullet">
                                   
                              <li><a href="/355/v1/sign-in" class="govuk-link">proto flow - Version 1</a></li>
                              <li><a href="/355/v2/sign-in" class="govuk-link">proto flow - Version 2 - Reset code</a></li>
                              <li><a href="/355/v3/sign-in" class="govuk-link">proto flow - Version 3 - Reset link</a></li>
                              </ul>
                             
                              
                         </ul>
                         

                    </div>
               </div>
               <!--|END Sign in UI-->

               <!--START Terms and condiitons-->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Terms of use</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Show new terms of use to existing users CIDES-334</a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-334" target ="_blank" class="govuk-link govuk-link--no-visited-state">Jira ticket 334</a></li>
                              <li><a href="https://lucid.app/lucidspark/1baae600-79f4-474c-98be-8134a99b10a3/edit#" class="govuk-link govuk-link--no-visited-state" target="_blank">Journey flow and mock ups - Lucid board</a></li>
                              <ul class="govuk-list govuk-list--bullet">
                                   <li class="govuk-!-font-size-17 govuk-!-font-weight-bold">Optional design</li>
                              <li><a href="/334/optional/start" class="govuk-link">proto flow - Version 1 (read now or later)</a></li>
                              <li><a href="/334/optional/start-v2" class="govuk-link">proto flow - Version 2 (read now or later)</a></li>
                              </ul>
                              <ul class="govuk-list govuk-list--bullet">
                                   <li class="govuk-!-font-size-17 govuk-!-font-weight-bold">Compulsory design</li>
                              <li><a href="/334/compulsory/start" class="govuk-link">Compulsory terms of use journey</a></li>
                              
                              </ul>
                              <ul class="govuk-list govuk-list--bullet">
                                   <li class="govuk-!-font-size-17 govuk-!-font-weight-bold">Persistent banner design</li>
                              <li><a href="/334/persistent/start-v2" class="govuk-link">Persistent banner terms of use journey</a></li>
                              
                              </ul>
                              <ul class="govuk-list govuk-list--bullet">
                                   <li class="govuk-!-font-size-17 govuk-!-font-weight-bold">Error pages</li>
                              <li><a href="/334/error/updated-terms-and-conditions" class="govuk-link">Optional - Terms of use error</a></li>
                              <li><a href="/334/error/updated-terms-and-conditions-compulsory-journey" class="govuk-link">Compulsory - Terms of use error</a></li>
                              
                              </ul>
                              
                         </ul>
                         

                    </div>
               </div>
               <!--|END Terms and condiitons-->


               <!-- START Employer approve apprentice details  -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Approve apprentice details</span>
                         </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              <b>Remove notification on View apprentice details page when there are 0 apprentices</b><br><br></a>
                         </div>
     
                         <ul class="govuk-list">
                              <li><a href="approve/mvs/view-0" class="govuk-link">No notification</a></li>
                              <li><a href="approve/mvs/view-0-v2" class="govuk-link">0 total cost removed</a></li>
                         </ul>

                         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              <b>Show validation for overlapping ULNs/training dates CIDES-319</b></a>
                         </div>
     
                         <ul class="govuk-list">
                              <li>MVS</li>
                              <li><a href="https://lucid.app/lucidspark/invitations/accept/inv_9fd5a9f7-9d4f-47c2-bf3b-bcc6d1b07fea" class="govuk-link govuk-link--no-visited-state">UX mockups (Lucid)</a></li><br>
                              <li><a href="approve/mvs/overlapping-dates" class="govuk-link">Notification - overlapping training dates </a></li>
                              <li><a href="approve/mvs/incomplete-record" class="govuk-link">Notification - incomplete record </a></li>
                              <li><a href="approve/mvs/agreement" class="govuk-link">Notification - unaccepted agreement </a></li>
                              <li><a href="approve/mvs/maximum-funding" class="govuk-link">Notification - above maximum funding </a></li>
                              <li><a href="approve/mvs/message-multiple" class="govuk-link">Notification - if multiple messages</a></li>
                         </ul>
                         <br>
                         <ul class="govuk-list">
                              <li>Post MVS - showing which apprentice has the warning</li>
                              <li><a href="https://miro.com/app/board/o9J_lHe01Ew=/?moveToWidget=3074457360734605759&cot=14" class="govuk-link govuk-link--no-visited-state">UX mockups (Miro) </a></li>
                              <li><a href="https://lucid.app/lucidspark/invitations/accept/inv_9fd5a9f7-9d4f-47c2-bf3b-bcc6d1b07fea" class="govuk-link govuk-link--no-visited-state">UX mockups (Lucid) </a></li><br>
                              <li><a href="approve/overlapping-dates" class="govuk-link">Notification - overlapping training dates </a></li>
                              <li><a href="approve/incomplete-record" class="govuk-link">Notification - incomplete record </a></li>
                              <li><a href="approve/agreement" class="govuk-link">Notification - unaccepted agreement </a></li>
                              <li><a href="approve/maximum-funding" class="govuk-link">Notification - above maximum funding </a></li>
                              <li><a href="approve/message-multiple" class="govuk-link">Notification - if multiple messages</a></li>
                         </ul>
                    </div>
               </div>

               <!-- END Employer approve apprentice details  -->

               <!-- START Vacancy sharing service -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Redundancy support service</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              VSS redirect content <a href="https://skillsfundingagency.atlassian.net/browse/CIDES-296" target="_blank">CIDES-296</a>
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list">
                              <li><a href="vss/index" class="govuk-link">Redundancy support service</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END Vacancy sharing service -->

               <!-- START Mange apprenticeships -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Manage apprenticeships</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                              Sorting on Manage your apprentices page
                         </div>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                         <ul class="govuk-list">
                              <li><a href="manage/index" class="govuk-link">Manage apprenticeships</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END Mange apprenticeships -->

               <!-- START Cancellation -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Saved Standards</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
                              Employers can pick from their saved training providers and standards when reserving funds, creating vacancies or adding apprentices.<br>
                         </div>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                         <ul class="govuk-list">
                              <li><a href="saved-standards/advertise/index.html" class="govuk-link">Advertise: select a training provider</a></li>
                              <li><a href="saved-standards/choose-provider.html" class="govuk-link">Choose training provider</a></li>
                              <ul>
                                   <li><a href="saved-standards/choose-provider-nosaved.html" class="govuk-link">No saved provider</a></li>
                              </ul>
                              <li><a href="saved-standards/choose-standard.html" class="govuk-link">Choose standard</a></li>
                              <ul>
                                   <li><a href="saved-standards/choose-standard-nosaved.html" class="govuk-link">No saved standards</a></li>
                              </ul>
                         </ul>
                    </div>
               </div>
               <!-- END Cancellation -->

               <!-- START project X -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">Banners</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
                              Review banners on the Apprenticeship details page (Employer and Training Provider portal)
                         </div>
                    </div>
                    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                         
                         <p class="govuk-body"><b>Training Provider</b>
                         <br><br><a href="banners/tp" class="govuk-link">Banner rework (Training Provider)</a></p>

                         <ul class="govuk-list">
                              <li><a href="banners/change-pending-employer-approval" class="govuk-link">1. Change pending Employer approval (Training Provider)</a></li>
                              <li><a href="banners/change-pending-provider-approval" class="govuk-link">2. Change pending Provider approval (Training Provider)</a></li>
                              <li><a href="banners/change-of-employer-awaiting-employer" class="govuk-link">3. Change of employer (CoE) in-flight awaiting Employer (Training Provider)</a></li>
                              <li><a href="banners/change-of-employer-awaiting-provider" class="govuk-link">4. Change of employer (CoE) in-flight awaiting Provider (Training Provider)</a></li>
                              <li><a href="banners/datalock-request-change" class="govuk-link">5. Datalock: Request change (Training Provider)</a></li>
                              <li><a href="banners/datalock-request-restart" class="govuk-link">6. Datalock: Request re-start (Training Provider)</a></li>
                              <li><a href="banners/datalock-price-course-mismatch" class="govuk-link">7. Datalock: Price / course mismatch (Training Provider)</a></li>
                              <li><a href="banners/datalock-employer-action-pending" class="govuk-link">8. Datalock: Employer action pending (Training Provider)</a></li>
                         </ul>

                         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                         <p class="govuk-body"><b>Employer</b></p>

                         <ul class="govuk-list">
                              <li><a href="banners/index.html" class="govuk-link">NEW - Banner rework (Employer)</a></li>
                              <li><a href="banners/employer.html" class="govuk-link">Banner rework (Employer)</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END project X -->

               <!-- START project Y -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Project Y</span>
                         </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                         <ul class="govuk-list">
                              <li><a href="#" class="govuk-link">Link to prototype</a></li>
                              <li><a href="#" class="govuk-link">Link to prototype</a></li>
                              <li><a href="#" class="govuk-link">Link to prototype</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END project Y -->


          </div>

     </div>


</div>
{% endblock %}
