{% extends "layout.html" %}

{% block pageTitle %}
Your progress has been saved
{% endblock %}


{% block main %}

{% include "includes/account-header-no-nav.html" %}

{% block content %}
<div class="govuk-width-container">

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">You have signed out</h1>

                <p><a href="#">Sign in again</a></p>



    </div>
  </div>
</main>
</div>

  {% endblock %}

  {% endblock %}
