{% extends "layouts/main.html" %}
{% set version = "v1" %}
{% set pageTitle = "Add apprentice(s)" %}

{% block pageTitle %}
{{pageTitle}}
{% endblock %}

{% block header %}
{% include "includes/header.html" %}
{% include "includes/employer-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/v2/employer-adds/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Finance</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/employer/{{version}}/#">Adverts</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/employer/{{version}}/apprentice/">Apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your team</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/employer/{{version}}/#">Your organisations and agreements</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/employer/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/employer/{{version}}/#">PAYE schemes</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block main %}
{% block content %}

<div class="govuk-width-container">

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.go(-1);"
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <p class="govuk-body">You can choose to add new apprentices or ask a training provider to add apprentices for
          you.</p>


        <form class="form govuk-!-padding-top-5" action="/employer/v2/employer-adds/employer-add-or-TP-add"
          method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Do you want to add the apprentice details?
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="who-adds-action" name="who-adds-action" type="radio"
                    value="yes-add" aria-describedby="who-adds-action-hint">
                  <label class="govuk-label govuk-radios__label" for="who-adds-action">
                    Yes, I will add the apprentice(s) details
                  </label>
                  <div id="who-adds-action-hint" class="govuk-hint govuk-radios__hint">

                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="who-adds-action-2" name="who-adds-action" type="radio"
                    value="no-request" aria-describedby="who-adds-action-2-hint">
                  <label class="govuk-label govuk-radios__label" for="who-adds-action-3">
                    I would like my training provider to add the apprentice details
                  </label>
                  <div id="who-adds-action-hint" class="govuk-hint govuk-radios__hint">

                  </div>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

      </div>
    </div>

</div>
</div>




</div>
</div>

</main>
</div>

{% endblock %}

{% endblock %}