{% extends "layouts/main.html" %}
{% set version = "v3" %}
{% if data['approve-details'] == "yes" %}
{% set pageTitle = "Cohort approved and sent to employer" %}
{% else %}
{% set pageTitle = "Cohort sent to employer for review" %}
{% endif %}


{% block header %}
{% include "includes/header.html" %}
{% include "includes/training-provider-account-header.html" %}
<nav class="das-navigation">
  <div class="govuk-width-container">
    <ul class="das-navigation__list ">
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/index">Home</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link das-navigation__link--current"
          href="/training-provider/{{version}}/approvals/apprentice-requests">Apprentice requests</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link " href="/training-provider/{{version}}/reserve-reservations-pro">Manage
          funding</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/manage/index">Manage your apprentices</a>
      </li>
      <li class="das-navigation__list-item">
        <a class="das-navigation__link" href="/training-provider/{{version}}/#">Recruit apprentices</a>
      </li>
      <li class="das-navigation__priority-list-item" id="priority-list-menu"><a class="das-navigation__priority-button"
          href="/training-provider/{{version}}/#">More</a>
        <ul class="das-navigation__priority-list govuk-visually-hidden">
          <li class="das-navigation__list-item">
            <a class="das-navigation__link" href="/training-provider/{{version}}/#">Organisations and agreements</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.go(-1);"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">{{ pageTitle }}</h1>
    </div>
    <dl class="govuk-summary-list govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Cohort reference</dt>
        <dd class="govuk-summary-list__value">N6JNL8</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sent to </dt>
        <dd class="govuk-summary-list__value">BAMBINOS DAY NURSEY LIMITED</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">On behalf of</dt>
        <dd class="govuk-summary-list__value">YOUR TRAINING PROVIDER NAME</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Message</dt>
        <dd class="govuk-summary-list__value">{{ data['approve-message'] or 'No message added' }}</dd>
      </div>

    </dl>


    <h2 class="govuk-heading-m">What happens next</h2>
    {% if data['approve-details'] == "yes" %}
    <p class="govuk-body">
      The employer has 2 weeks to review and approve the cohort. If they don’t do this within 2 weeks, the request will
      be
      sent back to you.
    </p>
    {% else %}
    <p class="govuk-body">
      The employer has 2 weeks to review and approve the cohort. If they don’t do this within 2 weeks, the request will
      be
      sent back to you.
    </p>
    {% endif %}
    <p class="govuk-body"><a class="govuk-link" href="/training-provider/{{version}}/approvals/apprentice-requests"> Go
        to Apprentice
        requests</a></a>

    <p class="govuk-body"><a class="govuk-link" href="/training-provider/{{version}}/">Go to homepage</a></p>
    <br>

    <a id="continue-button" role="button" draggable="false" class="govuk-button govuk-button--secondary"
      href="/training-provider/v6/approvals/add/cohort-type">
      Go back to cohort settings
    </a>
  </div>
</div>
{% endblock %}